06_Dify工作流/4-三线一单管控内容一致性判定.yml
app:
  description: 不迭代版：一次性筛选、提取、审查、清洗输出
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 4-三线一单管控内容一致性判定_不迭代
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.30@c8acdf4467408345fc51d3d9e45484614295b9f7c4d20ff0ce03940368bf286a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1748403249066-source-1840000000001-target
      source: '1748403249066'
      sourceHandle: source
      target: '1840000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1840000000001-source-1840000000002-target
      source: '1840000000001'
      sourceHandle: source
      target: '1840000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1840000000002-source-1840000000003-target
      source: '1840000000002'
      sourceHandle: source
      target: '1840000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1840000000003-source-1840000000004-target
      source: '1840000000003'
      sourceHandle: source
      target: '1840000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1840000000004-source-1840000000005-target
      source: '1840000000004'
      sourceHandle: source
      target: '1840000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1840000000005-source-1840000000006-target
      source: '1840000000005'
      sourceHandle: source
      target: '1840000000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1840000000006-source-1750245255931-target
      source: '1840000000006'
      sourceHandle: source
      target: '1750245255931'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: html
          max_length: 1000000
          options: []
          required: true
          type: paragraph
          variable: html
      height: 108
      id: '1748403249066'
      position:
        x: 0
        y: 300
      positionAbsolute:
        x: 0
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport ast\nimport re\nimport html as html_lib\n\nKEYWORDS\
          \ = [('三线一单', 25), ('生态环境准入清单', 22), ('环境管控单元', 25), ('管控单元编码', 20), ('ZH\\\
          \\d{9,}', 20), ('区域布局管控', 25), ('能源资源利用', 25), ('污染物排放管控', 25), ('环境风险防控',\
          \ 25), ('准入要求', 15), ('相符性', 12), ('管控要求', 16)]\nSECTION_STARTS = ['三线一单',\
          \ '生态环境准入清单', '环境管控单元', '与.*三线一单.*相符性']\nSECTION_ENDS = ['四[、.．]\\\\s*主要环境影响',\
          \ '主要环境影响和保护措施', '五[、.．]\\\\s*环境保护措施']\nMAX_LEN = 18000\n\n\ndef _strip_code_fence(text:\
          \ str) -> str:\n    text = (text or \"\").strip()\n    text = re.sub(r\"\
          ^```(?:json)?\\s*\", \"\", text, flags=re.I)\n    text = re.sub(r\"\\s*```$\"\
          , \"\", text).strip()\n    return text\n\n\ndef _parse_input(raw: str):\n\
          \    raw = _strip_code_fence(raw)\n    try:\n        return json.loads(raw)\n\
          \    except Exception:\n        try:\n            return ast.literal_eval(raw)\n\
          \        except Exception:\n            return raw\n\n\ndef _to_chunks(data):\n\
          \    chunks = []\n    if isinstance(data, list):\n        for i, item in\
          \ enumerate(data):\n            if isinstance(item, dict):\n           \
          \     content = item.get(\"content\") or item.get(\"text\") or item.get(\"\
          markdown\") or item.get(\"html\") or json.dumps(item, ensure_ascii=False)\n\
          \                title = item.get(\"title\") or item.get(\"path\") or item.get(\"\
          heading\") or \"\"\n                chunks.append({\"id\": str(item.get(\"\
          id\", i)), \"title\": str(title), \"content\": str(content), \"order\":\
          \ i})\n            else:\n                chunks.append({\"id\": str(i),\
          \ \"title\": \"\", \"content\": str(item), \"order\": i})\n        return\
          \ chunks\n    if isinstance(data, dict):\n        content = data.get(\"\
          content\") or data.get(\"text\") or data.get(\"markdown\") or data.get(\"\
          html\") or json.dumps(data, ensure_ascii=False)\n        title = data.get(\"\
          title\") or data.get(\"path\") or data.get(\"heading\") or \"\"\n      \
          \  return [{\"id\": str(data.get(\"id\", \"0\")), \"title\": str(title),\
          \ \"content\": str(content), \"order\": 0}]\n    return [{\"id\": \"0\"\
          , \"title\": \"\", \"content\": str(data), \"order\": 0}]\n\n\ndef _clean_html(text:\
          \ str) -> str:\n    text = html_lib.unescape(text or \"\")\n    replacements\
          \ = [\n        (r\"</tr\\s*>\", \"\\n\"),\n        (r\"</td\\s*>\", \" |\
          \ \"),\n        (r\"</th\\s*>\", \" | \"),\n        (r\"</p\\s*>\", \"\\\
          n\"),\n        (r\"<br\\s*/?>\", \"\\n\"),\n        (r\"</li\\s*>\", \"\\\
          n\"),\n        (r\"</h[1-6]\\s*>\", \"\\n\"),\n    ]\n    for pattern, repl\
          \ in replacements:\n        text = re.sub(pattern, repl, text, flags=re.I)\n\
          \    text = re.sub(r\"<[^>]+>\", \" \", text)\n    text = re.sub(r\"[ \\\
          t\\r\\f\\v]+\", \" \", text)\n    text = re.sub(r\"\\n\\s*\\n+\", \"\\n\"\
          , text)\n    return text.strip()\n\n\ndef _score(text: str) -> int:\n  \
          \  score = 0\n    for kw, weight in KEYWORDS:\n        if re.search(kw,\
          \ text, flags=re.I):\n            score += int(weight)\n    return score\n\
          \n\ndef _cut_by_section(text: str) -> str:\n    if not SECTION_STARTS:\n\
          \        return text\n    start = None\n    for pat in SECTION_STARTS:\n\
          \        m = re.search(pat, text, flags=re.I)\n        if m:\n         \
          \   start = m.start()\n            break\n    if start is None:\n      \
          \  return text\n    end = len(text)\n    for pat in SECTION_ENDS:\n    \
          \    m = re.search(pat, text[start + 50:], flags=re.I)\n        if m:\n\
          \            end = start + 50 + m.start()\n            break\n    return\
          \ text[start:end]\n\n\ndef _merge_windows(windows):\n    if not windows:\n\
          \        return []\n    windows = sorted(windows)\n    merged = [list(windows[0])]\n\
          \    for s, e in windows[1:]:\n        if s <= merged[-1][1] + 400:\n  \
          \          merged[-1][1] = max(merged[-1][1], e)\n        else:\n      \
          \      merged.append([s, e])\n    return [(s, e) for s, e in merged]\n\n\
          \ndef _extract_keyword_windows(text: str, radius: int = 1600) -> str:\n\
          \    windows = []\n    for kw, _ in KEYWORDS:\n        for m in re.finditer(kw,\
          \ text, flags=re.I):\n            windows.append((max(0, m.start() - radius),\
          \ min(len(text), m.end() + radius)))\n    parts = []\n    for s, e in _merge_windows(windows):\n\
          \        frag = text[s:e].strip()\n        if frag:\n            parts.append(frag)\n\
          \    return \"\\n\\n---候选片段---\\n\\n\".join(parts)\n\n\ndef main(html_str:\
          \ str) -> dict:\n    raw = html_str or \"\"\n    data = _parse_input(raw)\n\
          \    chunks = _to_chunks(data)\n    cleaned_chunks = []\n    for c in chunks:\n\
          \        text = _clean_html(c.get(\"content\", \"\"))\n        title = _clean_html(c.get(\"\
          title\", \"\"))\n        score = _score(title + \"\\n\" + text)\n      \
          \  cleaned_chunks.append({\"id\": c.get(\"id\"), \"title\": title, \"content\"\
          : text, \"score\": score, \"order\": c.get(\"order\", 0)})\n\n    selected\
          \ = [c for c in cleaned_chunks if c[\"score\"] > 0]\n    selected = sorted(selected,\
          \ key=lambda x: (-x[\"score\"], x[\"order\"]))[:16]\n    text = \"\\n\\\
          n\".join([f\"【片段{c['id']}】{c['title']}\\n{c['content']}\" for c in selected])\n\
          \n    if not text:\n        full = _clean_html(raw)\n        full = _cut_by_section(full)\n\
          \        text = _extract_keyword_windows(full)\n    else:\n        text\
          \ = _cut_by_section(text)\n        # 对已选片段仍进行关键词窗口压缩，避免上下文过长\n        win\
          \ = _extract_keyword_windows(text)\n        if win:\n            text =\
          \ win\n\n    if not text:\n        text = \"未筛选到明确相关内容，请基于输入不足输出无法判断。\"\n\
          \    if len(text) > MAX_LEN:\n        text = text[:MAX_LEN] + \"\\n……（已按相关性截断）\"\
          \n    return {\"result\": text}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 4-筛选相关文本（不迭代）
        type: code
        variables:
        - value_selector:
          - '1748403249066'
          - html
          value_type: string
          variable: html_str
      height: 51
      id: '1840000000001'
      position:
        x: 300
        y: 300
      positionAbsolute:
        x: 300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1840000000001'
          - result
        desc: ''
        isInLoop: false
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: noniter-4-extract-system
          role: system
          text: "你是环评文件信息提取专家。请只基于下方筛选文本，提取第4项“三线一单”一致性判定所需信息。\n\n筛选文本：\n{{#context#}}\n\
            \n请输出一个JSON对象，字段必须为：\n{\n  \"环境管控单元\": \"环境管控单元名称和编码；无则填未提供\",\n  \"准入清单名称\"\
            : \"文本中对应的市级/区级环境管控单元准入清单或政策文件名称；无则填未提供\",\n  \"区域布局管控\": \"环评文件中对应原文；无则填未提供\"\
            ,\n  \"能源资源利用\": \"环评文件中对应原文；无则填未提供\",\n  \"污染物排放管控\": \"环评文件中对应原文；无则填未提供\"\
            ,\n  \"环境风险防控\": \"环评文件中对应原文；无则填未提供\"\n}\n\n要求：只输出JSON，不输出Markdown、解释、代码块；不得编造未提供内容。/no_think"
        selected: false
        title: 4-一次性提取三线一单信息
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1840000000002'
      position:
        x: 600
        y: 300
      positionAbsolute:
        x: 600
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef _clean(text: str) -> str:\n    text =\
          \ (text or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\", \"\"\
          , text, flags=re.S)\n    text = re.sub(r\"^```(?:json)?\\s*\", \"\", text,\
          \ flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text).strip()\n  \
          \  return text\n\ndef _extract_json(text: str):\n    text = _clean(text)\n\
          \    start = text.find(\"{\")\n    end = text.rfind(\"}\")\n    if start\
          \ != -1 and end != -1 and end > start:\n        text = text[start:end+1]\n\
          \    try:\n        return json.loads(text)\n    except Exception:\n    \
          \    return {}\n\ndef main(extracted: str) -> dict:\n    obj = _extract_json(extracted)\n\
          \    control_unit = obj.get(\"环境管控单元\") or obj.get(\"环境管控单元名称和编码\") or obj.get(\"\
          control_unit\") or \"未提供\"\n    docs_name = obj.get(\"准入清单名称\") or obj.get(\"\
          docs_name\") or \"广东省佛山市/项目所在地环境管控单元准入清单\"\n    sections = []\n    for key\
          \ in [\"区域布局管控\", \"能源资源利用\", \"污染物排放管控\", \"环境风险防控\"]:\n        val = obj.get(key)\
          \ or \"未提供\"\n        sections.append(f\"【{key}】{val}\")\n    eia_content\
          \ = f\"环境管控单元：{control_unit}\\n准入清单名称：{docs_name}\\n\" + \"\\n\".join(sections)\n\
          \    query_info = f\"{docs_name} {control_unit} 三线一单 区域布局管控 能源资源利用 污染物排放管控\
          \ 环境风险防控\"\n    return {\"query_info\": query_info[:500], \"eia_content\"\
          : eia_content}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          eia_content:
            children: null
            type: string
          query_info:
            children: null
            type: string
        selected: false
        title: 4-生成一次性检索词
        type: code
        variables:
        - value_selector:
          - '1840000000002'
          - text
          value_type: string
          variable: extracted
      height: 51
      id: '1840000000003'
      position:
        x: 900
        y: 300
      positionAbsolute:
        x: 900
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - w8g1+k4Ye2O6qijJuU6kIQSzF4tBWQAKa15/dml6/xXj9qRkvNo6J6NksWc1PsuD
        desc: ''
        isInLoop: false
        metadata_filtering_conditions:
          conditions: []
          logical_operator: or
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.7
            vector_setting:
              embedding_model_name: text-embedding-v4
              embedding_provider_name: langgenius/tongyi/tongyi
              vector_weight: 0.3
        query_attachment_selector: []
        query_variable_selector:
        - '1840000000003'
        - query_info
        retrieval_mode: multiple
        selected: false
        title: 4-知识检索（一次）
        type: knowledge-retrieval
      height: 89
      id: '1840000000004'
      position:
        x: 1200
        y: 300
      positionAbsolute:
        x: 1200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1840000000004'
          - result
        desc: ''
        isInLoop: false
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: noniter-4-review-system
          role: system
          text: '你是严谨的环评审核专家，负责第4项“三线一单”管控内容一致性判定。


            知识库检索结果：

            {{#context#}}


            环评文件提取内容：

            {{#1840000000003.eia_content#}}


            请对照知识库中的准入清单/管控要求，判断环评文件中“区域布局管控、能源资源利用、污染物排放管控、环境风险防控”是否完整、一致。


            输出Markdown，包含：

            1. 审核结论：匹配/不匹配/部分匹配/无法判断；

            2. 依据文件：写明准入清单或政策文件名称，缺失则写未提供；

            3. 对比表：管控类别｜环评文件内容｜知识库/准入清单要求｜对比结果；

            4. 问题说明：如缺失、表述不一致、管控单元不明、无法检索到依据，应明确指出。

            /no_think'
        selected: false
        title: 4-一次性一致性审查
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1840000000005'
      position:
        x: 1500
        y: 300
      positionAbsolute:
        x: 1500
        y: 300
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(json_str: str) -> dict:\n    text = (json_str\
          \ or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\", \"\", text,\
          \ flags=re.S)\n    text = text.replace(\"<think>\", \"\").replace(\"</think>\"\
          , \"\")\n    text = re.sub(r\"^```(?:json|markdown)?\\s*\", \"\", text,\
          \ flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text).strip()\n  \
          \  return {\"result\": text}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 4-清洗审核结果
        type: code
        variables:
        - value_selector:
          - '1840000000005'
          - text
          value_type: string
          variable: json_str
      height: 51
      id: '1840000000006'
      position:
        x: 1800
        y: 300
      positionAbsolute:
        x: 1800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1840000000006'
          - result
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1750245255931'
      position:
        x: 2100
        y: 300
      positionAbsolute:
        x: 2100
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 573.0785304989979
      y: 202.7199746418977
      zoom: 0.3353368124108265
  rag_pipeline_variables: []
