06_Dify工作流/5-建设内容编制完整性判断.yml
app:
  description: '环评审核qwen3：32b

    '
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 5-建设内容编制完整性判断
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1751785474486-source-1778291355005-target
      source: '1751785474486'
      sourceHandle: source
      target: '1778291355005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778291355005-source-1751789897222-target
      source: '1778291355005'
      sourceHandle: source
      target: '1751789897222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1751789897222-source-1751790575478-target
      source: '1751789897222'
      sourceHandle: source
      target: '1751790575478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1751790575478-source-1751790010502-target
      source: '1751790575478'
      sourceHandle: source
      target: '1751790010502'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: html
          max_length: 1000000
          options: []
          required: true
          type: paragraph
          variable: html
      height: 108
      id: '1751785474486'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport ast\nimport re\nimport html as html_lib\n\n\ndef\
          \ _strip_code_fence(text: str) -> str:\n    text = (text or \"\").strip()\n\
          \    text = re.sub(r\"^```(?:json)?\\s*\", \"\", text, flags=re.I)\n   \
          \ text = re.sub(r\"\\s*```$\", \"\", text).strip()\n    return text\n\n\n\
          def _parse_input(raw: str):\n    raw = _strip_code_fence(raw)\n    try:\n\
          \        return json.loads(raw)\n    except Exception:\n        try:\n \
          \           return ast.literal_eval(raw)\n        except Exception:\n  \
          \          return raw\n\n\ndef _to_chunks(data):\n    \"\"\"统一转成 [{'id':\
          \ ..., 'content': ...}]，兼容 list / dict / string 输入。\"\"\"\n    if isinstance(data,\
          \ list):\n        chunks = []\n        for i, item in enumerate(data):\n\
          \            if isinstance(item, dict):\n                content = item.get(\"\
          content\") or item.get(\"text\") or json.dumps(item, ensure_ascii=False)\n\
          \                chunks.append({\"id\": str(item.get(\"id\", i)), \"content\"\
          : str(content)})\n            else:\n                chunks.append({\"id\"\
          : str(i), \"content\": str(item)})\n        return chunks\n    if isinstance(data,\
          \ dict):\n        content = data.get(\"content\") or data.get(\"text\")\
          \ or json.dumps(data, ensure_ascii=False)\n        return [{\"id\": str(data.get(\"\
          id\", \"0\")), \"content\": str(content)}]\n    return [{\"id\": \"0\",\
          \ \"content\": str(data)}]\n\n\ndef _clean_html(text: str) -> str:\n   \
          \ \"\"\"保留表格/段落顺序，去掉 HTML 标签，压缩无效空白。\"\"\"\n    text = html_lib.unescape(text\
          \ or \"\")\n    # 先把表格和段落边界转为可读分隔，避免全部挤成一行。\n    replacements = [\n    \
          \    (r\"</tr\\s*>\", \"\\n\"),\n        (r\"</td\\s*>\", \" | \"),\n  \
          \      (r\"</th\\s*>\", \" | \"),\n        (r\"</p\\s*>\", \"\\n\"),\n \
          \       (r\"<br\\s*/?>\", \"\\n\"),\n        (r\"</li\\s*>\", \"\\n\"),\n\
          \    ]\n    for pattern, repl in replacements:\n        text = re.sub(pattern,\
          \ repl, text, flags=re.I)\n    text = re.sub(r\"<[^>]+>\", \" \", text)\n\
          \    text = re.sub(r\"[ \\t\\r\\f\\v]+\", \" \", text)\n    text = re.sub(r\"\
          \\n\\s*\\n+\", \"\\n\", text)\n    return text.strip()\n\n\ndef _merge_windows(windows):\n\
          \    if not windows:\n        return []\n    windows = sorted(windows)\n\
          \    merged = [list(windows[0])]\n    for start, end in windows[1:]:\n \
          \       if start <= merged[-1][1] + 100:\n            merged[-1][1] = max(merged[-1][1],\
          \ end)\n        else:\n            merged.append([start, end])\n    return\
          \ [(s, e) for s, e in merged]\n\n\ndef _cut_engineering_section(text: str)\
          \ -> str:\n    \"\"\"优先截取“二、建设项目工程分析”，避免把整篇报告送进模型。\"\"\"\n    start_patterns\
          \ = [\n        r\"二[、\\.．]\\s*建设项目工程分析\",\n        r\"建设项目工程分析\",\n    \
          \    r\"建设\\s*内容\",\n        r\"工艺流程和产排污\\s*环节\",\n    ]\n    end_patterns\
          \ = [\n        r\"三[、\\.．]\\s*区域环境质量现状\",\n        r\"三[、\\.．]\",\n    \
          \    r\"区域环境质量现状\",\n        r\"环境保护目标\",\n    ]\n    starts = []\n    for\
          \ p in start_patterns:\n        m = re.search(p, text)\n        if m:\n\
          \            starts.append(m.start())\n    if not starts:\n        return\
          \ text\n    start = min(starts)\n    end = len(text)\n    for p in end_patterns:\n\
          \        m = re.search(p, text[start + 20:])\n        if m:\n          \
          \  end = min(end, start + 20 + m.start())\n    return text[start:end]\n\n\
          \ndef _score(text: str) -> int:\n    positive = {\n        \"二、建设项目工程分析\"\
          : 15,\n        \"建设项目工程分析\": 12,\n        \"建设内容\": 12,\n        \"项目工程组成\"\
          : 10,\n        \"主体工程\": 8,\n        \"辅助工程\": 8,\n        \"公用工程\": 8,\n\
          \        \"公共工程\": 8,\n        \"环保工程\": 8,\n        \"储运工程\": 8,\n    \
          \    \"项目产品\": 8,\n        \"产品方案\": 8,\n        \"产品规模\": 8,\n        \"\
          主要生产设备\": 10,\n        \"主要产能设备\": 8,\n        \"主要原辅材料\": 10,\n       \
          \ \"原辅材料及能源消耗\": 10,\n        \"原辅材料\": 8,\n        \"劳动定员\": 8,\n     \
          \   \"工作制度\": 8,\n        \"原料分析\": 6,\n        \"水平衡\": 8,\n        \"\
          物料平衡\": 6,\n        \"工艺流程和产排污环节\": 12,\n        \"工艺流程\": 10,\n       \
          \ \"生产工艺流程说明\": 10,\n        \"产排污环节\": 10,\n        \"主要产污环节\": 8,\n  \
          \  }\n    negative = {\n        \"其他符合性分析\": -10,\n        \"三线一单\": -10,\n\
          \        \"规划及规划环境影响评价符合性分析\": -8,\n        \"区域环境质量现状\": -10,\n       \
          \ \"环境保护目标\": -8,\n        \"评价标准\": -6,\n        \"运营期环境影响\": -6,\n   \
          \     \"监督检查清单\": -4,\n        \"附表\": -4,\n    }\n    score = 0\n    for\
          \ k, v in positive.items():\n        if k in text:\n            score +=\
          \ v\n    for k, v in negative.items():\n        if k in text:\n        \
          \    score += v\n    return score\n\n\ndef _is_strong_candidate(text: str)\
          \ -> bool:\n    \"\"\"避免把“三线一单”“运营期影响”等无关章节误送入5号审核。\"\"\"\n    strong_keywords\
          \ = [\n        \"二、建设项目工程分析\", \"建设项目工程分析\", \"建设内容\", \"项目工程组成\",\n   \
          \     \"项目产品方案\", \"项目产品规模\", \"主要生产设备\", \"主要产能设备\",\n        \"主要原辅材料\"\
          , \"原辅材料及能源消耗\", \"劳动定员\", \"工作制度\",\n        \"物料平衡\", \"水平衡\", \"工艺流程和产排污环节\"\
          , \"生产工艺流程说明\"\n    ]\n    return any(k in text for k in strong_keywords)\n\
          \n\ndef _extract_windows(text: str, radius: int = 900) -> str:\n    keywords\
          \ = [\n        \"建设内容\", \"项目工程组成\", \"主体工程\", \"辅助工程\", \"公用工程\", \"公共工程\"\
          , \"环保工程\", \"储运工程\",\n        \"项目产品\", \"产品方案\", \"产品规模\", \"主要生产设备\"\
          , \"主要产能设备\", \"主要原辅材料\", \"原辅材料及能源消耗\", \"原辅材料\",\n        \"燃料\", \"劳动定员\"\
          , \"工作制度\", \"原料分析\", \"水平衡\", \"物料平衡\", \"公用工程\",\n        \"工艺流程和产排污环节\"\
          , \"工艺流程\", \"生产工艺流程说明\", \"产排污环节\", \"主要产污环节\",\n    ]\n    windows = []\n\
          \    for kw in keywords:\n        for m in re.finditer(re.escape(kw), text):\n\
          \            start = max(0, m.start() - radius)\n            end = min(len(text),\
          \ m.end() + radius)\n            windows.append((start, end))\n    windows\
          \ = _merge_windows(windows)\n    parts = []\n    for start, end in windows:\n\
          \        parts.append(text[start:end])\n    return \"\\n...\\n\".join(parts)\n\
          \n\ndef _build_compact_text(selected_parts, max_chars: int = 22000) -> str:\n\
          \    \"\"\"按片段顺序拼接，并控制总长度，防止超过 32k 上下文。\"\"\"\n    result_parts = []\n \
          \   remain = max_chars\n    for part in selected_parts:\n        if remain\
          \ <= 0:\n            break\n        if len(part) <= remain:\n          \
          \  result_parts.append(part)\n            remain -= len(part)\n        else:\n\
          \            result_parts.append(part[:remain] + \"\\n……（已截断：仅保留5号建设内容完整性审核相关内容）\"\
          )\n            remain = 0\n            break\n    return \"\\n\\n\".join(result_parts)\n\
          \n\ndef main(html: str) -> dict:\n    raw = html or \"\"\n    data = _parse_input(raw)\n\
          \    chunks = _to_chunks(data)\n\n    candidates = []\n    for chunk in\
          \ chunks:\n        text = _clean_html(chunk[\"content\"])\n        if not\
          \ text:\n            continue\n        engineering_text = _cut_engineering_section(text)\n\
          \        score = _score(engineering_text)\n        if score > 0 and _is_strong_candidate(engineering_text):\n\
          \            snippet = _extract_windows(engineering_text)\n            if\
          \ not snippet:\n                snippet = engineering_text[:6000]\n    \
          \        candidates.append((score, f\"【片段ID：{chunk['id']}】\\n{snippet}\"\
          ))\n\n    if candidates:\n        # 分数高的片段优先；同一片段内部仍保持原文顺序。\n        candidates.sort(key=lambda\
          \ x: x[0], reverse=True)\n        selected_parts = [p for _, p in candidates]\n\
          \        result = _build_compact_text(selected_parts, max_chars=22000)\n\
          \    else:\n        # 当前片段不属于5号“建设内容完整性”审核所需章节时，不再把原文送入模型。\n        result\
          \ = \"当前输入片段未识别到‘建设项目工程分析/建设内容/工艺流程和产排污环节’等5号审核相关内容，建议跳过该片段。\"\n\n    return\
          \ {\n        \"first_json_content\": result\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          first_json_content:
            children: null
            type: string
        selected: false
        title: 筛选5号审核相关文本
        type: code
        variables:
        - value_selector:
          - '1751785474486'
          - html
          variable: html
      height: 51
      id: '1778291355005'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778291355005'
          - first_json_content
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: f1404c1e-9c86-4a03-8387-d29cdeb4553c
          role: system
          text: '你是环评审核内容提取专家。请只基于下方筛选文本提取“建设内容”和“工艺流程和产排污环节”，不要引用未提供的全文内容。


            待提取文本：

            {{#context#}}


            输出结构：

            建设内容：1、主体工程，2、辅助工程，3、公用工程，4、环保工程，5、储运工程，6、主要产品及产能，7、主要生产设施及设施参数，8、主要原辅材料和用量，9、燃料种类和用量，10、劳动定员，11、工作制度，12、原料分析，13、水平衡；

            工艺流程和产排污环节：1、生产工艺流程图，2、工艺流程简述。

            /no_think'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1751789897222'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1751790575478'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1751790010502'
      position:
        x: 1288
        y: 282
      positionAbsolute:
        x: 1288
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1751789897222'
          - text
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 630677dd-5760-48b4-9f9d-525cb8b4aa94
          role: system
          text: '你是内容分析专家，专门核对{{#context#}}是否包括以下内容：

            建设内容：1、主体工程，2、辅助工程，3、公用工程，4、环保工程，5、储运工程，6、主要产品及产能，7、主要生产设施及设施参数，8、主要原辅材料和用量，9、燃料种类和用量，10、劳动定员，11、工作制度，12、原料分析，13、水平衡；

            工艺流程和产排污环节：1、生产工艺流程图，2、工艺流程简述。


            输出格式：

            1、建设项目工程分析内容齐全无缺漏/存在缺漏（根据实际情况输出）；

            2、根据《建设项目环境影响报告表编制技术指南（污染影响类）（试行）》中对“建设项目工程分析”内容编制要求，本项目建设内容已分析：

            1）建设内容：

            主体工程：内容＋是否分析；

            辅助工程：内容＋是否分析；

            公用工程：内容＋是否分析；

            环保工程：内容＋是否分析；

            储运工程：内容＋是否分析；

            主要产品及产能：内容＋是否分析；

            主要生产设施及设施参数：内容＋是否分析；

            主要原辅材料和用量：内容＋是否分析；

            燃料种类和用量：内容＋是否分析；

            劳动定员：内容＋是否分析；

            工作制度：内容＋是否分析；

            原料分析：内容＋是否分析；

            水平衡：内容＋是否分析。

            2）工艺流程和产排污环节：

            生产工艺流程图/流程说明：内容＋是否分析；

            产排污环节：内容＋是否分析。

            3）综上说明是否齐全；如存在缺漏，明确指出需要复核补充的项目。

            /no_think'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1751790575478'
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 436.8613670401023
      y: 152.59008766685747
      zoom: 0.645204912526963
  rag_pipeline_variables: []
