06_Dify工作流/6-环境质量现状数据引用是否有误.yml
app:
  description: 不迭代版：一次性筛选、提取、审查、清洗输出
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 6-环境质量现状数据引用是否有误_不迭代
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1747207928658-source-1860000000001-target
      source: '1747207928658'
      sourceHandle: source
      target: '1860000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1860000000001-source-1860000000002-target
      source: '1860000000001'
      sourceHandle: source
      target: '1860000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1860000000002-source-1860000000003-target
      source: '1860000000002'
      sourceHandle: source
      target: '1860000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1860000000003-source-1768201697470-target
      source: '1860000000003'
      sourceHandle: source
      target: '1768201697470'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 上传html文本
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types: []
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: html
          max_length: 1000000
          options: []
          required: true
          type: paragraph
          variable: html
      height: 136
      id: '1747207928658'
      position:
        x: 0
        y: 301.1292181830978
      positionAbsolute:
        x: 0
        y: 301.1292181830978
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport ast\nimport re\nimport html as html_lib\n\nKEYWORDS\
          \ = [('区域环境质量现状', 28), ('环境质量现状', 24), ('现状监测', 22), ('引用.*数据', 20), ('监测时间',\
          \ 16), ('监测点位', 16), ('监测因子', 16), ('达标', 10), ('超标', 10), ('环境空气', 12),\
          \ ('地表水', 12), ('地下水', 12), ('声环境', 12), ('土壤', 12), ('PM2\\\\.5|PM10|O3|NO2|SO2|CO',\
          \ 12), ('COD|氨氮|总磷|总氮', 12), ('数据来源', 18), ('有效性|代表性|时效性', 14)]\nSECTION_STARTS\
          \ = ['区域环境质量现状', '环境质量现状']\nSECTION_ENDS = ['环境保护目标', '评价适用标准', '主要环境影响',\
          \ '四[、.．]\\\\s*主要环境影响']\nMAX_LEN = 18000\n\n\ndef _strip_code_fence(text:\
          \ str) -> str:\n    text = (text or \"\").strip()\n    text = re.sub(r\"\
          ^```(?:json)?\\s*\", \"\", text, flags=re.I)\n    text = re.sub(r\"\\s*```$\"\
          , \"\", text).strip()\n    return text\n\n\ndef _parse_input(raw: str):\n\
          \    raw = _strip_code_fence(raw)\n    try:\n        return json.loads(raw)\n\
          \    except Exception:\n        try:\n            return ast.literal_eval(raw)\n\
          \        except Exception:\n            return raw\n\n\ndef _to_chunks(data):\n\
          \    chunks = []\n    if isinstance(data, list):\n        for i, item in\
          \ enumerate(data):\n            if isinstance(item, dict):\n           \
          \     content = item.get(\"content\") or item.get(\"text\") or item.get(\"\
          markdown\") or item.get(\"html\") or json.dumps(item, ensure_ascii=False)\n\
          \                title = item.get(\"title\") or item.get(\"path\") or item.get(\"\
          heading\") or \"\"\n                chunks.append({\"id\": str(item.get(\"\
          id\", i)), \"title\": str(title), \"content\": str(content), \"order\":\
          \ i})\n            else:\n                chunks.append({\"id\": str(i),\
          \ \"title\": \"\", \"content\": str(item), \"order\": i})\n        return\
          \ chunks\n    if isinstance(data, dict):\n        content = data.get(\"\
          content\") or data.get(\"text\") or data.get(\"markdown\") or data.get(\"\
          html\") or json.dumps(data, ensure_ascii=False)\n        title = data.get(\"\
          title\") or data.get(\"path\") or data.get(\"heading\") or \"\"\n      \
          \  return [{\"id\": str(data.get(\"id\", \"0\")), \"title\": str(title),\
          \ \"content\": str(content), \"order\": 0}]\n    return [{\"id\": \"0\"\
          , \"title\": \"\", \"content\": str(data), \"order\": 0}]\n\n\ndef _clean_html(text:\
          \ str) -> str:\n    text = html_lib.unescape(text or \"\")\n    replacements\
          \ = [\n        (r\"</tr\\s*>\", \"\\n\"),\n        (r\"</td\\s*>\", \" |\
          \ \"),\n        (r\"</th\\s*>\", \" | \"),\n        (r\"</p\\s*>\", \"\\\
          n\"),\n        (r\"<br\\s*/?>\", \"\\n\"),\n        (r\"</li\\s*>\", \"\\\
          n\"),\n        (r\"</h[1-6]\\s*>\", \"\\n\"),\n    ]\n    for pattern, repl\
          \ in replacements:\n        text = re.sub(pattern, repl, text, flags=re.I)\n\
          \    text = re.sub(r\"<[^>]+>\", \" \", text)\n    text = re.sub(r\"[ \\\
          t\\r\\f\\v]+\", \" \", text)\n    text = re.sub(r\"\\n\\s*\\n+\", \"\\n\"\
          , text)\n    return text.strip()\n\n\ndef _score(text: str) -> int:\n  \
          \  score = 0\n    for kw, weight in KEYWORDS:\n        if re.search(kw,\
          \ text, flags=re.I):\n            score += int(weight)\n    return score\n\
          \n\ndef _cut_by_section(text: str) -> str:\n    if not SECTION_STARTS:\n\
          \        return text\n    start = None\n    for pat in SECTION_STARTS:\n\
          \        m = re.search(pat, text, flags=re.I)\n        if m:\n         \
          \   start = m.start()\n            break\n    if start is None:\n      \
          \  return text\n    end = len(text)\n    for pat in SECTION_ENDS:\n    \
          \    m = re.search(pat, text[start + 50:], flags=re.I)\n        if m:\n\
          \            end = start + 50 + m.start()\n            break\n    return\
          \ text[start:end]\n\n\ndef _merge_windows(windows):\n    if not windows:\n\
          \        return []\n    windows = sorted(windows)\n    merged = [list(windows[0])]\n\
          \    for s, e in windows[1:]:\n        if s <= merged[-1][1] + 400:\n  \
          \          merged[-1][1] = max(merged[-1][1], e)\n        else:\n      \
          \      merged.append([s, e])\n    return [(s, e) for s, e in merged]\n\n\
          \ndef _extract_keyword_windows(text: str, radius: int = 1600) -> str:\n\
          \    windows = []\n    for kw, _ in KEYWORDS:\n        for m in re.finditer(kw,\
          \ text, flags=re.I):\n            windows.append((max(0, m.start() - radius),\
          \ min(len(text), m.end() + radius)))\n    parts = []\n    for s, e in _merge_windows(windows):\n\
          \        frag = text[s:e].strip()\n        if frag:\n            parts.append(frag)\n\
          \    return \"\\n\\n---候选片段---\\n\\n\".join(parts)\n\n\ndef main(html_str:\
          \ str) -> dict:\n    raw = html_str or \"\"\n    data = _parse_input(raw)\n\
          \    chunks = _to_chunks(data)\n    cleaned_chunks = []\n    for c in chunks:\n\
          \        text = _clean_html(c.get(\"content\", \"\"))\n        title = _clean_html(c.get(\"\
          title\", \"\"))\n        score = _score(title + \"\\n\" + text)\n      \
          \  cleaned_chunks.append({\"id\": c.get(\"id\"), \"title\": title, \"content\"\
          : text, \"score\": score, \"order\": c.get(\"order\", 0)})\n\n    selected\
          \ = [c for c in cleaned_chunks if c[\"score\"] > 0]\n    selected = sorted(selected,\
          \ key=lambda x: (-x[\"score\"], x[\"order\"]))[:16]\n    text = \"\\n\\\
          n\".join([f\"【片段{c['id']}】{c['title']}\\n{c['content']}\" for c in selected])\n\
          \n    if not text:\n        full = _clean_html(raw)\n        full = _cut_by_section(full)\n\
          \        text = _extract_keyword_windows(full)\n    else:\n        text\
          \ = _cut_by_section(text)\n        # 对已选片段仍进行关键词窗口压缩，避免上下文过长\n        win\
          \ = _extract_keyword_windows(text)\n        if win:\n            text =\
          \ win\n\n    if not text:\n        text = \"未筛选到明确相关内容，请基于输入不足输出无法判断。\"\n\
          \    if len(text) > MAX_LEN:\n        text = text[:MAX_LEN] + \"\\n……（已按相关性截断）\"\
          \n    return {\"result\": text}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 6-筛选相关文本（不迭代）
        type: code
        variables:
        - value_selector:
          - '1747207928658'
          - html
          value_type: string
          variable: html_str
      height: 51
      id: '1860000000001'
      position:
        x: 300
        y: 300
      positionAbsolute:
        x: 300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1860000000001'
          - result
        desc: ''
        isInLoop: false
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: noniter-6-review-system
          role: system
          text: '你是环评审核专家，负责第6项“环境质量现状数据引用是否有误”判定。


            筛选后的环境质量现状相关文本：

            {{#context#}}


            请一次性完成审核，不要迭代，不要逐段循环。重点核查：

            1. 是否说明数据来源、监测时间、监测点位、监测因子和评价标准；

            2. 引用数据是否与项目所在地、评价范围、环境要素相匹配；

            3. 数据时效性、代表性是否存在明显问题；

            4. 达标/超标结论是否与引用数据一致；

            5. 是否存在把其他区域、其他年份、其他标准的数据误用于本项目的情况。


            输出Markdown，包含：

            - 审核结论：匹配/不匹配/部分匹配/无法判断；

            - 依据文件或数据来源；

            - 发现的问题；

            - 判定原因。

            若筛选文本不足以判断，应输出“无法判断”，并说明缺少哪些信息。

            /no_think'
        selected: false
        title: 6-一次性引用数据审查
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1860000000002'
      position:
        x: 600.8572439425566
        y: 300
      positionAbsolute:
        x: 600.8572439425566
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(json_str: str) -> dict:\n    text = (json_str\
          \ or \"\").strip()\n    text = re.sub(r\"<think>.*?</think>\", \"\", text,\
          \ flags=re.S)\n    text = text.replace(\"<think>\", \"\").replace(\"</think>\"\
          , \"\")\n    text = re.sub(r\"^```(?:json|markdown)?\\s*\", \"\", text,\
          \ flags=re.I)\n    text = re.sub(r\"\\s*```$\", \"\", text).strip()\n  \
          \  return {\"result\": text}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 6-清洗审核结果
        type: code
        variables:
        - value_selector:
          - '1860000000002'
          - text
          value_type: string
          variable: json_str
      height: 51
      id: '1860000000003'
      position:
        x: 900
        y: 300
      positionAbsolute:
        x: 900
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1860000000003'
          - result
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1768201697470'
      position:
        x: 1200
        y: 300
      positionAbsolute:
        x: 1200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 419.05051331437585
      y: 195.6305919719307
      zoom: 0.8855684534380364
  rag_pipeline_variables: []
