06_Dify工作流/8-污染物排放标准内容判断.yml
app:
  description: '环评审核qwen3：32b

    '
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 8-污染物排放标准内容判断（提取内容）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.30@c8acdf4467408345fc51d3d9e45484614295b9f7c4d20ff0ce03940368bf286a
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/minimax:0.0.17@71c4f6828644f499978d8978792c6288730bde7012354906b95008e5e0995113
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 65d2a485-da81-4d50-94c7-73e9f7c3bf4d
    name: html_json
    selector:
    - env
    - html_json
    value: "[\n  {\n    \"id\": \"5\",\n    \"content\": \"html <head> <title> 附件2\
      \ </title> </head> <div> <p> 项目位置 </p> </div> <div> <p> 项目所在地 </p> </div> <div>\
      \ <p> 项目所在地 </p> </div> <div> <p> 项目所在地 </p> </div> <div> <p> 项目位置 </p> </div>\
      \ <p> 一、建设项目基本情况 </p> <table><tbody><tr> <td> <p> 建设项目名称 </p> </td> <td> <p>\
      \ 佛山市盛之强电器有限公司建设项目 </p> </td> </tr><tr> <td> <p> 项目代码 </p> </td> <td> <p> 无\
      \ </p> </td> </tr><tr> <td> <p> 建设单位联系人 </p> </td> <td> <p> <a> 罗绮霞 </a> </p>\
      \ </td> <td> <p> 联系方式 </p> </td> <td> <p> 18924815600 </p> </td> </tr><tr> <td>\
      \ <p> 建设地点 </p> </td> <td> <p> 佛山市顺德区大良街道古鉴村良勒路 245 号首层之一 </p> </td> </tr><tr>\
      \ <td> <p> 地理坐标 </p> </td> <td> <p> 东经： 113°12′23.048″ ，北纬： 22°50′32.808″ </p>\
      \ </td> </tr><tr> <td> <p> 国民经济 </p> <p> 行业类别 </p> </td> <td> <p> C2929 塑料零件及其他塑料制品制造\
      \ </p> </td> <td> <p> 建设项目 </p> <p> 行业类别 </p> </td> <td> <p> 二十六、橡胶和塑料制品业 -53\
      \ 塑料制品业 --“ 其他（年用非溶剂型低 VOC <sub> S </sub> 含量涂料 10 吨以下的除外）”外）” </p> </td> </tr><tr>\
      \ <td> <p> 建设性质 </p> </td> <td> <p> ☑ 新建（迁建） </p> <p> □ 改建 </p> <p> □ 扩建 </p>\
      \ <p> □ 技术改造 </p> </td> <td> <p> 建设项目 </p> <p> 申报情形 </p> </td> <td> <p> ☑ 首次申报项目\
      \ </p> <p> □ 不予批准后再次申报项目 </p> <p> □ 超五年重新审核项目 </p> <p> □ 重大变动重新报批项目 </p> </td>\
      \ </tr><tr> <td> <p> 项目审批（核准 / </p> <p> 备案）部门（选填） </p> </td> <td> <p> 无 </p>\
      \ </td> <td> <p> 项目审批（核准 / </p> <p> 备案）文号（选填） </p> </td> <td> <p> 无 </p> </td>\
      \ </tr><tr> <td> <p> 总投资（万元） </p> </td> <td> <p> 50 </p> </td> <td> <p> 环保投资（万元）\
      \ </p> </td> <td> <p> 15 </p> </td> </tr><tr> <td> <p> 环保投资占比（ % ） </p> </td>\
      \ <td> <p> 30 </p> </td> <td> <p> 施工工期 </p> </td> <td> <p> 1 个月 </p> </td> </tr><tr>\
      \ <td> <p> 是否开工建设 </p> </td> <td> <p> R 否 </p> <p> □ 是 </p> </td> <td> <p> 用地（用海）\
      \ </p> <p> 面积（ m <sup> 2 </sup> ） </p> </td> <td> <p> 1247 </p> </td> </tr><tr>\
      \ <td> <p> 专项评价设置 </p> <p> 情况 </p> </td> <td> <p> 无 </p> </td> </tr><tr> <td>\
      \ <p> 规划情况 </p> </td> <td> <p> 审批文件名称： 《大良凤翔工业区（ D-XB-01-01 、 D-XB-02-01 、 D-DL-01-01\
      \ 、、 D-DL-01-04 ）控制性详细规划》 </p> <p> 批复文号：顺府复（ 2016 ） 103 号 </p> <p> 审批单位：佛山市顺德区人民政府\
      \ </p> </td> </tr><tr> <td> <p> 规划环境影响 </p> <p> 评价情况 </p> </td> <td> <p> 规划环评文件\
      \ 名称：顺德 区大良街道西部片区区域环境影响报告书 </p> <p> 审批机关：佛山市 生态环境局顺德分局 </p> <p> 审批文件名称及文号：《\
      \ 佛山市生态环境局顺德分局 关于顺德 区大良街道西部片区区域环境影响报告书 审查 情况的复函 》 </p> </td> </tr><tr> <td>\
      \ <p> 规划及规划环境 </p> <p> 影响评价符合性 </p> <p> 分析 </p> </td> <td> <p> 根据 《 顺德 区大良街道西部片区区域环境影响报告书\
      \ 》 有关准入要求 ，项目与 其 相符性分析见表 1-1 。 </p> <ol> <li> <p> 项目与 《 顺德 区大良街道西部片区区域环境影响报告书\
      \ 》 有关准入要求的 相符性分析 </p> </li> </ol> <table> <tr> <td> <p> 相关准入要求 </p> </td> <td>\
      \ <p> 符合性分析 </p> </td> <td> <p> 相符性 </p> </td> </tr> <tr> <td> <p> 总体准入要求 </p>\
      \ </td> </tr> <tr> <td> <p> 空间布局管控 </p> </td> <td> <p> 1. 引入产业应符合现行有效的《产业结构调整指导目录》、《市场准入负面清单》等相关产业政策的要求。不得引入现行的《外商投资准入特别管理措施（负面清单）》中禁止类项目。\
      \ </p> </td> <td> <p> 项目属于塑料制品业， 不属于《产业结构调整指导目录（ 2024 年本）》所列的鼓励类、限制和禁止（淘汰）项目\
      \ ； 不在《关于印发＜市场准入负面清单（ 2022 年版）的通知＞》（发改体改规〔 2022 〕 397 号） 中 市场准入负面清单禁止和许可两类项目范围内\
      \ ； 也不属于 《外商投资准入特别管理措施（负面清单）》中禁止类项目。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 2. 引导涉生产废水的电子信息企业向重点管控单元 5 （电子信息产业区）集聚。 </p> </td> <td> <p>\
      \ 项目为塑料制品业，不属于 涉生产废水的电子信息企业。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td>\
      \ <p> 3. 涉及以下行业或工艺的新建项目的主要产污车间及废气排放口与居民区、学校等大气环境敏感点之间应设置不少于 100m 的缓冲距离：①木质家具、金属家具制造业中涉及工业涂装的（不含喷粉）；②印刷工序中涉及塑料薄膜、印铁制罐印刷以及其他基材凹版印刷的；③涂料油墨制造中涉及化学合成、搅拌、分散的（不含粉末涂料）；④金属压延加工业、金属制品业、设备装备制造业中涉及金属表面工业涂装的（不含喷粉）；⑤塑料制品业中涉及泡沫塑料制造、塑料薄膜涂覆以及人造革、合成革、装饰卷材等生产的（不含单纯吹塑、压纹）；⑥涉及注塑、改性塑料、塑料喷涂的（不含喷粉）；⑦餐厨垃圾处置；⑧再生资源回收利用。\
      \ </p> <p> 其他行业涉 VOCs 、恶臭排放的新建项目（基础设施建设项目除外）的主要产污车间及废气排放口与居民区、学校等大气环境敏感点之间应设置不少于\
      \ 50m 的缓冲距离。改、扩建项目以新带老提升废气收集和治理工艺。 </p> </td> <td> <p> 项目为塑料制品业，涉及注塑和恶臭排放，注塑车间及注塑废气排放口与居民区、学校等等大气环境敏感点距离大于\
      \ 500m 。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 4. 不得在临近生态保护红线区域引进污染严重企业，进驻企业建设过程中不得占用生态红线范围用地，生产过程中应避免对开发区域周边的优先保护区造成影响。\
      \ </p> </td> <td> <p> 本项目位置不在也不临近 生态保护红线区域。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 5. 冶金、电镀、化工、印染、原料药制造行业工业废水和其他行业“ 6+1” 类废水，以及工业园区集中处理设施尾水原则上不得排入城镇生活污水处理厂。（“\
      \ 6+1” 类废水包括：其他行业含重金属、难生化降解、有生物毒性、易燃易爆、高盐分、重油脂等超城镇生活污水处理厂接收能力，以及间接冷却的清净下水等过低浓度生产废水）。\
      \ </p> </td> <td> <p> 本项目为塑料制品业，涉及的“ 6+1” 类废水主要为间接冷却的清净下水，最终 排入雨水管网 。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 6. 园区工业废水处理站将作为电子信息产业区的工业废水集中处理站，接收处理成德科技电子信息产业园和万洋众创城中达到处理站水质接纳要求的生产废水，该区域入驻企业生产废水直接或经预处理后符合处理站水质接纳要求，在处理站处理负荷未满的情况下，优先排入处理站进行集中处理；不能进入处理站处理的生产废水按要求进行委外处理、自行处理达标后排入城镇生活污水处理厂或河涌。\
      \ </p> </td> <td> <p> 本 项目 位于北部先进智造产业区，不属于电子信息产业区 。 </p> </td> <td> <p> 符合 </p>\
      \ </td> </tr> <tr> <td> <p> 7. 符合省、市、区“三线一单”相关管控要求。 </p> </td> <td> <p> 根据下文可知，均符合\
      \ 省、市、区“三线一单”相关管控要求。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 能源资源利用\
      \ </p> </td> <td> <p> 1. 禁止使用高污染燃料。 </p> </td> <td> <p> 项目不涉及燃料使用。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 2. 符合省、市、区“三线一单”相关管控要求。 </p> </td>\
      \ <td> <p> 根据下文可知，均符合 省、市、区“三线一单”相关管控要求。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 污染物排放管控 </p> </td> <td> <p> 1. 污染物排放总量不得突破“污染物排放总量管控限值清单”的总量管控要求；重点对重点污染物（重点污染物包括化学需氧量、氨氮、氮氧化物及挥发性有机物等）实施总量控制；本年度新建、改建、扩建项目新增水环境重点污染物实行区域“减二增一”替代（废水集中处理设施、民生项目除外）；在可核查、可监管的基础上，全区新建、改建、扩建项目新增大气重点污染物实行“减二增一”替代。\
      \ </p> </td> <td> <p> 项目涉及的 重点污染物为挥发性有机物，其排放总量未突破管控限值；也 无新增水环境重点污染物。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 2. 重点加强涉 VOCs 排放的工业项目的挥发性有机物的源头替代和无组织排放管控，大力推进低\
      \ VOCs 含量原辅材料替代。产生 VOCs 的生产车间须配置废气收集净化装置。 </p> </td> <td> <p> 项目 VOCs 废气通过收集、并经活性炭吸附净化处理后高空排放。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3. 符合省、市、区“三线一单”相关管控要求。\
      \ </p> </td> <td> <p> 根据下文可知，均符合 省、市、区“三线一单”相关管控要求。 </p> </td> <td> <p> 符合 </p>\
      \ </td> </tr> <tr> <td> <p> 环境风险防控 </p> </td> <td> <p> 1. 完善区域—园区—工业企业多级联动环境突发事件应急预案，建立预防、应急响应机制和后评估机制，定期开展应急演练，提高区域环境风险防范能力。\
      \ </p> </td> <td> <p> 项目建成后将按要求规范开展应急演练，编制突发环境事件应急预案，与区域、园区形成联动。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 2. 厂房建设单位或企业按相关要求采取环境风险事故废水截留措施，防止事故废水直接排入水体；\
      \ </p> </td> <td> <p> 项目位于集中工业园区，产生的环境风险事故废水将由所在园区进行截留。 </p> </td> <td> <p>\
      \ 符合 </p> </td> </tr> <tr> <td> <p> 3. 企业应做好生产物料、废水、固体废物等污染物的渗漏防范措施，定期开展地下管线的渗漏隐患排查，防止因渗漏污染土壤和地下水。\
      \ </p> </td> <td> <p> 企业建设完成后将做好并加强 生产物料、废水、固体废物等污染物的渗漏防范措施。 </p> </td> <td>\
      \ <p> 符合 </p> </td> </tr> <tr> <td> <p> 4. 符合省、市、区“三线一单”相关管控要求。 </p> </td> <td>\
      \ <p> 根据下文可知，均符合 省、市、区“三线一单”相关管控要求。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 其他 </p> </td> <td> <p> 对于经认定属于省（市、区）重点建设项目、顺德区重点招商项目、街道重点建设项目（含新建、改建和扩建）的，可实行一事一议，由相关政府部门商议决定是否允许其建设。\
      \ </p> </td> <td> <p> 项目为塑料制品业，不属于左列的 重点建设项目、顺德区重点招商项目、街道重点建设项目。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 生产区（北部先进智造产业区）的环境管控单元准入要求 </p>\
      \ </td> </tr> <tr> <td> <p> 1. 在依托的污水处理厂没有足够容量时，企业不得向污水处理厂新增排放工业废水。 </p> </td>\
      \ <td> <p> 项目生活污水最终排入大门污水处理厂，目前有足够容量容纳本项目生活污水。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 2. 现有毗邻居民区、学校、疗养院等敏感用地的工业企业需严格落实废气、噪声污染控制措施。对于现有的噪声排放型企业应对厂区内主要噪声设备合理布局，采取有效的减振、隔声、消声和吸声措施，保证企业厂界噪声达标排放；在工业企业与居民区之间建设绿化带，最大程度地降低工业噪声的影响；对于声环境质量仍无法达标的居住区，建议采用声屏障、安装隔声窗等降噪措施，减少噪声影响。对于现有的废气排放型工业企业，尤其是涉挥发性有机物、酸性气体、恶臭气体等工业企业，应提高废气收集率、加强环境治理设施正常运行维护与监管，逐步引导高噪声与异味废气排放企业有序搬迁退出毗邻区。同时居住等敏感用地毗邻区应限制高噪声与异味废气排放企业的入驻。生产企业临近居住区的一侧宜布置生活、办公等非生产功能，减少生产活动对人居环境的影响。\
      \ </p> </td> <td> <p> 本项目为新建项目，不属于现有排放噪声、废气的工业企业，且项目厂界外 500m 范围内无居民区、学校、疗养院等敏感用地。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3. 入驻企业应按规范要求设置排水系统，做到雨污分流、清污分流、分质处理等要求。加强工业水循环利用。鼓励企业废水处理回用，促进再生水的利用，完善再生水利用设施。\
      \ </p> </td> <td> <p> 本项目位于集中工业园区，雨污排放系统均依托所在园区。项目产生的间接冷却水经循环使用后再排入雨水管网。 </p>\
      \ </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 4. 入驻企业生产废水达到纳管要求后排入大门污水处理厂，如涉及不能达到纳管标准或不具备接入条件的生产废水则自行委外处理或根据实际纳污水体状况考虑自行处理后达标排放。\
      \ </p> </td> <td> <p> 项目不涉及排入大门污水处理厂的生产废水。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> </table> <p> 综上，项目符合 《 顺德 区大良街道西部片区区域环境影响报告书 》 有关准入要求 内容。 </p> </td>\
      \ </tr></tbody></table>\",\n    \"token\": 6501\n  },\n  {\n    \"id\": \"6\"\
      ,\n    \"content\": \"<table><tbody><tr> <td> <p> 建设项目名称 </p> </td> <td> <p>\
      \ 佛山市盛之强电器有限公司建设项目 </p> </td> </tr><tr> <td> <p> 其他符合性分析 </p> </td> <td> <p>\
      \ （ 1 ）选址合理性分析 </p> <p> 本项目位于佛山市顺德区大良街道古鉴村良勒路 245 号首层之一， 根据 大良凤翔工业区（ D-XB-01-01\
      \ 、 D-XB-02-01 、 D-DL-01-01 、、 D-DL-01-04 ）控制性详细规划图 （见附图 9 ），项目所在地为工业用地，且 项目不在自然保护区、饮用水水源保护区、风景名胜区、森林公园、重要湿地、生态敏感区和其他重要生态功能区，选址符合规划要求。\
      \ </p> <ol> <li> <p> 与“三线一单”符合性分析 </p> </li> </ol> <p> 根据《建设项目环境影响评价技术导则 - 总纲》（\
      \ HJ2.1-2016 ），应分析判定建设项目选址选线、规模、性质和工艺路线等与区域布局管控、能源资源利用、污染物排放管控、环境风险防控和环境准入负面清单进行对照，作为开展环境影响评价工作的前提和基础。广东省、佛山市及顺德区三线一单生态环境分区管控方案均已发布。根据《广东省人民政府关于印发广东省“三线一单”生态环境分区管控方案的通知》（粤府〔\
      \ 2020 〕 71 号）和 佛山市生态环境局关于印发《佛山市“三线一单”生态环境分区管控方案（ 2024 年版）》的通知（佛环〔 2024 〕 20\
      \ 号） ，项目符合广东省、佛山市的“三线一单”生态环境分区管控方案要求。本项目依据 佛山市生态环境局关于印发《佛山市“三线一单”生态环境分区管控方案（\
      \ 2024 年版）》的通知（佛环〔 2024 〕 20 号）文件内容， 重点对顺德区的生态环境分区管控方案作符合性分析，具体如下表。 </p> <ol>\
      \ <li> <p> 与《佛山市“三线一单”生态环境分区管控方案（ 2024 年版）》（佛环〔 2024 〕 20 号）文件相符性分析 </p> </li>\
      \ </ol> <table> <tr> <td> <p> 内容 </p> </td> <td> <p> 项目情况 </p> </td> <td> <p>\
      \ 相符性 </p> </td> </tr> <tr> <td> <p> 生态保护红线 </p> </td> <td> <p> 佛山市顺德区环境管控单元图（附图\
      \ 11 ） </p> </td> <td> <p> 项目所在地属于大良街道重点管控区（ ZH44060620002 ）范围（见附图 11 ），不属于优先保护单元及一般管控单元，因此本项目不涉及生态保护红线。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 环境质量底线 </p> </td> <td>\
      \ <p> 地表水环境质量持续改善，乡镇级及以上集中式饮用水水源地水质 100% 达标，国考、省考断面地表水质量达到或优于 III 类水体比例不低于 85.7%\
      \ ，劣Ⅴ类水体比例为 0% ，市考断面基本消除劣Ⅴ类断面；全面消除黑臭水体。空气质量持续改善，细颗粒物（ PM <sub> 2.5 </sub> ）年均浓度、空气质量优良天数比例（\
      \ AQI ）主要指标达到省下达的目标要求，臭氧污染得到遏制。土壤环境质量总体保持稳定，土壤环境风险得到管控，受污染耕地安全利用率不低于 93% ，重点建设用地安全利用得到有效保障。地下水国控区域点位Ⅴ类水比例完成省下达任务，地下水饮用水源点位和污染风险监控点位水质总体保持稳定。\
      \ </p> </td> <td> <p> 项目区域地表水环境能满足相应的标准要求，属于达标区，区域大气环境质量属于不达标区； 项目生活污水经三级化粪预处理达标后\
      \ 排放到大门污水处理厂 ， 间接冷却 水排入雨水管网， 对周围水环境影响不大，危废仓基础建设必须按相关要求防渗，固体废物得到妥善处理。经以上处理后，本项目对区域内环境影响较小，质量可保持现有水平。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 资源利用上线 </p> </td> <td>\
      \ <p> 强化节约集约循环利用，持续提升资源能源利用效率，到 2025 年，全市用水总量控制在 23.44 亿立方米以内，万元地区生产总值值用水量和万元工业增加值用水量较\
      \ 2020 年降幅不低于 17% ，农田灌溉水有效利用系数不低于 0.55 。土地资源、岸线资源、能源消耗等达到或优于国家和省下达的总量、强度等目标要求，按省规定年限实现碳达峰，其中耕地保有量达到\
      \ 185.75 平方公里，永久基本农田面积稳定保持 164.42 平方公里，单位 GDP 能耗降低比例达到 14.5% 。 </p> <p> 到 2035\
      \ 年，生态环境分区管控体系巩固完善，生态空间保护格局稳定，生态环境质量根本好转，资源节约集约利用水平显著提高，碳排放率先达峰后稳中有降，绿色生产生活方式广泛形成，人与自然和谐发展的现代化建设新格局总体形成，建成美丽佛山。\
      \ </p> </td> <td> <p> 本项目不属于高耗能、高污染型企业，项目的水、电等资源利用不会突破区域上线。 </p> </td> <td>\
      \ <p> 符合 </p> </td> </tr> <tr> <td> <p> 环境准入负面清单 </p> </td> <td> <p> 《产业结构调整指导目录（\
      \ 2024 年本）》、《关于印发＜市场准入负面清单（ 2022 年版）的通知＞》（发经体改规〔 2022 〕 397 号）、《广东省禁止、限制生产、销售和使用的塑料制品目录》（\
      \ 2020 年版）（粤发改资环函 [2020]1747 号）及《环境保护综合名录》（ 2021 年版）等 </p> </td> <td> <p> 根据国家发展和改革委员会发布的《产业结构调整指导目录（\
      \ 2024 年本）》，项目不属于上述目录所列的鼓励类、限制和禁止（淘汰）项目；根据《促进产业结构调整暂行规定》第十三条，属于允许建设项目。同时，根据国家发展改革委商务部《关于印发＜市场准入负面清单（\
      \ 2022 年版）的通知＞》（发改体改规〔 2022 〕 397 号）可知，项目不在市场准入负面清单禁止和许可两类项目范围内。且通过对照《环境保护综合名录》（\
      \ 2021 年版），项目生产的塑料制品不在《广东省禁止、限制生产、销售和使用的塑料制品目录》内，也不属于“高污染、高环境风险”项目，也不属于 《广东省“两高”项目管理目录（\
      \ 2022 年版）》中列的“两高”项目。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p>\
      \ 环境管控单元准入清单 </p> </td> <td> <p> 区域布局管控 </p> </td> <td> <p> 1-1. 【产业 / 鼓励引导类】重点发展电子信息、\
      \ 5G 设备、装备制造及机器人产业、汽车配件产业，打造顺德智造创新服务中心；重点发展高端商贸、金融、科技服务、文创旅游等现代服务业，建设顺德新城城市\
      \ CBD 。 </p> </td> <td> <p> 项目为塑料制品业 ，虽不属于产业鼓励引导类，但也不属于产业限制类。 </p> </td> <td>\
      \ <p> 符合 </p> </td> </tr> <tr> <td> <p> 1-2. 【产业 / 综合类】系统推进村级工业园升级改造，腾出连片空间，布局产业集聚区和主题产业园，推动工业项目入园集聚发展。\
      \ </p> </td> <td> <p> 项目租用已有工业园区厂房，属于新建项目，所在地符合规划要求，不属于新建工业及物流仓储用地。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 1-3. 【大气 / 限制类】大气环境受体敏感重点管控区内，应严格限制新建储油库项目、产生和排放有毒有害大气污染物的建设项目以及使用溶剂型油墨、涂料、清洗剂、胶黏剂等高挥发性有机物原辅材料项目，鼓励现有该类项目搬迁退出。\
      \ </p> </td> <td> <p> 项目 为塑料制品业 ，位于集聚工业发展区，生产过程中不使用溶剂型油墨、涂料、清洗剂、胶黏剂等高挥发性有机物原辅材料，\
      \ 故不属于大气限制类，也不产生有毒有害污染物 。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td>\
      \ <p> 1-4. 【大气 / 鼓励引导类】大气环境高排放重点管控区内，应强化达标监管，引导工业项目落地集聚发展，有序推进区域内行业企业提标改造。 </p>\
      \ </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 1-5. 【产业 / 综合类】划定家具生产优先发展区域，优先发展区外不再新建涉及涂装工艺的木质家具制造项目。优先发展区范围根据家具产业发展规划及其规划环评文件确定。\
      \ </p> </td> <td> <p> 项目不属于木质家具制造项目。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 1-6. 【产业 / 限制类】 受纳水体或监控断面不达标且未“以新带老”制定区域达标方案的河涌，不得新建、扩建向河涌直接排放废水的项目。新建、扩建含蚀刻工序的线路板生产项目和化工项目应在配套污水集中处置的工业园区或生活污水管网覆盖区域内建设；纯加工型印花项目，含酸洗、磷化的金属表面处理、金属制品项目（与自身高新技术企业配套的和区级及以上重点项目除外），含酸洗、喷涂、化学抛光、电解等涉及废水排放工艺的不锈钢型材加工项目（与自身高新技术企业配套的和区级及以上重点项目除外），应进入以此类项目为主导产业、有相应废水集中治理设施的工业园区，实现集中治污\
      \ 。 </p> </td> <td> <p> 项目外排废水主要为生活污水和间接冷却水，生活污水最终纳入城市污水处理厂处理，且纳污水体水质达标。间接冷却水\
      \ 排入雨水管网 。 </p> <p> 本项目为塑料制品业，不涉及酸洗、磷化等工艺，此外，不属于产业限制类项目。 </p> </td> <td> <p>\
      \ 符合 </p> </td> </tr> <tr> <td> <p> 能源资源利用 </p> </td> <td> <p> 2-1. 【能源 / 鼓励引导类】推广节能技术，加快发展绿色货运与现代物流。\
      \ </p> </td> <td> <p> 项目为工业型企业，不涉及货运与现代物流。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 2-2. 【能源 / 鼓励引导类】推广新能源汽车应用和充电基础设施、加氢站建设。 </p> </td> <td>\
      \ <p> 项目为工业型企业，不涉及新能源的建设。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td>\
      \ <p> 2-3. 【能源 / 综合类】科学实施能源消费总量和强度“双控”，新建高能耗项目单位产品（产值）能耗达到国际国内先进水平。 </p> </td>\
      \ <td> <p> 项目不属于高耗水项目，主要用水为生活用水及冷却等工业用水，冷却用水循环使用，定期排放，提高用水利用率。 </p> </td> <td>\
      \ <p> 符合 </p> </td> </tr> <tr> <td> <p> 2-4. 【水资源 / 综合类】贯彻落实“节水优先”方针，实行最严格水资源管理制度，大良街道万元国内生产总值用水量、万元工业增加值用水量、用水总量、农田灌溉水有效利用系数等用水总量和效率指标达到区下达要求。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 2-5. 【土地资源 / 限制类】落实单位土地面积投资强度、土地利用强度等建设用地控制性指标要求，提高土地利用效率。\
      \ </p> </td> <td> <p> 本项目租用已建成工业厂房，不新增用地，提高土地利用率。 </p> </td> <td> <p> 符合 </p>\
      \ </td> </tr> <tr> <td> <p> 2-6. 【岸线 / 禁止类】严格水域岸线用途管制，新建项目一律不得违规占用水域。严禁破坏生态的岸线利用行为和不符合其功能定位的开发建设活动，严禁以各种名义侵占河道、围垦湖泊、非法采砂等。\
      \ </p> </td> <td> <p> 项目选址不占用水域，租用已建厂房，不存在基建基础施工， 不会破坏生态的岸线利用和做不符合其功能定位的开发建设活动，不侵占河道围垦湖泊、非法采砂等。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 污染物排放管控 </p> </td> <td>\
      \ <p> 3-1. 【水 / 限制类】城镇新区建设实行雨污分流。住宅、商业体、学校、市场等城镇开发建设项目应当配套或者同步计划建设公共排水设施，公共排水设施或自建排污水设施未能投产运行的，以上涉水项目不得投入使用。新建小区严格实施雨污分流，阳台、露台等污水接入污水收集系统，将生活污水“应截尽截”。做好大型楼盘、集贸市场、餐饮以及学校等\
      \ 4 大类排水户污水接入市政管网工作。 </p> </td> <td> <p> 项目 不属于城镇新区建设，是在已有工业区内建设 。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3-2. 【水 / 综合类】大良街道重点河涌水质上年度未达到水环境环境质量目标的，需组织编制、系统实施、向社会公开区域重点水污染物减排计划并明确“替代量”，本年度新建、改建、扩建项目新增水环境重点污染物实行区域“减二增一”替代（工业、生活或综合集中废水处理设施、民生项目除外）。\
      \ </p> </td> <td> <p> 项目生活污水经三级化粪预处理达标后 排放 到大门污水处理厂，尾水排至顺德支流，间接 冷却 水排入雨水管网，\
      \ 顺德支流水质 2023 年达到水环境质量目标，且属于工业项目，无需实施本年度改建、扩建项目新增水环境重点污染物区域“减二增一”替代。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3-3. 【水 / 综合类】结合村级工业园改造，全面提升产业层次与集聚度，促进污染集中整治。\
      \ </p> </td> <td> <p> 本项目 选址区域产业层次与集聚度较高，污染集中整治。 </p> </td> <td> <p> 符合 </p>\
      \ </td> </tr> <tr> <td> <p> 3-4. 【水 / 综合类】稳步推进排水设施“三个一体化”管理模式，补齐城乡污水收集和处理短板，推动逢沙污水处理厂、大门污水处理厂提质增效，加快消除城中村、老旧城区、城乡结合部等污水收集管网空白区，逐步实现城乡污水收集处理全覆盖。\
      \ 2025 年前逢沙污水处理厂根据片区的污水排放收集情况，进行扩建工作，尾水应执行《城镇污水处理厂污染物排放标准》（ GB18918-2002 ）一级\
      \ A 标准及《广东省水污染物排放限值》（ DB44/26-2001 ）的较严值。 2025 年城市生活污水集中收集率达到 75% 以上。 </p> </td>\
      \ <td> <p> 本项目为工业型项目，不涉及城镇污水处理厂的建设。项目位于大门污水处理厂集水范围，尾水执行《城镇污水处理厂污染物排放标准》（ GB18918-2002\
      \ ）一级 A 标准及《广东省水污染物排放限值》（ DB44/26-2001 ）第二时段一级标准的较严值。 </p> </td> <td> <p> 符合\
      \ </p> </td> </tr> <tr> <td> <p> 3-5. 【水 / 综合类】逢沙村、红岗村、大门村、顺峰村和南江村等行政村（社区）继续完善污水管网建设，实现农村污水\
      \ 100% 收集进入市政污水系统，有条件的区域实施雨污分流改造，到 2030 年全面雨污分流，污水纳入大良街道污水处理系统。 </p> </td> <td>\
      \ <p> 项目实施雨污分流制，雨水经雨水井收集纳入周边城市下水道，生活污水经预处理后通过市政污水管网纳入大门污水处理厂处理。 间接冷却 水 排入雨水管网\
      \ 。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3-6. 【大气 / 综合类】大力推进低\
      \ VOCs 含量原辅材料替代，加快涉 VOCs 重点行业的生产工艺升级改造，推行自动化生产工艺，对达不到要求的 VOCs 收集及治理设施进行整治提升，逐步淘汰低效\
      \ VOCs 治理设施。 </p> </td> <td> <p> 项目使用的塑料为固态，在注塑过程中因受到高温影响产生有机废气， 经点对点局部 密闭 集气罩收集后通过“活性炭吸附”处理，引至\
      \ 1 根 15m 高排气筒排放 。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 环境风险防控\
      \ </p> </td> <td> <p> 4-1. 【水 / 综合类】大门污水处理厂、逢沙污水处理厂、工业污水集中处理设施应采取有效措施，防止事故废水直接排入水体。完善污水处理厂在线监控系统联网，实现污水处理厂的实时、动态监管。\
      \ </p> </td> <td> <p> 项目所在地位于大门污水处理厂纳污范围，污水处理厂已与在线监控系统联网，实现污水处理厂的实时动态监管。 </p>\
      \ </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 4-2. 【风险 / 综合类】加强环境风险分级分类管理，强化金属制品、有色金属和压延加工、化学原料和化学品制造业等涉重金属、化工行业企业及工业园区等重点环境风险源的环境风险防控。\
      \ </p> </td> <td> <p> 项目不属于金属制品、有色金属和压延加工、化学原料和化学品制造业等涉重金属、化工行业企业及工业园区等重点环境风险源，项目运营后日常加强环境风险分级分类管理。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> </table> <ol> <li> <p> 与有机物治理政策相符性分析\
      \ </p> </li> </ol> <ol> <li> <p> 项目与有机污染物治理政策的相符性分析 </p> </li> </ol> <table>\
      \ <tr> <td> <p> 序号 </p> </td> <td> <p> 政策要求 </p> </td> <td> <p> 工程内容 </p> </td>\
      \ <td> <p> 符合性 </p> </td> </tr> <tr> <td> <p> 1. 《广东省涉挥发性有机物（ VOC <sub> S </sub>\
      \ ）重点行业治理指引》的通知（粤环办 [2021]43 号） </p> </td> </tr> <tr> <td> <p> 1.1 </p> </td>\
      \ <td> <p> 采用外部集气罩的，距集气罩开口面最远处的 VOCs 无组织排放位置，控制风速不低于 0.3m/s 。 </p> </td> <td>\
      \ <p> 项目注塑废气， 通过点对点 局部 密闭 集气罩收集，收集效率为 65% 。集气罩置于废气产生点的合理位置，保证风速为 1 m/s 。 </p>\
      \ </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 1.2 </p> </td> <td> <p> 废气收集系统的输送管道应密闭。废气收集系统应在负压下运行，若处于正压状态，应对管道组件的密封点进行泄漏检测，泄漏检测值不应超过\
      \ 500μmol/mol ，亦不应有感官可察觉泄漏。 </p> </td> <td> <p> 项目废气收集系统在负压下运行。 </p> </td> <td>\
      \ <p> 符合 </p> </td> </tr> <tr> <td> <p> 1.3 </p> </td> <td> <p> VOCs 治理设施应与生产工艺设备同步运行，\
      \ VOCs 治理设施发生故障或检修时，对应的生产工艺设备应停止运行，待检修完毕后同步投入使用；生产工艺设备不能停止运行或不能及时停止运行的，应设置废气应急处理设施或采取其他替代措施。\
      \ </p> </td> <td> <p> 项目生产必须开启风机，有效减少无组织排放废气。废气收集处理系统发生故障或检修时，所有产生废气的工序停止运行，待检修完毕后再投入生产。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 1.4 </p> </td> <td>\
      \ <p> 工艺过程 </p> </td> <td> <p> 粉状、粒状 VOCs 物料采用气力输送方式或采用密闭固体投料器等给料方式密闭投加；无法密闭投加的，在密闭空间内操作，或进行局部气体收集，废气排至除尘设施、\
      \ VOCs 废气收集处理系统。 </p> </td> <td> <p> 项目 使用的 PBT 塑料、 P P 塑料 、 PA6 塑料 和色粉均为固态，常温条件下不会产生有机废气。在转移过程中均使用密闭的包装袋封装。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 在混合 / 混炼、塑炼 / 塑化 / 熔化、加工成型（挤出、注射、压制、压延、发泡、纺丝等）、硫化等作业中应采用密闭设备或在密闭空间中操作，废气应排至\
      \ VOCs 废气收集处理系统；无法密闭的，应采取局部气体收集措施，废气应排至 VOCs 废气收集处理系统。 </p> </td> <td> <p> 项目注塑废气\
      \ 通过点对点 局部 密闭 集气罩 收集 ，经活性炭吸附装置处理后通过 15 m 排气筒达标排放。 </p> </td> </tr> <tr> <td>\
      \ <p> 1.5 </p> </td> <td> <p> 排放水平 </p> </td> <td> <p> 塑料制品行业： a ）有机废气排气筒排放浓度不高于广东省《大气污染物排放限值》（\
      \ DB4427-2001 ）第Ⅱ时段排放限值，合成革和人造革制造企业排放浓度不高于《合成革与人造革工业污染物排放标准》（ GB21902-2008 ）排放限值，若国家和我省出台并实施适用于塑料制品制造业的大气污染物排放标准，则有机废气排气筒排放浓度不高于相应的排放限值；车间或生产设施排气中\
      \ NMHC 初始排放速率≥ 3kg/h 时，建设 VOCs 处理设施且处理效率≥ 80% ； b ）厂区内无组织排放监控点 NMHC 的小时平均浓度值不超过\
      \ 6mg/m <sup> 3 </sup> 任意一次浓度值不超过 20mg/m <sup> 3 </sup> 。 </p> </td> <td> <p>\
      \ 项目生产过程 有机废气达到 《合成树脂工业污染物排放标准》（ GB31572-2015 ， 含 2024 年修改单 ） ； 有机废气厂区内无组织排放满足平均浓度值不超过\
      \ 6mg/m <sup> 3 </sup> ，任意一次浓度值不超过 20mg/m <sup> 3 </sup> 。 </p> </td> <td> <p>\
      \ 符合 </p> </td> </tr> <tr> <td> <p> 1.6 </p> </td> <td> <p> 管理台账 </p> </td>\
      \ <td> <p> 建立废气收集处理设施台账，记录废气处理设施进出口的监测数据（废气量、浓度、温度、含氧量等）、废气收集与处理设施关键参数、废气处理设施相关耗材（吸收剂、吸附剂、催化剂等）购买和处理记录。\
      \ </p> </td> <td> <p> 企业拟建立废气收集处理设施台账，根据《排污单位自行监测技术指南 橡胶和塑料制品》（ HJ1027-2021\
      \ ）等相关要求定期自行监测，并且记录相关监测数据和废气处理设施中活性炭的购买量和处理记录。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 1.7 </p> </td> <td> <p> 建立危废台账，整理危废处置合同、转移联单及危废处理方式资质佐证材料。\
      \ </p> </td> <td> <p> 企业拟建立危险废物台账，定期将废 矿物 油、废油桶、废活性炭等危险废物交给有资质的单位处理，整理危废处理合同、转移联单等资料。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 2. 《广东省人民政府办公厅关于印发广东省\
      \ 2021 年大气、水、土壤污染防治工作方案的通知》（粤办函〔 2021 〕 58 号） </p> </td> </tr> <tr> <td> <p>\
      \ 2.1 </p> </td> <td> <p> 严格落实国家产品 VOCs 含量限值标准要求，除现阶段确无法实施替代的工序外，禁止新建生产和使用高\
      \ VOCs 含量原辅材料项目。鼓励在生产和流通消费环节推广使用低 VOCs 含量原辅材料。 </p> </td> <td> <p> 项目不使用高 VOCs\
      \ 含量原辅材料，本项目 VOCs 的产生来源于固体塑料在作业过程产生。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 2.2 </p> </td> <td> <p> 涉 VOCs 重点行业新建、改建和扩建项目不推荐使用光氧化、光催化、低温等离子等低效治理设施，已建项目逐步淘汰光氧化、光催化、低温等离子治理设施。指导采用一次性活性炭吸附治理技术的企业，明确活性炭装载量和更换频次，记录更换时间和使用量。\
      \ </p> </td> <td> <p> 项目有机废气治理采用“活性炭 吸附 ”处理。活性炭装载量和更换频次已在本报告内容中明确。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 3. 《固定污染源挥发性有机物综合排放标准》（ DB44/2367-2022\
      \ ） </p> </td> </tr> <tr> <td> <p> 3.1 </p> </td> <td> <p> VOCs 物料储存无组织排放控制要求\
      \ </p> </td> <td> <p> 项目含 VOCs 物料主要为 PBT 、 PP 、 PA6 塑料 等，常温下不挥发，储存在仓库内；工艺生产过程产生的有机废气通过设置点对点局部\
      \ 密闭 集气罩收集并采用活性炭吸附处理后高空排放，减少无组织排放。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr>\
      \ <td> <p> 3.2 </p> </td> <td> <p> VOCs 物料转移和输送无组织排放控制要求 </p> </td> <td> <p>\
      \ 符合 </p> </td> </tr> <tr> <td> <p> 3.3 </p> </td> <td> <p> 工艺过程 VOCs 无组织排放控制要求\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 4. 关于印发《重点行业挥发性有机物综合治理方案》的通知（环大气\
      \ [2019]53 号） </p> </td> </tr> <tr> <td> <p> 4.1 </p> </td> <td> <p> 通过使用水性、粉末、高固体分、无溶剂、辐射固化等低\
      \ VOCs 含量的涂料，水性、辐射固化、植物等低 VOCs 含量的油墨，水基、热熔、无溶剂、辐射固化、改性、生物降解等低 VOCs 含量的胶粘剂，以及低\
      \ VOCs 含量、低反应活性的清洗剂等，替代溶剂型涂料、油墨、胶粘剂、清洗剂等，从源头减少 VOCs 产生 。 </p> </td> <td> <p>\
      \ 本项目使用的原材料无自然状态下可挥发性的物料，满足相关标准要求。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr>\
      \ <td> <p> 4.2 </p> </td> <td> <p> 重点对含 VOCs 物料（包括含 VOCs 原辅材料、含 VOCs 产品、含 VOCs\
      \ 废料以及有机聚合物材料等）储存、转移和输送、设备与管线组件泄漏、敞开液面逸散以及工艺过程等五类排放源实施管控，通过采取设备与场所密闭、工艺改进、废气有效收集等措施，削减\
      \ VOCs 无组织排放。 </p> </td> <td> <p> 项目从事塑料制品制造，主要物料为 PBT 、 PP 、 PA6 、色粉，物料在储存、转移和输送等常温过程不会挥发产生\
      \ VOCs ，其主要来源于注塑工序，注塑有机废气通过设置点对点局部密闭集气罩收集并采用“活性炭吸附”处理后高空排放，可减少无组织排放。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 4.3 </p> </td> <td> <p> 提高废气收集率，遵循\
      \ “ 应收尽收、分质收集 ” 的原则，科学设计废气收集系统，将无组织排放转变为有组织排放进行控制。采用全密闭集气罩或密闭空间的，除行业有特殊要求外，应保持微负压状态，并根据相关规范合理设置通风量。采用局部集气罩的，距集气罩开口面最远处的\
      \ VOCs 无组织排放位置，控制风速应不低于 0.3 米 / 秒，有行业要求的按相关规定执行。 </p> </td> <td> <p> 项目注塑过程产生的废气，通过点对点\
      \ 局部 密闭 集气罩收集，收集效率为 65% 。集气罩置于废气产生点的合理位置，保证风速为 1 m/s 。 </p> </td> <td> <p> 符合\
      \ </p> </td> </tr> <tr> <td> <p> 5. 《顺德区重点行业挥发性有机物总量指标管理工作方案（ 202 4 年修订） </p>\
      \ </td> </tr> <tr> <td> <p> 5.1 </p> </td> <td> <p> 总量替代原则，根据区域现状、改善目标，减排空间，全区建设项目新增\
      \ VOCs 排放量施行“减二增一”政策，其中有组织排放和无组织排均纳入新增指标管理；非甲烷总烃合并计入 VOCs 管理。 </p> </td> <td>\
      \ <p> 项目 VOCs 新增排放总量指标（ 0.187t/a ）由所在街道出具 VOCs 总量指标来源及替代削减方案的意见。 </p> </td>\
      \ <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 6. 佛山市发展和改革局 佛山市生态环境局关于印发《佛山市关于进一步加强塑料污染治理的实施方案》的通知（\
      \ 2020 年 11 月 09 日发布） </p> </td> </tr> <tr> <td> <p> 6.1 </p> </td> <td> <p>\
      \ 全市范围内禁止生产和销售厚度小于 0.025 毫米的超薄塑料购物袋、厚度小于 0.01 毫米的聚乙烯农用地膜。禁止以医疗废物为原料制造塑料制品；禁止将回收利用的废塑料输液袋（瓶）用于原用途或用于制造餐饮容器以及玩具等儿童用品。加大禁止“洋垃圾”进口监管和打私力度，确保“全面禁止废塑料进口”落实到位。到\
      \ 2020 年底，禁止生产和销售一次性发泡塑料餐具、一次性塑料棉签；禁止生产含塑料微珠的日化产品。到 2022 年底，禁止销售含塑料微珠的日化产品。国家《产业结构调整指导目录》和《市场准入负面清单》明确的属于淘汰类的塑料制品项目，禁止投资；属于限制类项目，禁止新建。\
      \ </p> </td> <td> <p> 本项目生产的塑料制品为 支架线盘 ，不生产超薄塑料购物袋、聚乙烯农用地膜、餐饮容器以及玩具等儿童用品、一次性发泡塑料餐具、一次性塑料棉签、含塑料微珠的日化产品，同时项目所有塑料原料均为新料，不使用任何回收利用的废塑料。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 7. 《广东省塑料制品与制造业挥发性有机物综合整治技术指南》（\
      \ 2022 年 6 月 5 日发布） </p> </td> </tr> <tr> <td> <p> 7.1 </p> </td> <td> <p> 粉状、粒状\
      \ VOCs 物料投加，宜采用气力输送方式或采用密闭固体投料器等给料方式密闭投加。 </p> </td> <td> <p> 本项目塑料投料采用 气力输送方式密闭投加。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 7.2 </p> </td> <td>\
      \ <p> 塑炼 / 塑化 / 熔化、挤出、注塑、吹膜等成型工序可采取局部气体收集措施，且满足控制风速不低于 0.3m/s 的要求。 </p> </td>\
      \ <td> <p> 项目注塑过程产生的废气，通过点对点 局部 密闭 集气罩收集，收集效率为 65% 。集气罩置于废气产生点的合理位置，保证风速为 1\
      \ m/s 。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 7.3 </p> </td>\
      \ <td> <p> 若采用活性炭吸附技术，采用颗粒活性炭作为吸附剂时，其碘值不宜低于 800mg/g ；采用蜂窝活性炭作为吸附剂时，其碘值不宜低 650mg/g\
      \ ；采用活性炭纤维作为吸附剂时，其比表面积不低于 1100m <sup> 2 </sup> /g （ BET 法）。工作温度和湿度应符合：温度 T&lt;40℃\
      \ 、湿度 RH&lt;60% ；活性炭表面不应有积尘和积水；活性炭吸附箱是否足额装填活性炭（ 1 吨活性炭通常只能吸附 0.1~0.2 吨 VOCs\
      \ </p> </td> <td> <p> 本项目采用碘值不宜低于 800mg/g 的颗粒活性炭对有机废气进行吸附处理，且 1 吨活性炭按吸附 0.15\
      \ 吨 VOCs 计算。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 8. 《广东省生态环境保护“十四五”规划》的通知（粤环〔\
      \ 2021 〕 10 号） </p> </td> </tr> <tr> <td> <p> 8.1 </p> </td> <td> <p> 珠三角地区禁止新建、扩建水泥、平板玻璃、化学制浆、生皮制革以及国家规划外的钢铁、原油加工等项目。\
      \ </p> </td> <td> <p> 项目 为 塑料制品制造 行业 ， 不属于做列中禁止建设项目。 </p> </td> <td> <p> 符合\
      \ </p> </td> </tr> <tr> <td> <p> 8.2 </p> </td> <td> <p> 禁止新建、扩建燃用高污染燃料的设施，已建成的按要求改用天然气、电或者其他清洁能源。\
      \ </p> </td> <td> <p> 项目不使用任何燃料，主要能源为电。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 8.3 </p> </td> <td> <p> 大力推进挥发性有机物（ VOCs ）源头控制和重点行业深度治理。在石化、化工、包装印刷、工业涂装等重点行业建立完善源头、过程和末端的\
      \ VOCs 全过程控制体系 。 大力推进低 VOCs 含量原辅材料源头替代，严格落实国家和地方产品 VOCs 含量限值质量标准，禁止建设生产和使用高\
      \ VOCs 含量的 溶剂 型涂料、油墨、胶粘剂等项目。 </p> </td> <td> <p> 项目为 塑料制品制造 ，不使用溶剂型油墨、涂料、 胶粘剂\
      \ 等高挥发性有机物原辅材料。注塑产生的 VOCs 经收集、末端处理后高空排放。 </p> </td> <td> <p> 符合 </p> </td> </tr>\
      \ <tr> <td> <p> 9 . 《佛山市生态环境保护“十四五”规划》的通知（佛环〔 2022 〕 3 号） </p> </td> </tr> <tr>\
      \ <td> <p> 9 .1 </p> </td> <td> <p> 严格限制新建生产和使用高挥发性有机物原辅材料的项目。 </p> </td> <td>\
      \ <p> 本项目不生产和使用高挥发性有机物原辅材料。 </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td>\
      \ <p> 9 .2 </p> </td> <td> <p> 推进 VOCs 高排放企业治理设施提升改造，淘汰光催化、光氧化、低温等离子等现有低效治理设施。\
      \ </p> </td> <td> <p> 本项目 VOCs 采用活性炭装置治理。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 10 . 佛山市顺德区人民政府办公室关于印发《佛山市顺德区生态环境保护“十四五”规划（ 2021-2025\
      \ ）》的通知 </p> </td> </tr> <tr> <td> <p> 10 .1 </p> </td> <td> <p> 持续推进重点行业 VOCs\
      \ 整治。持续开展挥发性有机物专项整治，继续推进重点行业企业开展销号式综合整治，建立 VOC 重点监管企业名单并动态更新，督促企业建立 VOCs 管控台账清单；持续探寻高效节能的\
      \ VOCs 治理技术，对采用低温等离子、光氧化、光催化等低效治理工艺的企业在臭氧污染天气应对期间实施停限产或错峰生产，并推动企业逐步淘汰低效治理工艺。\
      \ </p> </td> <td> <p> 本项目 VOCs 采用活性炭装置治理。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 10 .2 </p> </td> <td> <p> 加强 VOCs 源头替代和无组织排放管控。大力推进低 VOCs\
      \ 含量、低反应活性的原辅材料替代，将全面使用低 VOCs 含量原辅材料的企业纳入正面清单和政府绿色采购清单。鼓励重点行业企业开展生产工艺和设备水性化改造，推广使用水性、高固体分、无溶剂、粉末等低\
      \ VOCs 含量涂料。严格落实《挥发性有机物无组织排放控制标准》，开展厂区内无组织排放浓度监测，加强对含 VOCs 物料储存、转移和运输、设备与管线组件泄漏、敞开页面逸散以及工艺过程等五类排放源的管控。\
      \ </p> </td> <td> <p> 本项目不生产和使用高挥发性有机物原辅材料。 </p> </td> <td> <p> 符合 </p> </td>\
      \ </tr> <tr> <td> <p> 1 1 . 《佛山市生态环境局 佛山市水利局关于进一步加强工业企业废水污染防治的函》 </p> </td>\
      \ </tr> <tr> <td> <p> 11 .1 </p> </td> <td> <p> 生活污水管网未覆盖或已覆盖但未实质连通接入城镇生活污水处理厂的区域，原则上不得新建、扩建生活污水排放的工业项目，确需排放生活污水的，应自行配套生活污水处理设施，自建污水处理设施仅限于规模以上、生活污水排放量不低于\
      \ 40 吨 / 日的工业企业，并加强处理工艺经济技术可行性及受纳水体达标论证。 </p> </td> <td> <p> 本项目所在区域生活污水管网已敷设建成，且已与大门污水处理厂连通，生活污水依托所在工业园区建设的三级化粪池处理后纳入大门污水处理厂深度处理。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> <tr> <td> <p> 1 1 .2 </p> </td> <td>\
      \ <p> 加强涉生产废水产排项目审批管理。 </p> <p> （ 1 ）聚焦产业行业特点，针对企业规模小、生产工艺简单、单纯加工型、产品附加值不高、废水产排复杂的涉水项目，要严格废水回用率和回用可行性审查，无废水成分分析、回用水质适用性分析，无废水回用处理工艺设施、技术经济可行性论述，无回用相关存储及管路设置等工程措施的项目，不得通过回用或“零排放”环评审批。\
      \ </p> <p> （ 2 ）严格工业废水排入城镇生活污水处理厂的项目审查，项目环评报告要加强城镇生活污水处理厂可依托性及可监管性分析。经评估工业废水预处理后可进入城镇生活污水处理厂处理的，在环评审批环节以内部流程形式征询同级水利部门意见，与水利部门排水许可管理形成联动。未实现雨污分流的工业园区、工业集聚区，严格控制以间接排放标准或纳管排放标准向市政管网排放工业废水。工业企业排放有含重金属、难生化降解、有生物毒性、易燃易爆、高盐分、重油脂等超城镇生活污水处理厂接收能力的生产废水，以及间接冷却的清净下水等过低浓度生产废水，原则上不得排入城镇生活污水处理厂，已进入的，各区要制定限期退出计划并实施。受纳城镇生活污水处理厂已满负荷的，限制审批新增废水排入城镇生活污水处理厂的工业项目。\
      \ </p> </td> <td> <p> 项目为塑料制品业，生产工艺不涉及有机喷涂，废水主要为生活污水，生活污水最终纳入城市污水处理厂处理，间接冷却水排入雨水管网，废水产排简单。且项目所在工业聚集区已实现雨污分流，间接冷却的清净下水排入雨水管网。\
      \ </p> </td> <td> <p> 符合 </p> </td> </tr> </table>  </td> </tr></tbody></table>\"\
      ,\n    \"token\": 16080\n  },\n  {\n    \"id\": \"7\",\n    \"content\": \"\
      <p> 二、建设项目工程分析 </p> <table> <tr> <td> <p> 建设 </p> <p> 内容 </p> </td> <td> <p>\
      \ 1 、项目工程组成 </p> <p> 项目租用已建成厂房作为生产经营场所，所在厂房共 1 层，层楼高为 8m 。厂房的占地面积 1247m <sup>\
      \ 2 </sup> ，建筑面积为 1247m <sup> 2 </sup> ，项目具体工程组成见下表： </p> <ol> <li> <p> 项目工程组成\
      \ </p> </li> </ol> <table> <tr> <td> <p> 类别 </p> </td> <td> <p> 工程名称 </p> </td>\
      \ <td> <p> 工程内容 </p> </td> </tr> <tr> <td> <p> 主体工程 </p> </td> <td> <p> 生产区\
      \ </p> </td> <td> <p> 面积： 843m <sup> 2 </sup> ， 1 层，层高 8m ，所在建筑物高 8m </p> </td>\
      \ <td> <p> 注塑区（ 400m <sup> 2 </sup> ）、混料破碎区（ 100m <sup> 2 </sup> ）、模具维修区（ 100m\
      \ <sup> 2 </sup> ）、空压机、冷却塔等辅助生产区域（ 243m <sup> 2 </sup> ） </p> </td> </tr> <tr>\
      \ <td> <p> 辅助工程 </p> </td> <td> <p> 办公区 </p> </td> <td> <p> 面积： 100m <sup> 2\
      \ </sup> ， 1 层，层高 8m ，所在建筑物高 8m </p> </td> <td> <p> 员工的日常办公 </p> </td> </tr>\
      \ <tr> <td> <p> 储运工程 </p> </td> <td> <p> 原料暂存区 </p> </td> <td> <p> 面积： 130m\
      \ <sup> 2 </sup> ， 1 层，层高 8m ，所在建筑物高 8m </p> </td> <td> <p> 塑料、油类等原料的堆放 </p>\
      \ </td> </tr> <tr> <td> <p> 成品暂存区 </p> </td> <td> <p> 面积： 160m <sup> 2 </sup>\
      \ ， 1 层，层高 8m ，所在建筑物高 8m </p> </td> <td> <p> 成品的堆放 </p> </td> </tr> <tr> <td>\
      \ <p> 一般固废仓 </p> </td> <td> <p> 面积： 8m <sup> 2 </sup> ， 1 层，层高 8m ，所在建筑物高 8m\
      \ </p> </td> <td> <p> 暂存一般工业固废 </p> </td> </tr> <tr> <td> <p> 危废仓 </p> </td>\
      \ <td> <p> 面积： 6m <sup> 2 </sup> ， 1 层，层高 8m ，所在建筑物高 8m </p> </td> <td> <p>\
      \ 暂存危险废物 </p> </td> </tr> <tr> <td> <p> 公共工程 </p> </td> <td> <p> 供水 </p> </td>\
      \ <td> <p> 由市政供水管网供给，包括生活用水、生产冷却用水。 </p> </td> </tr> <tr> <td> <p> 供电 </p> </td>\
      \ <td> <p> 由市政供电管网供给，项目内不设备用发电机。 </p> </td> </tr> <tr> <td> <p> 环保工程 </p> </td>\
      \ <td> <p> 污水治理工程 </p> </td> <td> <p> 生活污水经三级化粪池处理后通过市政污水管网最终排入大门污水处理厂 </p>\
      \ </td> </tr> <tr> <td> <p> 间接冷却循环水可作清净下水排入雨水管网 </p> </td> </tr> <tr> <td> <p>\
      \ 废气处理工程 </p> </td> <td> <p> 注塑废气经集气罩点对点局部密闭收集后通过 “活性炭 吸附 ” 处理，引至 1 根 15m 高排气筒排放。\
      \ </p> </td> </tr> <tr> <td> <p> 投料、破碎粉尘、金属粉尘经加强车间通风排气后以无组织形式排放。 </p> </td>\
      \ </tr> <tr> <td> <p> 噪声治理工程 </p> </td> <td> <p> 合理调整设备布置，主要生产设备安装隔震垫，采用隔声、距离衰减等治理措施。\
      \ </p> </td> </tr> <tr> <td> <p> 固废处理工程 </p> </td> <td> <p> 生活垃圾定期委托环卫部门统一收集处理。\
      \ </p> </td> </tr> <tr> <td> <p> 一般工业固废暂存于一般固废仓，定期交由物资单位回收。塑料次品和边角料及残留物均回用到项目生产中利用。\
      \ </p> </td> </tr> <tr> <td> <p> 设立危废仓，废矿物油、废活性炭等危废暂存于危废仓定期交由有资质单位收集处理。 </p>\
      \ </td> </tr> </table> <ol> <li> <p> 项目产品方案 </p> </li> </ol> <ol> <li> <p> 项目产品规模\
      \ </p> </li> </ol> <table> <tr> <td> <p> 产品名称 </p> </td> <td> <p> 年产量 / 万个 </p>\
      \ </td> <td> <p> 尺寸 / 个 </p> </td> <td> <p> 单位产品质量 (g/ 个 ) </p> </td> <td> <p>\
      \ 总质量 (t/a) </p> </td> </tr> <tr> <td> <p> 支架线盘 </p> </td> <td> <p> 100 </p>\
      \ </td> <td> <p> 直径 160mm/ 个 </p> </td> <td> <p> 55 </p> </td> <td> <p> 55 </p>\
      \ </td> </tr> <tr> <td> <p> 50 </p> </td> <td> <p> 直径 190mm/ 个 </p> </td> <td>\
      \ <p> 95 </p> </td> <td> <p> 47.5 </p> </td> </tr> <tr> <td> <p> 合计 </p> </td>\
      \ <td> <p> 102.5 </p> </td> </tr> <tr> <td> <p> 注： [1] 支架线盘 的产品规格多种多样，本次环评选取产量占比较多的规格类型进行评价。\
      \ </p> </td> </tr> </table> <ol> <li> <p> 主要生产设备 </p> </li> </ol> <ol> <li>\
      \ <p> 主要生产设备一览表 </p> <table> <tr> <td> <p> 序号 </p> </td> <td> <p> 名称 </p> </td>\
      \ <td> <p> 型号 </p> </td> <td> <p> 设计参数 </p> </td> <td> <p> 数量 </p> </td> <td>\
      \ <p> 单位 </p> </td> <td> <p> 工艺 </p> </td> <td> <p> 位置 </p> </td> </tr> <tr>\
      \ <td> <p> 1 </p> </td> <td> <p> 注塑机 </p> </td> <td> <p> 140T </p> </td> <td>\
      \ <p> 注射速率 112.8g/s </p> </td> <td> <p> 9 </p> </td> <td> <p> 台 </p> </td> <td>\
      \ <p> 注塑 </p> </td> <td> <p> 南侧 </p> </td> </tr> <tr> <td> <p> 180T </p> </td>\
      \ <td> <p> 注射速率 142.0g/s </p> </td> <td> <p> 6 </p> </td> <td> <p> 台 </p> </td>\
      \ </tr> <tr> <td> <p> 小计 </p> </td> <td> <p> 15 </p> </td> <td> <p> 台 </p> </td>\
      \ </tr> <tr> <td> <p> 2 </p> </td> <td> <p> 烘料桶 <sup> [1] </sup> </p> </td>\
      \ <td> <p> WSDB75 </p> </td> <td> <p> / </p> </td> <td> <p> 15 </p> </td> <td>\
      \ <p> 台 </p> </td> <td> <p> 烘料 </p> </td> </tr> <tr> <td> <p> 3 </p> </td> <td>\
      \ <p> 混料机 </p> </td> <td> <p> 立式 -2000 、立式 -500 </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> 3 </p> </td> <td> <p> 台 </p> </td> <td> <p> 混料 </p> </td> <td> <p>\
      \ 东北侧 </p> </td> </tr> <tr> <td> <p> 4 </p> </td> <td> <p> 破碎机 </p> </td> <td>\
      \ <p> 30-75KW </p> </td> <td> <p> / </p> </td> <td> <p> 1 </p> </td> <td> <p>\
      \ 台 </p> </td> <td> <p> 破碎 </p> </td> <td> <p> 东北侧 </p> </td> </tr> <tr> <td>\
      \ <p> 5 </p> </td> <td> <p> 冷却塔 </p> </td> <td> <p> CT-200 </p> </td> <td> <p>\
      \ 15m <sup> 3 </sup> /h </p> </td> <td> <p> 1 </p> </td> <td> <p> 台 </p> </td>\
      \ <td> <p> 冷却 </p> </td> <td> <p> 东侧 </p> </td> </tr> <tr> <td> <p> 6 </p> </td>\
      \ <td> <p> 空压机 </p> </td> <td> <p> QB-10HP </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> 1 </p> </td> <td> <p> 台 </p> </td> <td> <p> 辅助设备 </p> </td> <td>\
      \ <p> 西侧 </p> </td> </tr> <tr> <td> <p> 7 </p> </td> <td> <p> 磨床 </p> </td>\
      \ <td> <p> TOTAL1.2KW </p> </td> <td> <p> / </p> </td> <td> <p> 1 </p> </td>\
      \ <td> <p> 台 </p> </td> <td> <p> 模具维修区 </p> </td> <td> <p> 西北侧 </p> </td> </tr>\
      \ <tr> <td> <p> 8 </p> </td> <td> <p> 铣床 </p> </td> <td> <p> SONI15W </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 1 </p> </td> <td> <p> 台 </p> </td> <td> <p>\
      \ 模具维修区 </p> </td> <td> <p> 西北侧 </p> </td> </tr> <tr> <td> <p> 备注： [1] 烘料桶为注塑机配套设备。\
      \ </p> </td> </tr> </table> <li> <p> 主要产能设备生产能力 </p> </li> </li> </ol> <table>\
      \ <tr> <td> <h3> 设备型号 </h3> </td> <td> <h3> 数量 ( 台 ) </h3> </td> <td> <p> 产品质量\
      \ (g/ 个 ) </p> </td> <td> <p> 模具穴数 </p> </td> <td> <p> 单个模具容量 (g/ 模 ) </p> </td>\
      \ <td> <h3> 单模生产时间 (s) </h3> </td> <td> <h3> 总产能 (g/min· 台 ) </h3> </td> <td>\
      \ <h3> 作业 </h3> <h3> 时间 <sup> [3] </sup> (min) </h3> </td> <td> <h3> 理论产量 (t/a)\
      \ </h3> </td> <td> <h3> 实际加工量 <sup> [4] </sup> (t/a) </h3> </td> <td> <h3> 生产负荷\
      \ (%) </h3> </td> </tr> <tr> <td> <p> 140T </p> </td> <td> <p> 9 </p> </td>\
      \ <td> <p> 55 </p> </td> <td> <p> 1 模 1 穴 </p> </td> <td> <p> 60 <sup> [1] </sup>\
      \ </p> </td> <td> <p> 60 <sup> [2] </sup> </p> </td> <td> <p> 60.0 </p> </td>\
      \ <td> <p> 144000 </p> </td> <td> <p> 77.76 </p> </td> <td> <p> 61.226 </p>\
      \ </td> <td> <p> 79 </p> </td> </tr> <tr> <td> <p> 180T </p> </td> <td> <p>\
      \ 6 </p> </td> <td> <p> 95 </p> </td> <td> <p> 1 模 1 穴 </p> </td> <td> <p> 103\
      \ <sup> [1] </sup> </p> </td> <td> <p> 80 <sup> [2] </sup> </p> </td> <td> <p>\
      \ 77.3 </p> </td> <td> <p> 144000 </p> </td> <td> <p> 66.74 </p> </td> <td>\
      \ <p> 52.33 </p> </td> <td> <p> 78 </p> </td> </tr> <tr> <td> <p> 合计 </p> </td>\
      \ <td> <p> 144.5 </p> </td> <td> <p> 113.556 </p> </td> <td> <p> 79 </p> </td>\
      \ </tr> <tr> <td> <p> 备注： [1] 单个模具的注塑容量包括塑料产品（ 55g 或 95g ）及其对应边角料（ 5g 或 8g ）。\
      \ </p> <p> [2] 注塑 生产时间主要包括 注塑 + 冷却 + 取产品， 55g 、 95g 产品生产时间分别约 60 s 、 80s 。 </p>\
      \ <p> [3] 注塑机设备实际运转时间平均约 8h/ 班， 1 天 1 班制，年工作 300 天，则年生产时间为 144000min 。 </p>\
      \ <p> [4] 注塑机的实际加工量 = 注塑产品产量 + 塑料次品边角料二次注塑加工量 =102.5+11.056=113.556t/a ， 设备理论年产量较设计年产量偏大，主要受生产过程中的设备调试、维护、维修等情况影响，用量偏差在可接受范围内。\
      \ </p> </td> </tr> </table> <p> 综上表可知，注塑机的生产负荷平均达到 79% ，设计年产量与设备生产能力基本匹配。 </p>\
      \ <ol> <li> <p> 主要原辅材料及能源消耗量 </p> </li> </ol> <ol> <li> <p> 主要原辅材料及能源消耗一览表 </p>\
      \ <table> <tr> <td> <p> 类别 </p> </td> <td> <p> 名称 </p> </td> <td> <p> 年使用量 /t\
      \ </p> </td> <td> <p> 规格 </p> </td> <td> <p> 最大存储量 /t </p> </td> <td> <p> 备注\
      \ </p> </td> </tr> <tr> <td> <p> 原辅 </p> <p> 材料 </p> </td> <td> <p> PBT </p>\
      \ </td> <td> <p> 100 </p> </td> <td> <p> 25kg/ 袋， 3mm 粒状 </p> </td> <td> <p>\
      \ 4 </p> </td> <td> <p> PBT 、 PP 、 PA6 均为 新料，不使用废旧塑料 </p> </td> </tr> <tr> <td>\
      \ <p> PP </p> </td> <td> <p> 1.35 </p> </td> <td> <p> 25kg/ 袋， 3mm 粒状 </p> </td>\
      \ <td> <p> 0.05 </p> </td> </tr> <tr> <td> <p> PA6 </p> </td> <td> <p> 1.35\
      \ </p> </td> <td> <p> 25kg/ 袋， 3mm 粒状 </p> </td> <td> <p> 0.05 </p> </td> </tr>\
      \ <tr> <td> <p> 色粉 </p> </td> <td> <p> 0.082 </p> </td> <td> <p> 25kg/ 袋， 300um\
      \ 粉状 </p> </td> <td> <p> 0.05 </p> </td> </tr> <tr> <td> <p> 模具 </p> </td> <td>\
      \ <p> 30 套 (6t) </p> </td> <td> <p> 平均约 200kg/ 套 </p> </td> <td> <p> 20 套 </p>\
      \ </td> <td> <p> 注塑模具 </p> </td> </tr> <tr> <td> <p> 液压油 </p> </td> <td> <p>\
      \ 0.34 </p> </td> <td> <p> 170kg/ 桶，液态 </p> </td> <td> <p> 0.17 </p> </td> <td>\
      \ <p> 设备运行 </p> </td> </tr> <tr> <td> <p> 机油 </p> </td> <td> <p> 0.17 </p> </td>\
      \ <td> <p> 170kg/ 桶，液态 </p> </td> <td> <p> 0.17 </p> </td> <td> <p> 设备维护 </p>\
      \ </td> </tr> <tr> <td> <p> 能源 </p> </td> <td> <p> 电 </p> </td> <td> <p> 8 万\
      \ kw·h </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 电缆输送\
      \ </p> </td> </tr> <tr> <td> <p> 自来水 </p> </td> <td> <p> 487.5 </p> </td> <td>\
      \ <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 管道输送 </p> </td> </tr> </table>\
      \ <li> <p> 主要原辅材料主要成份及其理化性质一览表 </p> </li> </li> </ol> <table> <tr> <td> <p>\
      \ 材料名称 </p> </td> <td> <p> 主要成份及其理化性质 </p> </td> </tr> <tr> <td> <p> PBT 塑料\
      \ </p> </td> <td> <p> 聚对苯二甲酸丁二醇酯（ PBT ）是 <a> 对苯二甲酸 </a> 和 <a> 1,4- </a> 丁二醇\
      \ 缩聚制成的聚酯，是重要的 <a> 热塑性聚酯 </a> ，五大 <a> 工程塑料 </a> 之一， PBT 为乳白色 <a> 半透明 </a> 到\
      \ <a> 不透明 </a> 、半结晶型热塑性聚酯，具有高 <a> 耐热性 </a> 。不耐 <a> 强酸 </a> 、强碱，能耐 <a> 有机溶剂 </a>\
      \ ，可燃，高温下分解，吸水性小，具有优良的结晶性工程塑料，刚性和硬度高。在汽车、 <a> 机械设备 </a> 、精密仪器部件、 <a> 电子电器 </a>\
      \ 、纺织等领域得到广泛的应用。熔点： 233℃ ，密度为 1.3-1.38g/cm <sup> 3 </sup> ，热分解温度在 280℃ 。 </p>\
      \ </td> </tr> <tr> <td> <p> PP 塑料 </p> </td> <td> <p> 聚丙烯通常为半透明固体，无臭，无味，无毒，相对密度为\
      \ 0.90 ～ 0.91g /cm <sup> 3 </sup> ，是通用塑料中最轻的一种。由于结构规整，因而熔点高达 167℃ ，耐热，连续使用温度可达\
      \ 110 ～ 120℃ ，在外力作用下， 150℃ 不变形；耐腐蚀，电绝缘性能好。透明性、刚性和强度均比聚乙烯好。但耐老化、耐低温冲击性能差。热分解温度为\
      \ &gt;340℃ 。 </p> </td> </tr> <tr> <td> <p> PA6 塑料 </p> </td> <td> <p> 品名为 PA6\
      \ 尼龙塑料聚酰胺 6 或尼龙 6 ，分子式是 [-NH- （ <a> CH2 </a> ） 5 － CO]n －，半透明或 <a> 不透明 </a>\
      \ 乳白色结晶形聚合物， <a> 热塑性 </a> 、轻质、韧性好、耐化学品和 <a> 耐久性 </a> 好， PA6 尼龙塑料 <a> 工业生产 </a>\
      \ 中泛用于制造轴承、圆 <a> 齿轮 </a> 、 <a> 凸轮 </a> 、 <a> 伞齿轮 </a> 、各种滚子、 <a> 滑轮 </a> 、泵叶轮等，其密度：\
      \ 1.13g/cm <sup> 3 </sup> ，闪点：＞ 400℃ ，熔化温度： 230~280℃ ，热分解温度为 &gt;300℃ 。 </p>\
      \ </td> </tr> <tr> <td> <p> 色粉 </p> </td> <td> <p> 一种有颜色的粉末物质 , 与塑胶混合后，经加热注塑制成各种不同颜色的塑胶产品。它广泛应用于塑胶着色工艺中。\
      \ </p> </td> </tr> <tr> <td> <p> 液压油 </p> </td> <td> <p> 液压油就是利用液体压力能的液压系统使用的液压介质，在液压系统中起着能量传递、抗磨、系统润滑、防腐、防锈、冷却等作用。其具有适宜的粘度及良好的粘温性能，以确保在工作温度发生变化的条件下能准确、灵敏地传递动力，并能保证液压元件的正常润滑。具有良好的防锈性及抗氧化安定性，在高温高压条件下不易氧化变质，使用寿命长。具有良好的抗泡沫性，使油品在受机械不断搅拌的工作条件下，产生的泡沫易于消失以使动力传递稳定，避免液压油的加速氧化。\
      \ </p> </td> </tr> <tr> <td> <p> 机油 </p> </td> <td> <p> 机油由基础油和添加剂两部分组成。基础油是润滑油的主要成分，决定着润滑油的基本性质，添加剂则可弥补和改善基础油性能方面的不足，赋予某些新的性能，是润滑油的重要组成部分。\
      \ </p> </td> </tr> </table> <ol> <li> <p> 公用工程 </p> </li> </ol> <p> （ 1 ）供电：项目用电主要由市政电网供给，新增用电量为\
      \ 8 万 kw·h /a ，不设备用发电机等燃油设备、供热系统及供气系统。 </p> <p> （ 2 ）给水：项目用水全部由市政自来水厂供给，主要用水为职工生活用水\
      \ 、生产冷却用水 。新增用水量 487.5 t/a 。 </p> <p> （ 3 ）排水去向：冷却水间接循环使用，定期排水，作为清净下水排入雨水管网；生活污水经三级化粪池处理达标后通过工业区污水管网\
      \ 排入 大门污水处理厂集中处理 。 </p> <ol> <li> <p> 周边四至情况 </p> </li> </ol> <p> 项目厂房南侧为顺德区卡维电器公司，东侧为旭佳昇环保包装制品及今盛塑料等公司，西侧、北侧均为其他工业厂房，项目四至环境见附图\
      \ 2 ，四至环境照片图见附图 4 。 </p> <ol> <li> <p> 平面布置 </p> </li> </ol> <p> 项目平面布局主要分为\
      \ 3 大区域，主要为生产区域（包括注塑区、混料破碎区、模具维修区等）、物料区域（包括原料暂存区、成品暂存区等）和办公室。危废仓、一般固废仓分别拟设置在车间东南侧、北侧。综上，项目厂房布局基本能做到办公与生产区独立，总体布置较为简单，功能分区明确，平面布置基本合理。厂房平面布置见附图\
      \ 3 。 </p> <ol> <li> <p> 劳动定员及工作制度 </p> </li> </ol> <p> 职工人数：职工人数 15 人，均不在厂区内食宿。\
      \ </p> <p> 工作制度： 1 天 1 班制，每班工作 8 小时，工作时间具体为： 8:00-12:00 、 13:30-17:30 ，年工作时间\
      \ 300 天。 </p> <ol> <li> <p> 项目环保投资情况 </p> </li> </ol> <p> 项目总投资 5 0 万元，其中环保投资约\
      \ 1 5 万元，环保投资约占总投资的 30 % 。具体环保投资项见表 2- 7 。 </p> <ol> <li> <p> 项目环保投资一览表 </p>\
      \ </li> </ol> <table> <tr> <td> <p> 序号 </p> </td> <td> <p> 内容 </p> </td> <td>\
      \ <p> 防治措施 </p> </td> <td> <p> 工程投资 </p> <p> （万元） </p> </td> <td> <p> 占总投资比例（\
      \ % ） </p> </td> </tr> <tr> <td> <p> 1 </p> </td> <td> <p> 废水污染防治措施 </p> </td>\
      \ <td> <p> 生活污水：三级化粪池 </p> </td> <td> <p> 0.5 </p> </td> <td> <p> 1 </p> </td>\
      \ </tr> <tr> <td> <p> 2 </p> </td> <td> <p> 废气污染防治措施 </p> </td> <td> <p> 注塑废气：点对点局部\
      \ 密闭 集气罩 + 活性炭 吸附 +1 根 1 5m 排气筒 </p> </td> <td> <p> 10 </p> </td> <td> <p> 2\
      \ 0 </p> </td> </tr> <tr> <td> <p> 3 </p> </td> <td> <p> 噪声控制措施 </p> </td> <td>\
      \ <p> 厂房隔声、减振 </p> </td> <td> <p> 0.5 </p> </td> <td> <p> 1 </p> </td> </tr>\
      \ <tr> <td> <p> 4 </p> </td> <td> <p> 固废控制措施 </p> </td> <td> <p> 固废暂存间的建设及危废处置\
      \ </p> </td> <td> <p> 3.5 </p> </td> <td> <p> 7 </p> </td> </tr> <tr> <td> <p>\
      \ 5 </p> </td> <td> <p> 风险防范措施 </p> </td> <td> <p> 防渗、围堰等 </p> </td> <td> <p>\
      \ 0.5 </p> </td> <td> <p> 1 </p> </td> </tr> <tr> <td> <p> 合计 </p> </td> <td>\
      \ <p> 15 </p> </td> <td> <p> 30 </p> </td> </tr> </table> <ol> <li> <p> 物料平衡及水平衡\
      \ </p> </li> </ol> <p> 项目产品对应原辅材料物料平衡表见表 2- 8 ， NMHC 物料平衡、水平衡分别见图 2-1 、图 2-2\
      \ 。 </p> <ol> <li> <p> 产品原辅材料平衡表 </p> </li> </ol> <table> <tr> <td> <p> 投入 </p>\
      \ </td> <td> <p> 产出 </p> </td> </tr> <tr> <td> <p> 名称 </p> </td> <td> <p> 数量（\
      \ t/a ） </p> </td> <td> <p> 名称 </p> </td> <td> <p> 数量（ t/a ） </p> </td> <td>\
      \ <p> 备注 </p> </td> </tr> <tr> <td> <p> PBT </p> </td> <td> <p> 100 </p> </td>\
      \ <td> <p> 产品（支架线盘） </p> </td> <td> <p> 102.5 </p> </td> <td> <p> / </p> </td>\
      \ </tr> <tr> <td> <p> PP </p> </td> <td> <p> 1.35 </p> </td> <td> <p> 废气 </p>\
      \ </td> <td> <p> 颗粒物 </p> </td> <td> <p> 0.005 </p> </td> <td> <p> 粉尘产生量 </p>\
      \ </td> </tr> <tr> <td> <p> PA6 </p> </td> <td> <p> 1.35 </p> </td> <td> <p>\
      \ 非甲烷总烃 </p> </td> <td> <p> 0.277 </p> </td> <td> <p> 有机废气产生量 </p> </td> </tr>\
      \ <tr> <td> <p> 色粉 </p> </td> <td> <p> 0.082 </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> 合计 </p> </td>\
      \ <td> <p> 102.782 </p> </td> <td> <p> 合计 </p> </td> <td> <p> 102.782 </p> </td>\
      \ <td> <p> / </p> </td> </tr> <tr> <td> <p> 备注：塑料次品及边角料均回用于生产，故不纳入生产损失。 </p>\
      \ </td> </tr> </table>      <p> 图 2-1 NMHC 物料平衡图（单位： t/a ） </p>  <p> 图 2-2 水平衡图（单位：\
      \ t/a ） </p>                      </td> </tr> </table> <table> <tr> <td> <p>\
      \ 工艺流程和产排污 </p> <p> 环节 </p> </td> <td> <p> 1 、工艺流程 </p> <p> 项目生产工艺包括 ① 塑料制品制造\
      \ 、②注塑模具维修 ，见图 2-3 及图 2-4 。 </p> <p> （ 1 ）塑料制品制造 </p>  <p> 图 2-3 塑料制品制造生产工艺流程图\
      \ </p> <p> 生产工艺流程说明： </p> <p> ① 烘料：注塑前需将受潮的 PBT 、 PP 、 PA6 塑料粒烘干水分，使用电加热，烘干温度控制在\
      \ 80-100℃ 左右，此过程温度不高，塑料不会受热熔融，基本不会产生有机废气，该过程主要产生废包装物。 </p> <p> ② 混料：将烘干的 PBT\
      \ 、 PP 、 PA6 塑料粒、色粉按照比例投入混料机混合均匀，投入混料过程粉状原料（色粉）会产生粉尘，粒状原料基本不产生粉尘。 混料机工作过程为密闭式，混料过程基本不产生粉尘，因此该过程主要\
      \ 产生粉尘（颗粒物） 。 </p> <p> ③ 注塑：将混合均匀后的原辅材料通过气力输送方式密闭投加至注塑机，注塑成型。 PBT 、 PP 、 PA6\
      \ 塑料的注塑温度分别控制在 2 4 0℃ 左右、 170℃ 左右、 250℃ 左右，然后控制注射的压力和速度将塑料注入模具，产品成型需用水进行间接冷却。项目使用的\
      \ PBT 塑料、 PP 塑料 、 PA6 塑料 分解温度分别为＞ 280℃ 、＞ 340℃ 、＞ 300℃ ，具有良好的化学稳定性和耐热性能。项目生产中塑料粒子的熔融温度不会导致这些塑料粒子的分解，一般情况下不会产生塑料粒子焦炭链焦化气体。注塑成型产生的塑料边角料经破碎后重新回用到生产中，注塑过程会产生注塑废气（非甲烷总烃、臭气浓度）。\
      \ </p> <p> ④ 冷却：项目生产过程中冷却塔通过冷却水对成型后的产品进行间接冷却，冷却水循环使用，需适当地加入新鲜水补充因蒸发而损失的水分，定期排水。\
      \ </p> <p> ⑤ 修边：支架线盘半成品取出后进行人工修改检查，该过程会产生塑料边角料； </p> <p> ⑥ 破碎：工件抽检挑出的次品与注塑 修边\
      \ 产生的塑料边角料进行破碎后， 重新投入到注塑机内注塑成型，破碎过程会产生破碎粉尘（颗粒物） 。 </p> <p> 备注：项目注塑机机头残留物定期清理，采用敲击、挤压等物理方式，敲击、挤压过程塑料已为成型状态，无敲击粉尘产生，清理下来的机头残留物经破碎重新回用到生产中。注塑机机头残留物禁止采用焚烧方式清理。\
      \ </p> <p> （ 2 ）注塑模具维修工艺 </p>  <p> 图 2-4 注塑模具维修工艺图 </p> <p> 注塑模具维修工艺流程说明： </p>\
      \ <p> 将注塑过程中受损的模具利用磨床、铣床进行加工维修，磨床加工过程产生金属粉尘（颗粒物），铣床加工过程主要产生金属边角料。 </p> <p> 2\
      \ 、产污环节分析 </p> <p> 根据工程分析，主要生产工艺为混料、注塑、破碎等，主要污染源产污环节情况分析见表 2- 9 所示。 </p> <ol>\
      \ <li> <p> 主要产污环节一览表 </p> </li> </ol> <table> <tr> <td> <p> 序号 </p> </td> <td>\
      \ <p> 类别 </p> </td> <td> <p> 污染源 </p> </td> <td> <p> 主要污染物 </p> </td> </tr>\
      \ <tr> <td> <p> 1 </p> </td> <td> <p> 废水 </p> </td> <td> <p> 生活污水 </p> </td>\
      \ <td> <p> 职工生活 </p> </td> <td> <p> COD <sub> Cr </sub> 、 NH <sub> 3 </sub>\
      \ -N 、 SS 、 BOD <sub> 5 </sub> 等 </p> </td> </tr> <tr> <td> <p> 间接冷却水 </p> </td>\
      \ <td> <p> 注塑间接冷却 </p> </td> <td> <p> SS </p> </td> </tr> <tr> <td> <p> 2 </p>\
      \ </td> <td> <p> 废气 </p> </td> <td> <p> 投料粉尘 </p> </td> <td> <p> 混料 </p> </td>\
      \ <td> <p> 颗粒物 </p> </td> </tr> <tr> <td> <p> 3 </p> </td> <td> <p> 注塑废气 </p>\
      \ </td> <td> <p> 注塑 </p> </td> <td> <p> 非甲烷总烃、臭气浓度 </p> </td> </tr> <tr> <td>\
      \ <p> 4 </p> </td> <td> <p> 破碎粉尘 </p> </td> <td> <p> 破碎 </p> </td> <td> <p>\
      \ 颗粒物 </p> </td> </tr> <tr> <td> <p> 5 </p> </td> <td> <p> 金属粉尘 </p> </td> <td>\
      \ <p> 机加工 </p> </td> <td> <p> 颗粒物 </p> </td> </tr> <tr> <td> <p> 6 </p> </td>\
      \ <td> <p> 噪声 </p> </td> <td> <p> 设备噪声 </p> </td> <td> <p> 机械设备运行 </p> </td>\
      \ <td> <p> Leq （ A ） </p> </td> </tr> <tr> <td> <p> 7 </p> </td> <td> <p> 一般固体废物\
      \ </p> </td> <td> <p> 生活垃圾 </p> </td> <td> <p> 职工生活 </p> </td> <td> <p> / </p>\
      \ </td> </tr> <tr> <td> <p> 8 </p> </td> <td> <p> 废包装物 </p> </td> <td> <p> 烘料、混料\
      \ </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> 9 </p> </td> <td> <p>\
      \ 塑料次品、边角料、残留物 </p> </td> <td> <p> 注塑、修边、注塑机机头清理 </p> </td> <td> <p> / </p>\
      \ </td> </tr> <tr> <td> <p> 10 </p> </td> <td> <p> 金属边角料 </p> </td> <td> <p>\
      \ 机加工 </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> 11 </p> </td> <td>\
      \ <p> 危险废物 </p> </td> <td> <p> 废矿物油 </p> </td> <td> <p> 机修保养、设备运营 </p> </td>\
      \ <td> <p> / </p> </td> </tr> <tr> <td> <p> 12 </p> </td> <td> <p> 废油桶 </p>\
      \ </td> <td> <p> 机修保养 </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> 13\
      \ </p> </td> <td> <p> 废含油抹布和劳保用品 </p> </td> <td> <p> 机修保养 </p> </td> <td> <p>\
      \ / </p> </td> </tr> <tr> <td> <p> 14 </p> </td> <td> <p> 废活性炭 </p> </td> <td>\
      \ <p> 有机废气处理 </p> </td> <td> <p> / </p> </td> </tr> </table>  </td> </tr> </table>\
      \  <table> <tr> <td> <p> 与项目有关的原有环境污染问题 </p> </td> <td> <p> 本项目为新建项目，租赁现有厂房简单装修后进行生产，故不涉及与本项目有关的原有污染情况。\
      \ </p> </td> </tr> </table>  <p> 三、区域环境质量现状、环境保护目标及评价标准 </p>\",\n    \"token\"\
      : 12709\n  },\n  {\n    \"id\": \"9\",\n    \"content\": \"<table> <tr> <td>\
      \ <p> 区域 </p> <p> 环境 </p> <p> 质量 </p> <p> 现状 </p> </td> <td> <ol> <li> <p> 地表水环境质量现状\
      \ </p> </li> </ol> <p> 项目选址位于大门污水处理厂纳污范围，生活污水经预处理后通过工业区污水管网排入大门污水处理厂，尾水排入顺德支流。根据佛山市顺德区人民政府办公室关于印发《佛山市顺德区生态环境保护“十四五”规划（\
      \ 2021~2025 年）》可知，纳污水体顺德支流属于地表水 Ⅲ 类功能区，执行《地表水环境质量标准》（ GB3838-2002 ）Ⅲ类标准。 </p>\
      \ <p> 为评价顺德支流水质，参照《佛山市生态环境局顺德分局关于发布 2023 年度佛山市顺德区生态环境状况公报的通知》（佛环顺函〔 2024 〕 44\
      \ 号）， 2023 年，顺德区饮用水源水质达标率为 100% ， 5 个饮用水源水质全优，与 2022 年相比，水质状况无明显变化； 2 个国控断面（乌洲、顺德港）、\
      \ 3 个省控断面（杨滘、海凌、飞鹅山）均达到相应的水质目标，水质优良率为 100% ，与 2022 年持平。纳污水体顺德支流各断面监测的水质达到了《地表水环境质量标准》（\
      \ GB3838-2002 ）Ⅲ类标准要求，水质良好。 </p>  <h3> </h3> <p> 图 3-1 2023 年顺德区主河道质量评价及年度对比图\
      \ </p> <p> 根据上表可知， 2023 年顺德支流各断面监测水质满足《地表水环境质量标准》（ GB3838-2002 ）Ⅲ类水功能要求，本项目地表水环境属于达标区。\
      \ </p> <ol> <li> <p> 大气环境质量现状 </p> </li> </ol> <p> 根据《佛山市人民政府办公室关于调整顺德区环境空气质量功能区划的复函》（佛府办函\
      \ [2014]494 号， 2014 年 8 月）和佛山市顺德区人民政府办公室关于印发《佛山市顺德区生态环境保护“十四五”规划（ 2021~2025\
      \ 年）》的通知，顺德区全境为大气环境二类区，因此本项目所在区域属二类环境空气质量功能区，执行《环境空气质量标准》（ GB3095-2012 ）二级标准及其\
      \ 2018 年修改单的要求。 </p> <p> （ 1 ）达标区判定 </p> <p> 根据《佛山市生态环境局顺德分局关于发布 2023 年度佛山市顺德区生态环境状况公报的通知》（佛环顺函〔\
      \ 2024 〕 44 号）中的数据和结论， 2023 年顺德区空气质量综合指数为 3.14 ，比 2022 年下降 4.0% ，在全市五区中排名第二。\
      \ </p> <p> 2023 年，按照《环境空气质量标准》评价，顺德区二氧化硫（ SO <sub> 2 </sub> ）、二氧化氮（ NO <sub>\
      \ 2 </sub> ）、可吸入颗粒物（ PM <sub> 10 </sub> ）、细颗粒物（ PM <sub> 2.5 </sub> ）、一氧化碳（\
      \ CO ）五项污染物年评价浓度均达到二级标准，臭氧（ O <sub> 3 </sub> ）超二级浓度限值。因此项目所在区域环境空气为不达标区。 </p>\
      \ <p> 2023 年顺德区 AQI 达标率为 87.4% ，较 2022 年增加 8.6 个百分点。首要污染物主要为臭氧（占首要污染物天数比例为 73.8%\
      \ ），其次为 NO <sub> 2 </sub> （占 14.4% ）。 </p> <p> 2023 年全区 SO <sub> 2 </sub> 年平均浓度为\
      \ 6μg/m <sup> 3 </sup> ，较 2022 年上升 20.0% 。 </p> <p> NO <sub> 2 </sub> 年平均浓度为\
      \ 28μg/m <sup> 3 </sup> ，较 2022 年下降 3.4% 。 </p> <p> PM <sub> 10 </sub> 年平均浓度为\
      \ 35μg/m <sup> 3 </sup> ，较 2022 年上升 9.4% 。 </p> <p> PM <sub> 2.5 </sub> 年平均浓度为\
      \ 20μg/m <sup> 3 </sup> ，较 2022 年上升 5.3% 。 </p> <p> O <sub> 3 </sub> 年评价浓度为\
      \ 164μg/m <sup> 3 </sup> ，较 2022 年下降 13.7% 。 </p> <p> CO 年评价浓度为 1.0mg/m <sup>\
      \ 3 </sup> ，较 2022 年下降 9.1% 。 </p>  <p> 图 3-2 2023 年顺德区城市空气各项污染物年评价浓度图 </p>\
      \ <p> （ 2 ）达标规划 </p> <p> 根据 《佛山市顺德区生态环境保护“十四五”规划（ 2021~2025 年）》（ 2022 年 4 月）\
      \ 相关要求：以臭氧和 PM <sub> 2.5 </sub> 协同控制为重点，聚焦大气环境质量改善。深化和巩固重点行业大气污染防治工作，深化产业结构调整，持续推进和开展重点行业\
      \ VOCs 专项综合整治、铝材行业低氮燃烧工艺改造或脱硝治理、燃煤供热锅炉整治。深化移动源排气污染防治，加大高排放车辆治理、大力推广新能源汽车、加强高排放非道路移动机械查处、加强对成品油质量的监管。提高扬尘污染防治精细管理水平，督促各类扬尘源严格落实扬尘管控措施。\
      \ </p> <ol> <li> <p> 声环境质量现状 </p> </li> </ol> <p> 根据佛山市生态环境局关于《佛山市声环境功能区划》的通知（佛环〔\
      \ 2024 〕 1 号）中佛山市顺德区声环境功能区划图（见附图 8 ），项目区域属于 3 类声功能区，执行《声环境质量标准》（ GB3096-2008\
      \ ） 3 类标准。 </p> <p> 本项目为新建，厂界四周主要为工业厂房，厂界外 50m 范围内无声环境敏感目标，无需进行现状监测。 </p> <ol>\
      \ <li> <p> 生态环境质量现状 </p> </li> </ol> <p> 项目租用已建成厂房作为经营场所，不新增用地，处于人类活动频繁区，无原始植被生长和珍贵野生动物活动，区域生态系统敏感程度较低，无需开展生态现状调查。\
      \ </p> <ol> <li> <p> 电磁辐射 </p> </li> </ol> <p> 新建或改建、扩建广播电台、差转台、电视塔台、卫星地球上行站、雷达等电磁辐射类项目，应根据相关技术导则对项目电磁辐射现状开展监测与评价；项目不属于上述行业，无需开展电磁辐射现状监测与评价。\
      \ </p> <ol> <li> <p> 地下水和土壤环境 </p> </li> </ol> <p> 项目不存在土壤、地下水环境污染途径，不需开展地下水和土壤环境质量现状调查。\
      \ </p> </td> </tr> <tr> <td> <p> 环境 </p> <p> 保护 </p> <p> 目标 </p> </td> <td>\
      \ <ol> <li> <p> 大气环境保护目标 </p> </li> </ol> <p> 本项目厂界 500m 范围内主要为工业厂房，无大气环境敏感目标。\
      \ </p> <ol> <li> <p> 声环境保护目标 </p> </li> </ol> <p> 本项目厂界外 50m 范围内无声环境保护目标。 </p>\
      \ <ol> <li> <p> 地表水环境保护目标 </p> </li> </ol> <p> 本项目最终纳污水体为顺德支流，厂界外 500m 范围内 无饮用水水源保护区、饮用水取水口，涉水的自然保护区、风景名胜区，重要湿地、重点保护与珍稀水生生物的栖息地、重要水生生物的自然产卵场及索饵场、越冬场和洄游通道，天然渔场等渔业水体及水产种质资源保护区等\
      \ 地表水环境保护目标。 </p> <ol> <li> <p> 地下水环境保护目标 </p> </li> </ol> <p> 本项目厂界外 500m 范围内无地下水集中式饮用水水源和热水、矿泉水、温泉等特殊地下水资源。\
      \ </p> <ol> <li> <p> 生态环境保护目标 </p> </li> </ol> <p> 项目不新增用地，厂区内无生态环境保护目标。 </p>\
      \ </td> </tr> <tr> <td> <p> 污染 </p> <p> 物排 </p> <p> 放控 </p> <p> 制标 </p> <p>\
      \ 准 </p> </td> <td> <p> 1 、水污染物排放标准 </p> <p> 项目所在片区属于大门污水处理厂的纳污范围， 生活污水经三级化粪池预处理后达到广东省地方标准《水污染物排放限值》（\
      \ DB44/26-2001 ）的第二时段三级标准后经 工业区 污水管网纳入 大门污水处理厂集中处理 ， 其尾水执行广东省地方标准《水污染物排放限值》\
      \ （ DB44/26-2001 ） 第二时段一级标准和《城镇污水处理厂污染物排放标准》（ GB18918-2002 ）一级 A 标准这两者中的较严值，排放限值见下表\
      \ 3-1 。 </p> <ol> <li> <p> 生活污水排放执行标准 </p> </li> </ol> <table> <tr> <td> <p>\
      \ 类别 </p> </td> <td> <p> 执行标准 </p> </td> <td> <p> 污染物 </p> </td> <td> <p> 最高允许排放\
      \ </p> <p> 浓度（ mg/L ） </p> </td> <td> <p> 污染物排放监控 </p> <p> 位置 </p> </td> </tr>\
      \ <tr> <td> <p> 生活 </p> <p> 污水纳管标准 </p> </td> <td> <p> 《水污染物排放限值》 （ DB44/26-2001\
      \ ）第二时段三级标准 </p> </td> <td> <p> pH （无量纲） </p> </td> <td> <p> 6 ～ 9 </p> </td>\
      \ <td> <p> 生活污水排放口 </p> </td> </tr> <tr> <td> <p> COD </p> </td> <td> <p> 500\
      \ </p> </td> </tr> <tr> <td> <p> BOD <sub> 5 </sub> </p> </td> <td> <p> 300\
      \ </p> </td> </tr> <tr> <td> <p> SS </p> </td> <td> <p> 400 </p> </td> </tr>\
      \ <tr> <td> <p> NH <sub> 3 </sub> -N </p> </td> <td> <p> / </p> </td> </tr>\
      \ <tr> <td> <p> 大门污水处理厂 </p> <p> 出水水质标准 </p> </td> <td> <p> pH （无量纲） </p> </td>\
      \ <td> <p> 6 ～ 9 </p> </td> <td> <p> 大门污水处理厂总排放口 </p> </td> </tr> <tr> <td>\
      \ <p> COD </p> </td> <td> <p> 40 </p> </td> </tr> <tr> <td> <p> BOD <sub> 5\
      \ </sub> </p> </td> <td> <p> 10 </p> </td> </tr> <tr> <td> <p> SS </p> </td>\
      \ <td> <p> 10 </p> </td> </tr> <tr> <td> <p> NH <sub> 3 </sub> -N </p> </td>\
      \ <td> <p> 5 </p> </td> </tr> </table> <p> 2 、大气污染物排放标准 </p> <p> （ 1 ）注塑废气 </p>\
      \ <p> ① 有机废气 </p> <p> 注塑工序产生的非甲烷总烃有组织排放参照执行《合成树脂工业污染物排放标准》 (GB31572-2015 ，含\
      \ 2024 年修改单 ) 的表 4 限值。 </p> <p> 厂区内有机废气（以非甲烷总烃表征）排放执行《固定污染源挥发性有机物综合排放标准》（ DB44/2367-2022\
      \ ）表 3 厂区内 VOCs 无组织排放限值规定。 </p> <p> ② 臭气浓度 </p> <p> 注塑工序产生的臭气浓度排放执行《恶臭污染物排放标准》（\
      \ GB14554-93 ）表 1 恶臭污染物厂界标准值新扩改建二级标准及表 2 恶臭污染物排放标准值。 </p> <p> （ 2 ）投料、破碎粉尘、金属粉尘\
      \ </p> <p> 投料、破碎粉尘、金属粉尘主要污染因子均为颗粒物，均以无组织形式排放，颗粒物排放执行 《大气污染物排放限值》（ DB4427-2001\
      \ ）第二时段无组织排放监控浓度限值。 </p>   <ol> <li> <p> 大气污染物排放标准（有组织） </p> <table> <tr> <td>\
      \ <p> 污染因子 </p> </td> <td> <p> 排气筒 </p> </td> <td> <p> 最高允许排放浓度 (mg/m <sup>\
      \ 3 </sup> ) </p> </td> <td> <p> 执行标准 </p> </td> </tr> <tr> <td> <p> 非甲烷总烃 </p>\
      \ </td> <td> <p> 15m </p> </td> <td> <p> 100 </p> </td> <td> <p> (GB31572-2015\
      \ ，含 2024 年修改单 ) </p> </td> </tr> <tr> <td> <p> 四氢呋喃 <sup> [1] </sup> </p> </td>\
      \ <td> <p> 100 </p> </td> <td> <p> (GB31572-2015 ，含 2024 年修改单 ) </p> </td> </tr>\
      \ <tr> <td> <p> 氨 </p> </td> <td> <p> 30 </p> </td> </tr> <tr> <td> <p> 臭气浓度\
      \ </p> </td> <td> <p> 2000 （无量纲） </p> </td> <td> <p> （ GB14554-93 ） </p> </td>\
      \ </tr> <tr> <td> <p> 备注： [1] 待国家污染物监测方法标准发布后实施。 </p> </td> </tr> </table> <li>\
      \ <p> 大气污染物排放标准（无组织） </p> <table> <tr> <td> <p> 污染因子 </p> </td> <td> <p> 无组织排放监控浓度限值\
      \ (mg/m <sup> 3 </sup> ) </p> </td> <td> <p> 执行标准 </p> </td> </tr> <tr> <td>\
      \ <p> 颗粒物 </p> </td> <td> <p> 1.0 </p> </td> <td> <p> （ DB44/27-2001 ） </p>\
      \ </td> </tr> <tr> <td> <p> 臭气浓度 </p> </td> <td> <p> 20 （无量纲） </p> </td> <td>\
      \ <p> （ GB14554-93 ） </p> </td> </tr> </table> <li> <p> 厂区内 VOCs 无组织排放限值 </p>\
      \ </li> </li> </li> </ol> <table> <tr> <td> <p> 污染物 </p> </td> <td> <p> 排放限值\
      \ (mg/m <sup> 3 </sup> ) </p> </td> <td> <p> 限值含义 </p> </td> <td> <p> 无组织排放监控点位置\
      \ </p> </td> </tr> <tr> <td> <p> NMHC </p> </td> <td> <p> 6 </p> </td> <td>\
      \ <p> 监测点处 1h 平均浓度值 </p> </td> <td> <p> 在厂房外设置监控点 </p> </td> </tr> <tr> <td>\
      \ <p> 20 </p> </td> <td> <p> 监测点处任意一次浓度值 </p> </td> </tr> </table> <p> 3 、噪声排放标准\
      \ </p> <p> 项目属于 3 类声功能区，厂界噪声排放执行《工业企业厂界环境噪声排放标准》（ GB12348-2008 ）中的 3 类标准。 </p>\
      \ <ol> <li> <p> 噪声排放标准 </p> </li> </ol> <table> <tr> <td> <p> 类别 </p> </td>\
      \ <td> <p> 昼间（ dBA ） </p> </td> <td> <p> 夜间（ dBA ） </p> </td> </tr> <tr> <td>\
      \ <p> 3 类 </p> </td> <td> <p> ≤ 65 </p> </td> <td> <p> ≤ 55 </p> </td> </tr>\
      \ </table> <p> 4 、固体废物控制标准 </p> <p> 固体废物管理应遵照《中华人民共和国固体废物污染环境防治法》、《广东省固体废物污染环境防治条例》的要求。\
      \ </p> <p> 本项目一般固体废物采用罐、桶、包装袋等包装工具进行暂存，其贮存过程应满足相应防渗漏、防雨淋、防扬尘等环境保护要求。生活垃圾执行《城市生活垃圾管理方法》。危险废物管理应执行《国家危险废物名录》（\
      \ 2025 年版）、《危险废物收集贮存运输技术规范》（ HJ2025-2012 ），危险废物在厂内暂存应符合《危险废物贮存污染控制标准》（ GB18597-2023\
      \ ）要求。 </p>  <h3> </h3>      </td> </tr> <tr> <td> <p> 总量 </p> <p> 控制 </p> <p>\
      \ 指标 </p> </td> <td> <p> 1 、水污染物总量控制分析 </p> <p> 项目生活污水排放量为 135t/a ，最终 排放至大门污水处理厂，\
      \ COD <sub> Cr </sub> 排放量为 0.005t/a ， NH <sub> 3 </sub> -N 排放量为 0.0007t/a 。\
      \ </p> <p> 根据《佛山市人民政府办公室关于印发佛山市排污权有偿使用和交易管理办法的通知》（佛府办〔 2020 〕 19 号），生活污水 COD\
      \ <sub> Cr </sub> 、 NH <sub> 3 </sub> -N 不分配总量，不纳入建设项目主要污染物排放总量指标管理范围。 </p>\
      \ <p> 2 、大气污染物总量控制分析 </p> <p> 根据《广东省生态环境厅关于做好重点行业建设项目挥发性有机物总量指标管理工作的通知》（粤环发〔\
      \ 2019 〕 2 号）、 《关于做好建设项目挥发性有机物 (VOCs) 排放削减替代工作的补充通知》（粤环函〔 2021 〕 537 号） 和 《顺德区重点行业挥发性有机物总量指标管理工作方案》（\
      \ 202 4 年修订） 的要求，新、改、扩建排放 VOCs 的重点行业建设项目应当执行总量替代制度 。 </p> <p> 根据下表可知， 本次评价 VOCs\
      \ 总量控制指标主要根据 VOCs 排放量（ 0.187t/a ）进行核定，新增 VOCs 总量控制排放量为 0.187t/a 。 </p> <ol>\
      \ <li> <p> 总量控制指标一览表 </p> </li> </ol> <table> <tr> <td> <p> 要素 </p> </td> <td>\
      \ <p> 排放量 t/a </p> </td> <td> <p> 需分配的总量 t/a </p> </td> </tr> <tr> <td> <p>\
      \ 废水 </p> </td> <td> <p> 废水排放量 </p> </td> <td> <p> 135 </p> </td> <td> <p> /\
      \ </p> </td> </tr> <tr> <td> <p> COD <sub> Cr </sub> </p> </td> <td> <p> 0.005\
      \ </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> NH <sub> 3 </sub> -N\
      \ </p> </td> <td> <p> 0.0007 </p> </td> <td> <p> / </p> </td> </tr> <tr> <td>\
      \ <p> 废气 </p> </td> <td> <p> 二氧化硫 </p> </td> <td> <p> 0 </p> </td> <td> <p>\
      \ 0 </p> </td> </tr> <tr> <td> <p> 氮氧化物 </p> </td> <td> <p> 0 </p> </td> <td>\
      \ <p> 0 </p> </td> </tr> <tr> <td> <p> 挥发性 </p> <p> 有机物 </p> </td> <td> <p>\
      \ 有组织 </p> </td> <td> <p> 0.090 </p> </td> <td> <p> 0.090 </p> </td> </tr> <tr>\
      \ <td> <p> 无组织 </p> </td> <td> <p> 0.097 </p> </td> <td> <p> 0.097 </p> </td>\
      \ </tr> <tr> <td> <p> 合计 </p> </td> <td> <p> 0.187 </p> </td> <td> <p> 0.187\
      \ </p> </td> </tr> </table>  <h3> </h3>  </td> </tr> </table> <p> 四、主要环境影响和保护措施\
      \ </p> <table> <tr> <td> <p> 施工 </p> <p> 期环 </p> <p> 境保 </p> <p> 护措 </p> <p>\
      \ 施 </p> </td> <td> <p> 项目租用已经建设完毕的工业厂房，不涉及厂房建设、厂房内部装修等。 </p> </td> </tr> <tr>\
      \ <td> <p> 运营 </p> <p> 期环 </p> <p> 境影 </p> <p> 响和 </p> <p> 保护 </p> <p> 措施 </p>\
      \ </td> <td> <p> （ 1 ）废水 </p> <p> 1 、 废水源强分析 </p> <p> 项目废水主要为生活污水及冷却塔用水。 </p>\
      \ <ol> <li> <p> 废水排放形式、治理设施及污染源污染源源强核算结果一览表 </p> </li> </ol> <table> <tr> <td>\
      \ <p> 工序 / 生产线 </p> </td> <td> <p> 职工生活 </p> </td> </tr> <tr> <td> <p> 装置 </p>\
      \ </td> <td> <p> — </p> </td> </tr> <tr> <td> <p> 污染源 </p> </td> <td> <p> 生活污水\
      \ </p> </td> </tr> <tr> <td> <p> 污染物 </p> </td> <td> <p> COD <sub> Cr </sub>\
      \ </p> </td> <td> <p> BOD <sub> 5 </sub> </p> </td> <td> <p> SS </p> </td> <td>\
      \ <p> NH <sub> 3 </sub> -N </p> </td> </tr> <tr> <td> <p> 污染物产生 </p> </td> <td>\
      \ <p> 核算方法 </p> </td> <td> <p> 产污系数法 </p> </td> </tr> <tr> <td> <p> 产生废水量 m\
      \ <sup> 3 </sup> /a </p> </td> <td> <p> 135 </p> </td> </tr> <tr> <td> <p> 产生浓度\
      \ mg/L </p> </td> <td> <p> 250 </p> </td> <td> <p> 100 </p> </td> <td> <p> 200\
      \ </p> </td> <td> <p> 25 </p> </td> </tr> <tr> <td> <p> 产生量 t/a </p> </td> <td>\
      \ <p> 0.034 </p> </td> <td> <p> 0.014 </p> </td> <td> <p> 0.027 </p> </td> <td>\
      \ <p> 0.0034 </p> </td> </tr> <tr> <td> <p> 收集措施 </p> </td> <td> <p> 方式 </p>\
      \ </td> <td> <p> 管道 </p> </td> </tr> <tr> <td> <p> 效率 </p> </td> <td> <p> 100%\
      \ </p> </td> </tr> <tr> <td> <p> 治理措施 </p> </td> <td> <p> 工艺 </p> </td> <td>\
      \ <p> 三级化粪池 </p> </td> </tr> <tr> <td> <p> 效率 <sup> [1] </sup> </p> </td> <td>\
      \ <p> 20% </p> </td> <td> <p> 21% </p> </td> <td> <p> 50% </p> </td> <td> <p>\
      \ 3% </p> </td> </tr> <tr> <td> <p> 是否为可行技术 <sup> [2] </sup> </p> </td> <td>\
      \ <p> 是 </p> </td> </tr> <tr> <td> <p> 污染物排放 </p> </td> <td> <p> 核算方法 </p> </td>\
      \ <td> <p> 产污系数法 </p> </td> </tr> <tr> <td> <p> 排放废水量 m <sup> 3 </sup> /a </p>\
      \ </td> <td> <p> 135 </p> </td> </tr> <tr> <td> <p> 排放浓度 mg/L </p> </td> <td>\
      \ <p> 200 </p> </td> <td> <p> 79 </p> </td> <td> <p> 100 </p> </td> <td> <p>\
      \ 24 </p> </td> </tr> <tr> <td> <p> 排放量 t/a </p> </td> <td> <p> 0.027 </p> </td>\
      \ <td> <p> 0.011 </p> </td> <td> <p> 0.014 </p> </td> <td> <p> 0.0032 </p> </td>\
      \ </tr> <tr> <td> <p> 排放时间 /h </p> </td> <td> <p> 2400 </p> </td> </tr> <tr>\
      \ <td> <p> 排放方式 </p> </td> <td> <p> 间接排放 </p> </td> </tr> <tr> <td> <p> 排放去向\
      \ </p> </td> <td> <p> 大门污水处理厂 </p> </td> </tr> <tr> <td> <p> 排放规律 </p> </td>\
      \ <td> <p> 连续排放，排放期间流量稳定 </p> </td> </tr> <tr> <td> <p> 排放口 </p> <p> 基本情况 </p>\
      \ </td> <td> <p> 编号 </p> </td> <td> <p> DW001 </p> </td> </tr> <tr> <td> <p>\
      \ 名称 </p> </td> <td> <p> 生活污水排放口 </p> </td> </tr> <tr> <td> <p> 类型 </p> </td>\
      \ <td> <p> 企业总排 </p> </td> </tr> <tr> <td> <p> 地理坐标 </p> </td> <td> <p> 东经 113°12′22.180″\
      \ ，北纬 22°50′32.761″ </p> </td> </tr> <tr> <td> <p> 备注： [1] 化粪池对各污染物去除效率参照《第一次全国污染源普查城镇生活源产排污系数手册》中“二区\
      \ 一 类城市”： COD <sub> Cr </sub> 为 2 0 % 、 BOD <sub> 5 </sub> 为 2 1 % 、氨氮为 3% ；\
      \ SS 去除效率参考《从污水处理探讨化粪池存在必要性》（程宏伟、 刘德明、邱寿华 ），污水经化粪池 12h~24h 沉淀后，可去除 50%~60% 的悬浮物，本项目三级化粪池\
      \ 对 SS 去除率取 50% 。 </p> <p> [2] 参照《排污许可证申请与核发技术规范 橡胶和塑料制品工业》（ HJ1122-2020 ）的附录\
      \ A 表 A.4 有关规定，项目生活污水采用三级化粪池处理，主要涉及工艺为过滤沉淀、厌氧生物处理，属于可行技术。 </p> </td> </tr> </table>\
      \ <p> ① 生活污水 </p> <p> 项目员工共 15 人，年工作 300 天， 均不在厂区内食宿 ，参照广东省地方标准《用水定额第 3 部分：生活》（\
      \ DB44/T1461.3-2021 ）中表 A.1 办公楼（无食堂和浴室）用水定额先进值（适用新建（改、扩建）项目）的有关规定 ， 无食堂和浴室 生活用水量按\
      \ 10m <sup> 3 </sup> /a• 人计，则项目生活用水年耗量为 150t/a ， 排污系数按 0 .9 计算，则生活污水排放量为 0.45t/d\
      \ （ 135t/a ），生活污水的主要污染物因子为 COD <sub> Cr </sub> 、 BOD <sub> 5 </sub> 、 SS 、氨氮等。生活污水水质参考《建设项目环境影响评价培训教材》我国城市生活污水水质统计数据，项目运营期间水污染物产排情况详见上表\
      \ 4-1 。 </p> <p> ② 冷却塔用水 </p> <p> 冷却循环用水主要来源于冷却塔运行产生的用水。 </p> <p> 项目共 1 台冷却塔对注塑机进行间接冷却，循环流量为\
      \ 15m <sup> 3 </sup> /h· 台，年运行时间约 2400h ，则年循环水量约 36000 m <sup> 3 </sup> /a ，根据《工业循环冷却水处理设计规范》（\
      \ GB/T50050-2017 ），开式系统蒸发水量计算公式为： </p>  <p> 式中： Q <sub> e </sub> —— 蒸发水量（ m\
      \ <sup> 3 </sup> /h ）。 </p> <p> k—— 蒸发损失系数（ 1/℃ ），需根据进塔大气温度取值。 </p> <p> Δt——\
      \ 循环冷却水进出冷却塔温差（℃），项目进出冷却塔温差约 5℃ 。 </p> <p> Q <sub> r </sub> —— 循环冷却水量（ m <sup>\
      \ 3 </sup> /h ）。 </p> <p> 项目冷却塔参照开放式系统，进塔大气温度平均约 31.5℃ ，根据《工业循环冷却水处理设计规范》（ GB/T50050-2017\
      \ ）表 5.0.6 ，冷却塔的蒸发损耗系数取值 0.0015 ，则 Q <sub> e </sub> 蒸发损耗补充水量为 270.0 m <sup>\
      \ 3 </sup> /a 。 </p> <p> 根据《工业循环冷却水处理设计规范》（ GB/T50050-2017 ），开放式系统补充水量计算公式为：\
      \ </p>   <p> 式中： Q <sub> b </sub> —— 排污水量（ m <sup> 3 </sup> /h ）。 </p> <h3>\
      \ Q <sub> m </sub> —— 补充水量（ m <sup> 3 </sup> /h ）。 </h3> <h3> N —— 浓缩倍数。 根据《工业循环冷却塔废水处理设计规范》（\
      \ GB/T 50050-2017 ） 3.1.11 ，间冷开式系统的设计浓缩倍数不宜小于 5.0 ，直冷开式系统设计浓缩倍数不宜小于 3.0 。本项目\
      \ N 取 5 计。 </h3> <p> Q <sub> w </sub> —— 风吹损失水量（ m <sup> 3 </sup> /h ）。本项目冷却塔位于室内，不考虑风吹损失水量，即\
      \ Q <sub> w </sub> =0 。 </p> <p> 根据计算， Q <sub> m </sub> 补充 水量为 337.5 m <sup>\
      \ 3 </sup> /a （ 270*5/ （ 5-1 ） =337.5m <sup> 3 </sup> /a ）， Q <sub> b </sub>\
      \ 排污水量为 67.5 m <sup> 3 </sup> /a ，排污水量排入雨水管网。 </p> <ol> <li> <p> 废水达标分析 </p>\
      \ </li> </ol> <p> 项目生活污水经三级化粪池处理后各类污染物的排放浓度均可达到 广东省地方标准《水污染物排放限值》（ DB44/26-2001\
      \ ）的第二时段三级标准（ pH ： 6-9 （无量纲）、 COD <sub> Cr </sub> ： 500mg/L 、 BOD <sub> 5 </sub>\
      \ ： 300mg/L 、 SS ： 400mg/L ），然后通过工业区市政污水管网纳入大门污水处理厂处理，尾水 执行 广东省地方标准《水污染物排放限值》\
      \ （ DB44/26-2001 ） “城镇二级污水处理厂”第二时段一级标准和《城镇污水处理厂污染物排放标准》（ GB18918-2002 ）一级 A\
      \ 标准这两者中的较严值，最终排入顺德支流。 </p> <ol> <li> <p> 废水治理设施可行性分析 </p> </li> </ol> <p> 生活污水主要治理设施为三级化粪池。粪便废水中含有大量粪便、纸屑、病原虫等，化粪池是一种利用沉淀和厌氧发酵的原理，去除生活污水中悬浮性有机物的处理设施，属于初级的过渡性生活处理构筑物，污水在进入化粪池时，细菌会对污物进行无氧分解，并会使固体废物体积减少，再经过沉淀后排出，水质污染程度就会降低。项目生活污水水质简单，污染物浓度较低，故采用三级化粪池处理后可达到\
      \ 广东省地方标准《水污染物排放限值》（ DB44/26-2001 ）的第二时段三级标准 ，项目生活污水治理设施可行。 </p> <ol> <li> <p>\
      \ 生活污水依托大门污水处理厂处理的环境可行性分析 </p> </li> </ol> <p> 顺德大门污水处理厂由佛山市顺德区华清源环保有限公司投资建设，其纳污范围为云近东地区、\
      \ 105 国道以北区域与 105 国道以南区域三个片区和红岗片区、凤翔片区，本项目位于大门污水处理厂的纳污范围内，且已接通市政管网。 </p> <p>\
      \ 大门污水处理厂现已建成规模一期二期 6 万 t/d ，三期 5 万 t/d ，已投入运行并完成提标改造工程验收，污水处理工艺为粗格栅 + 细格栅 +CASS\
      \ （或 + 氧化沟 + 二沉池） + 精细格栅 + 连续流砂滤池 + 紫外消毒工艺，这是近年来国际公认的处理生活污水及工业废水的先进工艺，污水能够稳定达标排放。大门污水处理厂出水水质可满足《城镇污水处理厂污染物排放标准》（\
      \ GB18918-2002 ）一级 A 标准和广东省地标《水污染物排放限值》（ DB44/26-2001 ）第二时段一级标准的较严值要求，经处理达标后的尾水排入顺德支流。\
      \ </p> <p> 项目外排废水主要为生活污水，其 排放量远远低于现有的处理规模，不会对 大门 污水处理厂的处理规模造成冲击 。 </p> <p> 因此，项目经预处理达标的生活污水依托大门污水处理厂处理是可行的。\
      \ </p> <p> 5 、废水自行监测计划 </p> <p> 项目生活污水经市政污水管道排入大门污水处理厂处理，根据《排污单位自行监测技术指南 橡胶和塑料制品》（\
      \ HJ1207-2021 ）表 2 非重点排污单位间接排放的相关规定，生活污水无需开展自行监测。 </p> </td> </tr> </table>\
      \ <table> <tr> <td> <p> （ 2 ）废气 </p> <p> 项目主要废气为投料、破碎粉尘、金属粉尘、注塑废气。 </p> <ol>\
      \ <li> <p> 废气产污环节、排放形式、治理设施及污染源源强核算结果一览表 </p> <table> <tr> <td> <p> 产排污环节 </p>\
      \ </td> <td> <p> 生产 </p> <p> 单元 </p> </td> <td> <p> 污染物种类 </p> </td> <td> <p>\
      \ 总产 </p> <p> 生量 </p> <p> t/a </p> </td> <td> <p> 排放 </p> <p> 形式 </p> </td>\
      \ <td> <p> 收集率 </p> <p> % </p> </td> <td> <p> 污染物产生情况 </p> </td> <td> <p> 治理设施\
      \ </p> </td> <td> <p> 污染物排放情况 </p> </td> </tr> <tr> <td> <p> 产生量 t/a </p> </td>\
      \ <td> <p> 产生速率 kg/h </p> </td> <td> <p> 产生浓度 mg/m <sup> 3 </sup> </p> </td>\
      \ <td> <p> 处理能力 m <sup> 3 </sup> /h </p> </td> <td> <p> 处理 </p> <p> 工艺 </p>\
      \ </td> <td> <p> 去除率 % </p> </td> <td> <p> 是否技术可行性 </p> </td> <td> <p> 排放量 t/a\
      \ </p> </td> <td> <p> 排放速率 kg/h </p> </td> <td> <p> 排放浓度 <sup> [1] </sup> mg/m\
      \ <sup> 3 </sup> </p> </td> <td> <p> 排放 </p> <p> 时间 h </p> </td> </tr> <tr>\
      \ <td> <p> 投料、破碎 </p> </td> <td> <p> 混料、破碎机 </p> </td> <td> <p> 颗粒物 </p> </td>\
      \ <td> <p> 0.005 </p> </td> <td> <p> 无组织 </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 0.005 </p> </td> <td> <p> 0.008 </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> 0.005 </p> </td> <td> <p> 0.008 </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> 600 </p> </td> </tr> <tr> <td> <p> 机加工 </p> </td> <td> <p>\
      \ 磨床 </p> </td> <td> <p> 颗粒物 </p> </td> <td> <p> 0.013 </p> </td> <td> <p> 无组织\
      \ </p> </td> <td> <p> / </p> </td> <td> <p> 0.013 </p> </td> <td> <p> 0.022\
      \ </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 金属颗粒比重大，易自然沉降\
      \ </p> </td> <td> <p> 90 </p> </td> <td> <p> / </p> </td> <td> <p> 0.001 </p>\
      \ </td> <td> <p> 0.002 </p> </td> <td> <p> / </p> </td> <td> <p> 600 </p> </td>\
      \ </tr> <tr> <td> <p> 注塑 </p> </td> <td> <p> 注塑机 </p> </td> <td> <p> 非甲烷总烃 </p>\
      \ </td> <td> <p> 0.277 </p> </td> <td> <p> 有组织 </p> </td> <td> <p> 65 </p> </td>\
      \ <td> <p> 0.180 </p> </td> <td> <p> 0.075 </p> </td> <td> <p> 10.0 </p> </td>\
      \ <td> <p> 7500 </p> </td> <td> <p> 活性炭吸附 </p> </td> <td> <p> 50 </p> </td>\
      \ <td> <p> 是 <sup> [2] </sup> </p> </td> <td> <p> 0.090 </p> </td> <td> <p>\
      \ 0.038 </p> </td> <td> <p> 5.1 </p> </td> <td> <p> 2400 </p> </td> </tr> <tr>\
      \ <td> <p> 无组织 </p> </td> <td> <p> / </p> </td> <td> <p> 0.097 </p> </td> <td>\
      \ <p> 0.040 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p>\
      \ 0.097 </p> </td> <td> <p> 0.040 </p> </td> <td> <p> / </p> </td> </tr> <tr>\
      \ <td> <p> 臭气 </p> <p> 浓度 </p> </td> <td> <p> / </p> </td> <td> <p> 有组织 </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> ≤ 2000 </p> </td> </tr> <tr> <td> <p> / </p> </td> <td> <p>\
      \ 无组织 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> / </p> </td> <td> <p> ≤ 20 </p> </td> </tr> <tr> <td> <p> 备注： [1] 臭气浓度：无量纲。\
      \ [2] 参照《排污许可证申请与核发技术规范 橡胶和塑料制品工业》（ HJ1122-2020 ）附录 A 的表 A.2 中推荐工艺，项目所使用的废气治理工艺属于其表\
      \ A.2 对应的“吸附”可行技术。 </p> </td> </tr> </table> <li> <p> 废气排放口信息一览表 </p> </li>\
      \ </li> </ol> <table> <tr> <td> <p> 排放口 </p> </td> <td> <p> 污染物种类 </p> </td>\
      \ <td> <p> 排放口地理坐标 </p> </td> <td> <p> 排气筒参数 </p> </td> <td> <p> 排放口类型 </p>\
      \ </td> </tr> <tr> <td> <p> 编号 </p> </td> <td> <p> 名称 </p> </td> <td> <p> 经度\
      \ </p> </td> <td> <p> 纬度 </p> </td> <td> <p> 废气量 (m <sup> 3 </sup> /h) </p>\
      \ </td> <td> <p> 高度 (m) </p> </td> <td> <p> 出口内径 (m) </p> </td> <td> <p> 烟气流速\
      \ (m/s) </p> </td> <td> <p> 排气温度 (℃) </p> </td> </tr> <tr> <td> <p> DA001 </p>\
      \ </td> <td> <p> 有机废气 </p> <p> 排气筒 </p> </td> <td> <p> 非甲烷总烃 </p> </td> <td>\
      \ <p> 113°12′23.855″ </p> </td> <td> <p> 22°50′32.759″ </p> </td> <td> <p> 7500\
      \ </p> </td> <td> <p> 15 </p> </td> <td> <p> 0.4 </p> </td> <td> <p> 16.6 </p>\
      \ </td> <td> <p> 常温 </p> </td> <td> <p> 一般排放口 </p> </td> </tr> <tr> <td> <p>\
      \ 臭气浓度 </p> </td> </tr> </table>      </td> </tr> </table>  <table><tbody><tr><td>{'id':\
      \ '3-4-40-1-1-14', 'content': ' \\\\n<p> 运营 </p>\\\\n \\\\n<p> 期环 </p>\\\\n\
      \ \\\\n<p> 境影 </p>\\\\n \\\\n<p> 响和 </p>\\\\n \\\\n<p> 保护 </p>\\\\n \\\\n<p>\
      \ 措施 </p>\\\\n ', 'token': 59}</td><td></td></tr></tbody></table>\",\n    \"\
      token\": 15057\n  },\n  {\n    \"id\": \"11\",\n    \"content\": \"<p> 五、环境保护措施监督检查清单\
      \ </p> <table> <tr> <td> <p> 内容 </p> <p> 要素 </p> </td> <td> <p> 排放口 ( 编号、 </p>\
      \ <p> 名称 )/ 污染源 </p> </td> <td> <p> 污染物项目 </p> </td> <td> <p> 环境保护措施 </p> </td>\
      \ <td> <p> 执行标准 </p> </td> </tr> <tr> <td> <p> 大气环境 </p> </td> <td> <p> DA001\
      \ 排气筒 </p> <p> （注塑废气） </p> </td> <td> <p> 非甲烷总烃 </p> </td> <td> <p> 点对点局部 密闭\
      \ 集气罩 + 活性炭吸附 +15m 排气筒 </p> </td> <td> <p> 《合成树脂工业污染物排放标准》（ GB31572-2015 ，含\
      \ 2024 年修改单）表 4 排放限值 </p> </td> </tr> <tr> <td> <p> 臭气浓度 </p> </td> <td> <p>\
      \ 《恶臭污染物排放标准》（ GB14554-93 ）表 2 标准 </p> </td> </tr> <tr> <td> <p> 厂界无组织 </p>\
      \ </td> <td> <p> 颗粒物 </p> </td> <td> <p> 加强废气收集效率 </p> </td> <td> <p> 《大气污染物排放限值》（\
      \ DB44/27-2001 ）第二时段无组织排放限值 </p> </td> </tr> <tr> <td> <p> 臭气浓度 </p> </td> <td>\
      \ <p> 《恶臭污染物排放标准》（ GB14554-93 ） </p> <p> 表 1 新扩改建二级标准 </p> </td> </tr> <tr>\
      \ <td> <p> 厂区内 </p> </td> <td> <p> 非甲烷总烃 </p> </td> <td> <p> 加强车间通风 </p> </td>\
      \ <td> <p> 《 固定污染源挥发性有机物综合排放标准 》（ DB44/2367-2022 ） 表 3 厂区内 VOCs 无组织排放限值规定 </p>\
      \ </td> </tr> <tr> <td> <p> 地表 </p> <p> 水环境 </p> </td> <td> <p> 生活污水 </p> </td>\
      \ <td> <p> <sup> COD </sup> <sub> Cr </sub> <sup> 、 </sup> </p> <p> <sup> BOD\
      \ </sup> <sub> 5 </sub> <sup> 、 </sup> NH <sub> 3 </sub> <sup> -N </sup> <sup>\
      \ 、 </sup> SS </p> </td> <td> <p> 生活污水经三级化粪预处理后通过市政管道排入大门污水处理厂处理，尾水排入顺德支流。 </p>\
      \ </td> <td> <p> 《水污染物排放限值》 （ DB44/26-2001 ）第二时段三级标准 </p> </td> </tr> <tr> <td>\
      \ <p> 间接冷却水 </p> </td> <td> <p> <sup> SS </sup> </p> </td> <td> <p> 循环使用，定期排入雨水管网\
      \ </p> </td> <td> <p> / </p> </td> </tr> <tr> <td> <p> 声环境 </p> </td> <td> <p>\
      \ 生产设备、风机 </p> </td> <td> <p> 等效 A 声级 </p> </td> <td> <p> 选用高效低噪声设备、安装减振底座等\
      \ </p> </td> <td> <p> 《工业企业厂界环境噪声排放标准》 </p> <p> （ GB12348-2008 ） 3 类标准 </p>\
      \ </td> </tr> <tr> <td> <p> 电磁辐射 </p> </td> <td> <p> 不涉及 </p> </td> </tr> <tr>\
      \ <td> <p> 固体废物 </p> </td> <td> <p> 生活垃圾交由环卫部门统一清运处理； 注塑产生的塑料次品和边角料及残留物均回用到项目生产中利用，其他一般工业固废均定期交由物资单位回收\
      \ ；危险废物（废矿物油、废油桶、废含油抹布和劳保用品、废活性炭等）分类收集暂存暂存于危废仓，定期交由有资质的单位处理。 </p> <p> 一般固体废物采用罐、桶、包装袋等包装工具进行暂存，其贮存过程应满足相应防渗漏、防雨淋、防扬尘等环境保护要求。生活垃圾执行《城市生活垃圾管理方法》。\
      \ 危险废物在厂内暂存应符合《危险废物贮存污染控制标准》（ GB18597-2023 ）要求。 </p> </td> </tr> <tr> <td> <p>\
      \ 土壤及地下水污染防治措施 </p> </td> <td> <p> 危废仓做好防风挡雨、防渗漏、围堰等措施；涉油类原料暂存区做好防渗漏、围堰等措施。\
      \ 并配备毛毡、木屑、抹布等吸收材料，液态危险废物少量泄漏采用吸收材料处置。生产运营期间，做好各项防渗措施，并加强维护和厂区环境管理。 </p> </td>\
      \ </tr> <tr> <td> <p> 生态保护措施 </p> </td> <td> <p> 不涉及 </p> </td> </tr> <tr> <td>\
      \ <p> 环境风险 </p> <p> 防范措施 </p> </td> <td> <p> 主要风险防范措施为： </p> <p> ① 制定严格的生产操作规程，加强作业工人的安全教育，杜绝工作失误造成泄漏、火灾事故。\
      \ </p> <p> ② 存放涉油类原料暂存区、存放危险废物的危废仓应以混凝土硬化地面作为基础，并做好防腐防渗等措施。 </p> <p> ③ 存放涉油类原料暂存区、存放危险废物的危废仓应设置围堰、墁坡、托盘或导流沟等，同时危废仓附近，应放置吸收棉、应急泵、吨桶等应急救援物资，确保发生泄漏事故后能将泄漏液体拦截在危废仓内，并能及时通过吸收棉、应急泵转移至吨桶内，减少机油等风险物质下渗的时间。\
      \ </p> <p> ④ 车间内应设置足量的移动式干粉灭火器，并设置消防沙箱，厂区出入口可设置 10cm-15cm 高的墁坡，拦截消防废水流出厂区。同时，厂区雨水井设置截止阀，当发生火灾时，通过及时关闭雨水截止阀，避免消防废水通过雨水井流出厂区外，对周边的水环境造成影响。\
      \ </p> <p> ⑤ 厂房内粘贴告示：禁止吸烟、禁用明火，物料储存区域附近应注意防火等。 </p> <p> ⑥ 车间应安排专人管理，做好入库记录，并定期检查材料存储的安全状态，定期检查其包装有无破损，以防止泄漏。\
      \ </p> <p> ⑦ 储存辅助材料的桶上应注明物质的名称、危险特性、安全使用说明以及事故应对措施等内容。 </p> <p> ⑧ 加强对废气治理设施日常巡检、定期对设备进行维修、保养等。\
      \ </p> </td> </tr> <tr> <td> <p> 其他环境 </p> <p> 管理要求 </p> </td> <td> <p> 1 、环境管理要求\
      \ </p> <p> ① 企业应做好环境教育和技术培训，提高员工的环保意识和技术水平，对员工定期进行环保培训，提高全员的安全和环境保护意识。 </p>\
      \ <p> ② 建设污染治理设施的管理、运行环境管理记录制度。建立健全岗位责任制，制定正确的操作规程、建立管理台帐，制定环境保护工作的长期规划。 </p>\
      \ <p> ③ 必须确保污染治理设施长期、稳定、有效地运行，不得擅自拆除或者闲置污染治理设施，不得故意不正常使用污染治理设施。定期对污染物处理排放设备进行维修、保养，严格控制污染物的排放。\
      \ </p> <p> 2 、排污口及环保图形标识规范设置 </p> <p> 各污染排放口应按规范实施，遵守《国家环境保护总局办公厅关于印发排放口标志牌技术规格的通知》（环办\
      \ [2003] 第 95 号）相关规定。明确采样口位置，设立环保图形标志、废气污染治理设施进出口均设置采样孔及采样平台；废水处理设施出口应设置采样点；一般工业固体废物暂存区及危废仓设置环保图形标志；设置噪声相关环保图形标志。\
      \ </p> <p> 3 、排污许可证制度执行要求 </p> <p> 项目 属于 C2929 塑料零件及其他塑料制品制造，根据《固定污染源排污许可分类管理名录（\
      \ 2019 年版）》（部令第 11 号），项目属于“二十四、橡胶和塑料制品业 -62 塑料制品业 - 其他”，应实行排污许可登记管理；建设单位应在全国排污许可证管理信息平台进行排污登记申请，填写基本信息、污染物排放去向、执行的污染物排放标准以及采取的污染防治措施等信息。\
      \ </p> <p> 4 、竣工验收 </p> <p> 项目竣工后，建设单位应按环保部规定的标准和程序验收环保设施，自行委托有资质的环境监测单位进行验收监测，编写自主验收监测报告，并向社会公开，验收合格后方可投产使用，同时项目环保措施落实情况受环保主管部门监督检查。\
      \ </p> <p> 5 、管理文件 </p> <p> 记录废气运行设施台账、危废及一般工业固废台账；对于活性炭吸附装置运行与维护的管理：应做好活性炭吸附装置运行状况、设施维护、活性炭更换记录，建立管理台账，相关记录至少保存三年，现场保留不少于一个月的台账记录。主要记录内容包括：\
      \ a ）活性炭吸附装置的启动、停止时间； b ）活性炭的质量分析数据、采购量、使用量、更换量与更换时间。 c ）活性炭吸附装置运行工艺控制参数，至少包括设备进、出口浓度和吸附装置内温度；\
      \ d ）主要设备维修情况，运行事故及维修情况； e ）定期检验、评价及评估情况。维护人员应根据计划定期检查、维护和更换必要的部件和材料，保障活性炭在低颗粒物、低含水率条件下使用。\
      \ </p> <p> 制定环境管理制度，提高员工环保意识，加强日常维护，落实污染物达标排放监督与考核。 </p>                   \
      \                        </td> </tr> </table> <p> 六、结论 </p> <table> <tr> <td>\
      \ <p> 佛山市盛之强电器有限公司建设项目，选址于佛山市顺德区大良街道古鉴村良勒路 245 号首层之一，其建设符合国家产业政策，符合区域规划要求，选址合理可行，符合“三线一单”管控要求。项目建设具有良好的社会与经济效益，将促进当地的经济发展。各污染物经处理后均可做到达标排放，并符合总量控制要求。项目区域环境容量满足项目建设的需要，应严格执行我国建设项目环境保护“三同时制度”。\
      \ </p> <p> 从环境保护角度出发，该项目的建设是可行的。 </p> </td> </tr> </table> <p> 附表 </p> <p> 建设项目污染物排放量汇总表\
      \ </p> <table> <tr> <td> <p> 项目 </p> <p> 分类 </p> </td> <td> <p> 污染物名称 </p> </td>\
      \ <td> <p> 现有工程 </p> <p> 排放量（固体废物产生量） ① </p> </td> <td> <p> 现有工程 </p> <p> 许可排放量\
      \ </p> <p> ② </p> </td> <td> <p> 在建工程 </p> <p> 排放量（固体废物产生量） ③ </p> </td> <td>\
      \ <p> 本项目 </p> <p> 排放量（固体废物产生量） ④ </p> </td> <td> <p> 以新带老削减量 </p> <p> （新建项目不填）\
      \ ⑤ </p> </td> <td> <p> 本项目建成后 </p> <p> 全厂排放量（固体废物产生量） ⑥ </p> </td> <td> <p>\
      \ 变化量 </p> <p> ⑦ </p> </td> </tr> <tr> <td> <p> 废气 </p> </td> <td> <p> 颗粒物 </p>\
      \ </td> <td> <p> 无组织 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 0.006 </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 0.006 </p> </td> <td> <p> +0.006 </p> </td> </tr> <tr> <td> <p> 非甲烷 </p>\
      \ <p> 总烃 </p> </td> <td> <p> 有组织 </p> </td> <td> <p> / </p> </td> <td> <p> /\
      \ </p> </td> <td> <p> / </p> </td> <td> <p> 0.090 </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> 0.090 </p> </td> <td> <p> +0.090 </p> </td> </tr> <tr> <td>\
      \ <p> 无组织 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> /\
      \ </p> </td> <td> <p> 0.097 </p> </td> <td> <p> / </p> </td> <td> <p> 0.097\
      \ </p> </td> <td> <p> +0.097 </p> </td> </tr> <tr> <td> <p> 废水 </p> </td> <td>\
      \ <p> 生活污水 </p> </td> <td> <p> COD </p> </td> <td> <p> / </p> </td> <td> <p>\
      \ / </p> </td> <td> <p> / </p> </td> <td> <p> 0.005 </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> 0.005 </p> </td> <td> <p> +0.005 </p> </td> </tr> <tr> <td>\
      \ <p> BOD <sub> 5 </sub> </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 0.001 </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 0.001 </p> </td> <td> <p> +0.001 </p> </td> </tr> <tr> <td> <p> SS </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 0.001 </p> </td> <td> <p> / </p> </td> <td> <p> 0.001 </p> </td> <td>\
      \ <p> +0.001 </p> </td> </tr> <tr> <td> <p> NH <sub> 3 </sub> -N </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p>\
      \ 0.0007 </p> </td> <td> <p> / </p> </td> <td> <p> 0.0007 </p> </td> <td> <p>\
      \ +0.0007 </p> </td> </tr> <tr> <td> <p> 一般工业 </p> <p> 固体废物 </p> </td> <td>\
      \ <p> 废包装物 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> /\
      \ </p> </td> <td> <p> 0.041 </p> </td> <td> <p> / </p> </td> <td> <p> 0.041\
      \ </p> </td> <td> <p> +0.041 </p> </td> </tr> <tr> <td> <p> 塑料次品、边角料和残留物 </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 11.056 </p> </td> <td> <p> / </p> </td> <td> <p> 11.056 </p> </td> <td>\
      \ <p> +11.056 </p> </td> </tr> <tr> <td> <p> 金属边角料 </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 0.072 </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 0.072 </p> </td> <td> <p> +0.072 </p> </td>\
      \ </tr> <tr> <td> <p> 危险废物 </p> </td> <td> <p> 废矿物油 </p> </td> <td> <p> / </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 0. 2 55 </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 0.255 </p> </td> <td> <p> +0.255 </p> </td>\
      \ </tr> <tr> <td> <p> 废油桶 </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> / </p> </td> <td> <p> 0.045 </p> </td> <td> <p> / </p> </td> <td>\
      \ <p> 0.045 </p> </td> <td> <p> +0.045 </p> </td> </tr> <tr> <td> <p> 废含油抹布和劳保用品\
      \ </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td>\
      \ <td> <p> 0.020 </p> </td> <td> <p> / </p> </td> <td> <p> 0.020 </p> </td>\
      \ <td> <p> +0.020 </p> </td> </tr> <tr> <td> <p> 废活性炭 </p> </td> <td> <p> /\
      \ </p> </td> <td> <p> / </p> </td> <td> <p> / </p> </td> <td> <p> 1.818 </p>\
      \ </td> <td> <p> / </p> </td> <td> <p> 1.818 </p> </td> <td> <p> + 1.818 </p>\
      \ </td> </tr> </table> <p> 注： ⑥ = ① + ③ + ④ - ⑤ ； ⑦ = ⑥ - ① </p>  <ol> <li>\
      \ <p> 项目地理位置图 </p> </li> </ol>    <ol> <li> <p> 项目四至状况图 </p> </li> </ol>  <ol>\
      \ <li> <p> 项目平面布置图 </p> <table> <tr> <td>  </td> </tr> <tr> <td> <p> 北面： 其他工业厂房\
      \ </p> </td> </tr> <tr> <td>  </td> </tr> <tr> <td> <p> 东 面： 旭佳昇环保包装制品、今盛塑料等\
      \ 公司 </p> </td> </tr> <tr> <td>  </td> </tr> <tr> <td> <p> 南 面： 顺德区卡维电器公司 </p>\
      \ </td> </tr> <tr> <td>  </td> </tr> <tr> <td> <p> 西 面： 其他工业厂房 </p> </td> </tr>\
      \ </table> <li> <p> 项目四至实拍图 </p> </li> </li> </ol>   <ol> <li> <p> 项目环境敏感目标分布图\
      \ </p> </li> </ol>  <ol> <li> <p> 水环境功能区划图 </p> </li> </ol>  <ol> <li> <p> 大气环境功能区划图\
      \ </p> </li> </ol>    <ol> <li> <p> 声环境功能区划图 </p> </li> </ol>   <ol> <li> <p>\
      \ 《大良凤翔工业区（ D-XB-01-01 、 D-XB-02-01 、 D-DL-01-01 、、 D-DL-01-04 ）控制性详细规划》的批后通告图\
      \ </p> </li> </ol>    <ol> <li> <p> 佛山市环境管控单元图 </p> </li> </ol>   <ol> <li>\
      \ <p> 佛山市顺德区环境管控单元图 </p> </li> </ol>    <ol> <li> <p> 项目在广东省“三线一单”应用平台的位置图 </p>\
      \ </li> </ol>  <p> 附件 1 营业执照 </p>      <p> 附件 2 法人身份证 </p>     <p> 附件 3 注塑机设计参数\
      \ </p>  <p> 附件 4 排水证 </p>   <p> 附件 5 环评文件同意公示声明 </p>    <p> 附件 6 环评技术咨询合同 </p>\
      \  <div> <p> <p> <sdfield> 1 </sdfield> </p> </p> </div>\",\n    \"token\":\
      \ 7797\n  }\n]\n\n"
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1748595968177-source-1748595973349-target
      selected: false
      source: '1748595968177'
      sourceHandle: source
      target: '1748595973349'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1748595973349'
        sourceType: iteration-start
        targetType: llm
      id: 1748595973349start-source-1748596015118-target
      selected: false
      source: 1748595973349start
      sourceHandle: source
      target: '1748596015118'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1748595973349-source-1748832981767-target
      selected: false
      source: '1748595973349'
      sourceHandle: source
      target: '1748832981767'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1748862903312-source-1748863015320-target
      selected: false
      source: '1748862903312'
      sourceHandle: source
      target: '1748863015320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1748878190616-target
      selected: false
      source: '1748832981767'
      sourceHandle: source
      target: '1748878190616'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1748938034509-source-1748862903312-target
      selected: false
      source: '1748938034509'
      sourceHandle: source
      target: '1748862903312'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1748878190616-source-1748938559101-target
      selected: false
      source: '1748878190616'
      sourceHandle: source
      target: '1748938559101'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1748938559101-source-1748937817396-target
      selected: false
      source: '1748938559101'
      sourceHandle: source
      target: '1748937817396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1748937817396-source-1748939182549-target
      selected: false
      source: '1748937817396'
      sourceHandle: source
      target: '1748939182549'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1748938034509-target
      selected: false
      source: '1748832981767'
      sourceHandle: source
      target: '1748938034509'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1749024854421-source-1749021461462-target
      selected: false
      source: '1749024854421'
      sourceHandle: source
      target: '1749021461462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1749025010196-target
      selected: false
      source: '1748832981767'
      sourceHandle: source
      target: '1749025010196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1749025010196-source-1749024854421-target
      selected: false
      source: '1749025010196'
      sourceHandle: source
      target: '1749024854421'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1749028373402-target
      selected: false
      source: '1748832981767'
      sourceHandle: source
      target: '1749028373402'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1749028373402-source-1749028755147-target
      selected: false
      source: '1749028373402'
      sourceHandle: source
      target: '1749028755147'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: knowledge-retrieval
      id: 1749028373402-source-1749029641468-target
      selected: false
      source: '1749028373402'
      sourceHandle: source
      target: '1749029641468'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1749029641468-source-1749029671324-target
      selected: false
      source: '1749029641468'
      sourceHandle: source
      target: '1749029671324'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1749028755147-source-1749029725917-target
      selected: false
      source: '1749028755147'
      sourceHandle: source
      target: '1749029725917'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1749029671324-source-1749029725917-target
      selected: false
      source: '1749029671324'
      sourceHandle: source
      target: '1749029725917'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1748863015320-source-1749038137309-target
      source: '1748863015320'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1748939182549-source-1749038137309-target
      source: '1748939182549'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1749021461462-source-1749038137309-target
      source: '1749021461462'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1749029725917-source-1749038137309-target
      source: '1749029725917'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1749040235062-target
      source: '1748832981767'
      sourceHandle: source
      target: '1749040235062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1749040235062-source-1749038137309-target
      source: '1749040235062'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1748832981767-source-1749041250672-target
      selected: false
      source: '1748832981767'
      sourceHandle: source
      target: '1749041250672'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1749041250672-source-1749038137309-target
      source: '1749041250672'
      sourceHandle: source
      target: '1749038137309'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1749038137309-source-1748863255704-target
      source: '1749038137309'
      sourceHandle: source
      target: '1748863255704'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1747214843609-source-1761190649970-target
      source: '1747214843609'
      sourceHandle: source
      target: '1761190649970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1761190649970-source-1761191224409-target
      source: '1761190649970'
      sourceHandle: source
      target: '1761191224409'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1761191224409-source-1748595968177-target
      source: '1761191224409'
      sourceHandle: source
      target: '1748595968177'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: report
          max_length: 5
          options: []
          required: true
          type: file
          variable: report
      height: 109
      id: '1747214843609'
      position:
        x: 30
        y: 305
      positionAbsolute:
        x: 30
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    \"\"\"\n    生成八个精准的提取提示词，用于从环评报告中定位特定内容区块。\n\
          \    输出变量为 result，类型为 array of string。\n    \"\"\"\n    # 提示词1：提取水污染物排放标准\n\
          \    prompt1 = \"\"\"\n    提取目标：从报告“三、区域环境质量现状、环境保护目标及评价标准”章节中  \n    \U0001F449\
          \ “污染物排放控制标准”小节下的 **1、水污染物排放标准** 完整内容  \n    输出要求：  \n    - 起始标记：`1、水污染物排放标准`\
          \  \n    - 结束标记：`2、大气污染物排放标准`（不包含此标记）  \n    - 输出原始HTML结构  \n    - 未找到时返回：`<p>未在文档中找到【1、水污染物排放标准】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    # 提示词2：提取大气污染物排放标准\n    prompt2 =\
          \ \"\"\"\n    提取目标：从报告“三、区域环境质量现状、环境保护目标及评价标准”章节中  \n    \U0001F449 “污染物排放控制标准”小节下的\
          \ **2、大气污染物排放标准** 完整内容  \n    输出要求：  \n    - 起始标记：`2、大气污染物排放标准`  \n    -\
          \ 结束标记：`3、噪声排放标准`（不包含此标记）  \n    - 输出原始HTML结构（含表格）  \n    - 未找到时返回：`<p>未在文档中找到【2、大气污染物排放标准】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    # 提示词3：提取项目各工序产污情况表\n    prompt3 =\
          \ \"\"\"\n    提取目标：从“二、建设项目工程分析”章节中  \n    \U0001F449 **项目各工序产污情况一览表** 或语义相似表格的完整内容\
          \  \n    输出要求：  \n    - 起始标记：表格标题（含\"项目各工序产污情况\"关键词）  \n    - 结束标记：下一个小节标题\
          \  \n    - 输出原始HTML表格结构  \n    /no_think\n    \"\"\"\n\n    # 提示词4：提取原辅材料消耗表\n\
          \    prompt4 = \"\"\"\n    提取目标：从“二、建设项目工程分析”章节中  \n    \U0001F449 **主要原辅材料及能源消耗一览表**\
          \ 或语义相似表格的完整内容  \n    输出要求：  \n    - 起始标记：表格标题（含\"原辅材料及能源消耗\"关键词）  \n  \
          \  - 结束标记：下一个小节标题  \n    - 未找到时返回：`<p>未在文档中找到【主要原辅材料及能源消耗一览表】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    # 提示词5：提取声环境功能类型\n    prompt5 = \"\
          \"\"\n    提取目标：从“三、区域环境质量现状、环境保护目标及评价标准”章节中  \n    \U0001F449 **声环境质量现状**\
          \ 段落内的 **项目厂界所属声功能类型**  \n    输出要求：  \n    - 起始标记：`声环境质量现状`  \n    - 结束标记：下一个小节标题\
          \  \n    - 未找到时返回：`<p>未在文档中找到【声环境质量现状】相关内容。</p>`  \n    /no_think\n    \"\
          \"\"\n\n    # 提示词6：提取噪声排放标准\n    prompt6 = \"\"\"\n    提取目标：从“三、区域环境质量现状、环境保护目标及评价标准”章节中\
          \  \n    \U0001F449 **污染物排放控制标准** 小节下的 **噪声排放标准** 内容  \n    关键参数：  \n  \
          \  - 项目厂界所属声功能类型  \n    - 执行标准名称  \n    - 昼间/夜间标准值  \n    输出要求：  \n    -\
          \ 起始标记：`噪声排放标准`  \n    - 结束标记：下一个小节标题  \n    - 未找到时返回：`<p>未在文档中找到【噪声排放标准】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    # 提示词7：提取固废控制标准\n    prompt7 = \"\"\
          \"\n    提取目标：从“三、区域环境质量现状、环境保护目标及评价标准”章节中  \n    \U0001F449 **污染物排放控制标准**\
          \ 小节内 **固体废物控制标准** 或语义相似段落  \n    输出要求：  \n    - 起始标记：含\"固体废物\"、\"控制标准\"\
          关键词的标题  \n    - 结束标记：下一个小节标题  \n    - 未找到时返回：`<p>未在文档中找到【固体废物控制标准】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    # 提示词8：提取废水排放源强\n    prompt8 = \"\"\
          \"\n    提取目标：从“四、主要环境影响和保护措施”章节中  \n    \U0001F449 **运营期环境影响和保护措施** 小节内的\
          \ **1.1 废水排放源强** 或语义相似段落  \n    输出要求：  \n    - 起始标记：含\"废水排放源强\"、\"废水源强\"\
          关键词的标题  \n    - 结束标记：下一个小节标题  \n    - 未找到时返回：`<p>未在文档中找到【1.1 废水排放源强】相关内容。</p>`\
          \  \n    /no_think\n    \"\"\"\n\n    return {\n        \"params\": [prompt1,\
          \ prompt2, prompt3, prompt4, prompt5, prompt6, prompt7, prompt8]\n    }"
        code_language: python3
        desc: ''
        outputs:
          params:
            children: null
            type: array[string]
        selected: false
        title: 提取内容提示词
        type: code
        variables: []
      height: 52
      id: '1748595968177'
      position:
        x: 942
        y: 305
      positionAbsolute:
        x: 942
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 210
        is_parallel: true
        iterator_selector:
        - '1748595968177'
        - params
        output_selector:
        - '1748596015118'
        - text
        output_type: array[string]
        parallel_nums: 4
        selected: false
        start_node_id: 1748595973349start
        title: 迭代 2
        type: iteration
        width: 673
      height: 210
      id: '1748595973349'
      position:
        x: 1246
        y: 305
      positionAbsolute:
        x: 1246
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 673
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1748595973349start
      parentId: '1748595973349'
      position:
        x: 60
        y: 81
      positionAbsolute:
        x: 1306
        y: 386
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: true
          variable_selector:
          - '1747214843609'
          - report
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1748595973349'
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: e33e1532-cd9f-4d68-ac18-3c62c93043d5
          role: system
          text: '你是一位严谨认真的信息填报员，专门负责从用户提供的资料中，提取关键信息，并整理为规范的格式。

            用户提供的资料如下：

            {{#context#}}

            /no_think'
        - id: ac122d8c-9ced-4e22-a62c-7e63396f550b
          role: user
          text: '{{#1748595973349.item#}}

            /no_think'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1748596015118'
      parentId: '1748595973349'
      position:
        x: 204
        y: 60
      positionAbsolute:
        x: 1450
        y: 365
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\ndef main(output: list):\n    lst = output\n    return {\n       \
          \ \"water_pollution_params2\": lst[0],\n        \"air_pollution_params2\"\
          : lst[1],\n        \"pollution_emission_table2\": lst[2],\n        \"materials_energy_usage2\"\
          : lst[3],\n        \"sound_environment_quality2\": lst[4],\n        \"noise_emission_standards2\"\
          : lst[5],\n        \"solid_waste_control_standards2\": lst[6],\n       \
          \ \"waste_water_source_strength2\": lst[7]\n    }"
        code_language: python3
        desc: ''
        outputs:
          air_pollution_params2:
            children: null
            type: string
          materials_energy_usage2:
            children: null
            type: string
          noise_emission_standards2:
            children: null
            type: string
          pollution_emission_table2:
            children: null
            type: string
          solid_waste_control_standards2:
            children: null
            type: string
          sound_environment_quality2:
            children: null
            type: string
          waste_water_source_strength2:
            children: null
            type: string
          water_pollution_params2:
            children: null
            type: string
        selected: false
        title: 提取内容节点
        type: code
        variables:
        - value_selector:
          - '1748595973349'
          - output
          variable: output
      height: 52
      id: '1748832981767'
      position:
        x: 1979
        y: 305
      positionAbsolute:
        x: 1979
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - Xhm0zIVwH6xptnKYJEzxLFVlYyXPVRckPu8uw6xopMhHbQdc0Caw/j/509e3MFNy
        desc: ''
        metadata_filtering_conditions:
          conditions: []
          logical_operator: and
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: bge-m3:567m
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
        query_variable_selector:
        - '1748938034509'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1748862903312'
      position:
        x: 2891
        y: 305
      positionAbsolute:
        x: 2891
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748862903312'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 09667beb-02a6-4030-8c0b-b0f18518f206
          role: system
          text: "你是一个环保合规审查专家，请严格比对输入内容与知识库，判断生活污水排放相关描述是否准确。仅输出最终结论，不输出思考过程或任务说明。\n\
            \n【输入】\n- 待审内容：{{#1748832981767.water_pollution_params2#}}\n- 知识库标准：{{#context#}}\n\
            \n【审查规则】\n1. 检查是否明确引用《水污染物排放限值》（DB44/26-2001），且标注为“第二时段、三级标准”；若标准名称、编号、时段或级别任一不符\
            \ → 判定错误。\n2. 逐项比对待审内容与知识库中以下要素：\n   - 生活污水预处理排放标准（名称+编号+级别+时段）\n   -\
            \ 污水处理厂名称\n   - 尾水受纳水体名称\n   - 尾水排放执行标准（名称+编号+级别）\n   → 任一要素不一致，即判定整体错误。\n\
            3. 特别注意：污水处理厂与受纳水体必须严格匹配知识库，如“五沙污水处理厂 → 洪奇沥水道”，若写成“李家沙水道”即为错误。\n\n【输出格式】（必须严格遵守）\n\
            - 若全部匹配 → 输出：**本文生活污水预处理后排放标准及污水处理厂尾水排放内容表述正确。**\n- 若任一不匹配 → 输出：**本文生活污水预处理后排放标准及污水处理厂尾水排放内容表述错误，错误为xxx。**（例如：原文称尾水排入李家沙水道，知识库要求排入洪奇沥水道；或执行标准写为GB18918-2002三级A，知识库应为一级A）\n\
            \n【强制约束】\n- 不得添加任何解释、说明、建议；\n- 所有比对必须字面精确匹配，禁止语义推断；\n- 若输入缺失关键字段（如未提受纳水体），视为错误；\n\
            - 变量仅在【输入】部分引用一次，后续任务中不再重复。\n/no_think"
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 污水正误判断节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 118
      id: '1748863015320'
      position:
        x: 3195
        y: 305
      positionAbsolute:
        x: 3195
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1749038137309'
          - result
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 89
      id: '1748863255704'
      position:
        x: 3803
        y: 582
      positionAbsolute:
        x: 3803
        y: 582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - air_pollution_params2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 4668c624-5865-40b9-b69a-fdbd0122d8b2
          role: system
          text: "你是一个环保数据结构化分析专家，请基于以下三项输入完成任务，所有分析必须忠实原文，禁止推测。\n\n【输入】\nA：水污染参数表格内容\
            \ → {{#1748832981767.water_pollution_params2#}}\nB：废气产污参数表格内容 → {{#1748832981767.air_pollution_params2#}}\n\
            C：知识库上下文（如需） →{{#context#}}\n\n【任务1：从A中提取大气相关排放标准】\n提取字段：工序/环节、污染因子、排放形式、执行标准\n\
            → 若“工序”未提，填“未知”；\n→ 根据“排气筒高度”判断“有组织/无组织”，无信息则填“未知”；\n→ “执行标准”必须原文复制。\n\
            \n【任务2：从B中提取“类别=废气”的条目】\n输出格式：\n- 产污环节名称：XXX\n  - 污染源名称：XXX\n  - 主要污染物种类：XXX（逗号分隔）\n\
            \n【任务3：交叉比对完整性】\n将任务2结果与任务1的“工序+污染因子”比对：\n→ 存在对应 → “完整覆盖”\n→ 任务1缺失 → “遗漏：XXX工序的XXX污染物未被纳入”\n\
            \n【最终输出格式】（必须严格遵守）\n污染排放标准分析内容：\n工序 / 环节：XXX\n污染因子：XXX\n排放形式：XXX\n执行标准：XXX\n\
            \n完整性判断：\n污染排放标准分析内容对大气污染源的标注完整 / 不完整（若不完整，说明具体遗漏项）。\n\n大气污染源对比：\n大气污染物排放标准（parameter_2）涵盖的污染源：XXX\n\
            项目各工序产污情况一览表（parameter_3）新增的污染源（若有）：XXX（说明未包含的污染源及污染物）\n\n【强制规则】\n- 不输出任何说明、思考、注释；\n\
            - 所有判断基于字面匹配；\n- 字段缺失 → 填“未知”或“无”；\n- 参数仅在【输入】部分引用一次，后续用“A/B/C”指代。\n/no_think"
        selected: false
        title: 大气污染源信息解析与完整性对比分析任务
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1748878190616'
      position:
        x: 2283
        y: 450
      positionAbsolute:
        x: 2283
        y: 450
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - kNeQmVIG3k7EdQ6XyAjd85/agixjeKkUttXelAuppQAp6zPiA6QPoi8rEWnbVg2v
        desc: ''
        metadata_filtering_conditions:
          conditions: []
          logical_operator: and
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 2
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: bge-m3:567m
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 1
        query_variable_selector:
        - '1748938559101'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1748937817396'
      position:
        x: 2891
        y: 450
      positionAbsolute:
        x: 2891
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - water_pollution_params2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 37e20616-09d0-4e82-bd9f-f3a979021999
          role: system
          text: '任务：从{{#context#}}中识别并输出

            排入的XXX污水处理厂

            输出格式：

            排入的XXX污水处理厂

            /no_think'
        selected: false
        title: 识别污水厂节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1748938034509'
      position:
        x: 2587
        y: 305
      positionAbsolute:
        x: 2587
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - water_pollution_params2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: c723a279-a7ec-43de-ba09-1e06ef3c5f4a
          role: system
          text: '1.根据{{#context#}}输出内容：

            污染排放标准分析污染源内容的工序、污染因子、排放形式和执行标准。

            2.输出格式

            工序为xxx、污染因子为xxx、排放形式为xxx、执行标准分别为xxx。

            /no_think'
        selected: false
        title: 识别工序、产污环节、污染物节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1748938559101'
      position:
        x: 2587
        y: 450
      positionAbsolute:
        x: 2587
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748937817396'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: e010779f-ea80-40ba-a2b5-d0ca64231b01
          role: system
          text: '你是一个环保合规审查专家，负责比对环评文件与标准知识库内容，判断大气污染物排放相关描述的准确性。请严格按以下结构执行任务并输出结果。


            【输入数据】

            - 环评内容：{{#1748832981767.water_pollution_params2#}}（包含工序、产污因子、排放形式、执行标准）

            - 污染源表格：{{#1748832981767.pollution_emission_table2#}}（需从中提取 parameter_4
            判断是否含 PVC）

            - 标准知识库：{{#context#}}（用于比对正确标准）


            【任务1：准确性判断】

            从环评污染参数中提取“工序、产污因子、排放形式、执行标准”，与知识库逐项比对：

            - 若完整且一致 → 输出“描述内容完整；各污染因子排放执行标准描述准确”；

            - 若缺失或错误 → 指出具体缺项或错误因子（如“缺少排放形式”、“非甲烷总烃标准错误”）。

            【任务2：PVC原料判断】

            从污染源表格的 parameter_4 中检索：

            - 是否含“聚氯乙烯”或“PVC”；

            - 若含，是否用于“注塑、挤出、吹膜”等工序；

            - 若是，检查“非甲烷总烃”是否执行《合成树脂工业污染物排放标准》（GB 31572-2015）；

            - 若未执行或标准不符 → 标记为错误。

            【输出格式】（仅输出以下两行）

            1、XXX污染源大气污染物排放标准描述内容不完整，缺少XXX 或 描述内容完整；各污染因子排放执行标准描述准确 / XXX污染因子排放执行标准描述错误；

            2、环评污染源执行标准内容总结，对应知识库获取的污染源执行标准内容总结，通过对比两个内容，环评中XXX污染源描述存在缺漏、描述不清晰、排放形式执行标准描述错误。

            【示例】

            1、注塑工序大气污染物排放标准描述内容完整；各污染因子排放执行标准描述准确；

            2、环评中注塑工序使用PVC，非甲烷总烃执行GB31572-2015，与知识库一致，无缺漏或错误。

            【强制约束】

            - 不输出任何说明、思考或额外文本；

            - 所有判断基于字面匹配，禁止推测；

            - 字段为空视为“缺失”；

            - PVC判断仅在 parameter_4 含“聚氯乙烯”或“PVC”时触发。

            /no_think'
        selected: false
        title: 判断工序、产污环节、污染物正误节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1748939182549'
      position:
        x: 3195
        y: 465
      positionAbsolute:
        x: 3195
        y: 465
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1749024854421'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 507e0776-6725-44d1-a479-2804612b007b
          role: system
          text: "### \U0001F3AF 提取目标：\n从建设项目环境影响报告书中，完成以下任务：\n\n#### ✅ 任务一：提取“聚合物名称”和原辅材料\n\
            - **输入内容**：`{{#1748832981767.pollution_emission_table2#}}`与{{#context#}}比对\n\
            - **提取范围**：\n  - 关键词：如“聚酰胺树脂”、“聚氯乙烯”等聚合物名称。\n  - 表格或段落中提到的原辅材料信息。\n- **输出要求**：\n\
            \  - 使用标准 Markdown 格式返回提取结果。\n  - 示例输出：\n    ```markdown\n    #### 提取的聚合物名称和原辅材料\n\
            \    - 聚合物名称：聚酰胺树脂、聚氯乙烯、PP、PBT塑料\n    - 原辅材料：详见表格或段落描述。\n知识库表4大气污染物排放限值中对应“适用的合成树脂类型”查找“污染项目”（称之为“特征污染物”）以及排放限值（例如：聚酰胺树脂，污染物项目：氨，排放限值30mg/m³）\n\
            \    ```\n  ####输出结论格式：\n1、塑料特征污染物与大气污染物排放标准描述内容相符/不相符，缺少xxx；\n2、项目原料包括xxxxx（如：PP、PBT塑料），特征污染物包括：xxxxxx，与大气污染物排放标准描述内容相符；\n\
            /no_think"
        selected: false
        title: 特征污染物种类及排放限值的识别提取、以及判定
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749021461462'
      position:
        x: 3195
        y: 597
      positionAbsolute:
        x: 3195
        y: 597
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 0hhkSGv+OYPJrgFk1Rnpz/AhEpeuhbWuimpouu70hzBvbfyeAKEmB2xCOHgDLRgi
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - '1749025010196'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 90
      id: '1749024854421'
      position:
        x: 2891
        y: 582
      positionAbsolute:
        x: 2891
        y: 582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - pollution_emission_table2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: a8dd0d5b-fd5c-4a52-8fbb-a537cf0a46f9
          role: system
          text: '提取{{#context#}}中的原辅材料名称

            输出格式：

            原辅材料有xxx

            /no_think'
        selected: false
        title: 原辅材料提取节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749025010196'
      position:
        x: 2587
        y: 582
      positionAbsolute:
        x: 2587
        y: 582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - sound_environment_quality2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: bbed5acc-dec2-41fb-9762-d74ac6f95567
          role: system
          text: ''
        - id: 74568165-d777-425c-ba7b-a9e5690103e2
          role: user
          text: "你是一位严谨的环境噪声信息提取专家，请基于以下两项输入，精确提取指定字段，禁止推测、改写或补充。\n\n【输入】\nA：声环境质量描述\
            \ →{{#context#}}\nB：噪声排放标准描述 →{{#1748832981767.noise_emission_standards2#}}\n\
            \n【提取任务】\n1. 从 A 中提取：项目厂界所属声功能区类型（如“3类区”、“2类声环境功能区”等），若未明确，输出“未知”。\n2.\
            \ 从 B 中提取三项：\n   - 项目厂界所属声功能区类型（同上格式）；\n   - 执行标准名称（如《工业企业厂界环境噪声排放标准》GB12348-2008）；\n\
            \   - 昼间标准值、夜间标准值（从表格或文本中提取数值+单位，如“65 dB(A)”、“55 dB(A)”；若未提及，填“未提供”）。\n\
            \n【输出格式】（必须严格遵守，仅输出以下内容）\n1. 声环境功能区（A）：XXX\n2. 声环境功能区（B）：XXX\n3. 执行标准名称：XXX\n\
            4. 昼间标准值：XXX\n5. 夜间标准值：XXX\n\n【强制规则】\n- 所有内容必须原文提取，禁止语义推断；\n- 若字段不存在或无法识别，填“未知”或“未提供”；\n\
            - 不输出任何解释、说明、额外文本；\n- 变量仅在【输入】部分引用一次，后续用 A/B 指代。\n/no_think"
        selected: false
        title: 声环境质量现状、噪声排放标准
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749028373402'
      position:
        x: 2283
        y: 713
      positionAbsolute:
        x: 2283
        y: 713
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1749028373402'
          - text
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 09ad111d-b5de-4eb2-876f-7ea15014d262
          role: system
          text: '从{{#context#}}的文本内容中提取按要求提取相应的信息并做出判断

            提取的信息{{#1748832981767.sound_environment_quality2#}}{{#1748832981767.noise_emission_standards2#}}'
        - id: d89ab492-a83b-4d5b-a1c7-570bf94cb7cf
          role: user
          text: '你是一个环境噪声合规审查助手，请根据输入内容完成以下两个判断任务，并严格按照指定格式输出结果。


            【输入变量】

            - 项目厂界功能区类型（来源1）：{{#1748832981767.sound_environment_quality2#}}

            - 项目厂界功能区类型（来源2）：{{#1748832981767.noise_emission_standards2#}}

            - 噪声排放执行标准（来源2）：{{#1748832981767.noise_emission_standards2#}} 中应包含标准名称


            【审查任务】

            1. 比对两个“项目厂界功能区类型”是否完全一致（如“3类区”、“2类声环境功能区”等），若一致，进入任务2；若不一致，直接判定为错误。

            2. 若任务1正确，则检查噪声排放执行标准是否明确包含：《工业企业厂界环境噪声排放标准》（GB12348-2008），若包含则正确，否则错误。


            【输出格式】（必须严格遵守，仅输出以下两行）

            1、功能区类型比对：正确 / 错误（若错误，请注明：来源1为“X”，来源2为“Y”）

            2、噪声排放标准：正确 / 错误（若错误，请注明：未引用GB12348-2008或引用标准为“XXX”）


            【示例输出1 - 全部正确】

            1、功能区类型比对：正确

            2、噪声排放标准：正确


            【示例输出2 - 功能区错误】

            1、功能区类型比对：错误（来源1为“3类区”，来源2为“2类区”）

            2、噪声排放标准：未执行（因任务1失败）


            【示例输出3 - 标准错误】

            1、功能区类型比对：正确

            2、噪声排放标准：错误（引用标准为《社会生活环境噪声排放标准》GB22337-2008）

            /no_think'
        selected: false
        title: 数据比对节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749028755147'
      position:
        x: 2891
        y: 714
      positionAbsolute:
        x: 2891
        y: 714
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - qMNsYN4OLyfyugV0VsQuMR7oBkCv86NvYeFR61VXYm9UvOPdLzNhogIcawY0IG4M
        - FPiJWPjnUVRlPengr+A8j+ciCe6f/K4IrI57386oEmoNyjyP0FIhcfXTXISHSt4J
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - '1749028373402'
        - text
        retrieval_mode: multiple
        selected: false
        title: 知识检索 4
        type: knowledge-retrieval
      height: 90
      id: '1749029641468'
      position:
        x: 2587
        y: 842
      positionAbsolute:
        x: 2587
        y: 842
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1749029641468'
          - result
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 37b995ab-5a07-4c1e-9e44-a5ee5e8ad481
          role: system
          text: '根据{{#1748832981767.sound_environment_quality2#}}里的声功能类型和{{#context#}}的标准值，判断“噪声排放标准”表格，（特别注意：此处为表格内容）里面填写的噪声标准值有没错误。

            如：经判定后项目属于3类声功能区，厂界噪声排放执行《工业企业厂界环境噪声排放标准》（GB12348-2008）中的3类标准，则比对知识库里面第三类的夜间和昼间的数值是否正确。

            /no_think'
        selected: false
        title: 噪声节点表格提取
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749029671324'
      position:
        x: 2891
        y: 844
      positionAbsolute:
        x: 2891
        y: 844
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1749028755147'
          - text
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 42efe256-ab07-450e-8b28-234c5153ef1e
          role: system
          text: "<要求>\n1.根据{{#context#}}的任务1结果，错误则输出：功能区编制错误。再根据任务2的结果，错误则输出：执行标准编制错误。\n\
            2.根据{{#1749029671324.text#}}中的结果，若错误则输出：噪声限值标准编制错误。\n3.全对则输出:噪声排放标准中执行标准与排放限值内容无误.\n\
            <输出格式>\n1、噪声排放标准中执行标准与排放限值内容无误/或 功能区编制错误/执行标准编制错误/噪声限值标准编制错误；\n\r2、总结项目所属声功能区为XX类，厂界执行《工业企业厂界环境噪声排放标准》（GB12348-2008）标准与环评编制的内容一致性的分析。（大模型自行总结分析）\n\
            /no_think\r"
        selected: false
        title: 噪声内容整合节点
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749029725917'
      position:
        x: 3195
        y: 728
      positionAbsolute:
        x: 3195
        y: 728
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(\n    answer1: str,\n    answer2: str,\n    answer3: str,\n\
          \    answer4: str,\n    answer5: str,\n    answer6: str,\n    answer7: str\n\
          ) -> dict:\n    \"\"\"\n    合并7个环保审核模块的结果，使用【】标题分隔，保留原始语义结构\n    返回格式：{\"\
          result\": \"合并后的完整文本\"}\n    \"\"\"\n    combined_result = f\"\"\"\n【水污染物排放标准分析】\n\
          {answer1}\n\n【大气污染源信息解析与完整性对比】\n{answer2}\n\n【工序、产污环节及污染物判定】\n{answer3}\n\
          \n【特征污染物种类及排放限值识别】\n{answer4}\n\n【噪声内容整合】\n{answer5}\n\n【固体废物控制标准内容】\n{answer6}\n\
          \n【废水源强核算】\n{answer7}\n\"\"\"\n    return {\"result\": combined_result.strip()}\
          \  # 去除首尾空行，保持整洁"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 11
        type: code
        variables:
        - value_selector:
          - '1748863015320'
          - text
          variable: answer1
        - value_selector:
          - '1748878190616'
          - text
          variable: answer2
        - value_selector:
          - '1748939182549'
          - text
          variable: answer3
        - value_selector:
          - '1749021461462'
          - text
          variable: answer4
        - value_selector:
          - '1749029725917'
          - text
          variable: answer5
        - value_selector:
          - '1749040235062'
          - text
          variable: answer6
        - value_selector:
          - '1749041250672'
          - text
          variable: answer7
      height: 52
      id: '1749038137309'
      position:
        x: 3499
        y: 582
      positionAbsolute:
        x: 3499
        y: 582
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - noise_emission_standards2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_config:
          jinja2_variables: []
        prompt_template:
        - edition_type: basic
          id: 9c2fce4a-c972-4af7-8aba-86cc9481124c
          role: system
          text: ''
        - id: 4aa0a228-704f-48fc-9889-d7ef4bb32bb2
          role: user
          text: "你是一个环保法规合规审查助手，请将输入内容与标准数据进行逐项比对，判断固体废物与危险废物执行标准是否完整准确。仅输出指定格式结果，不输出任何说明或思考过程。\n\
            \n【输入】\n- 待审内容：{{#context#}}\n- 标准数据：\n  固体废物执行标准：《中华人民共和国固体废物污染环境防治法》（2020年修正）、《广东省固体废物污染环境防治条例》（2018年修订）\n\
            \  危险废物执行标准：《国家危险废物名录》（2025年）、《危险废物贮存污染控制标准》（GB18597-2023）、《危险废物收集 贮存\
            \ 运输技术规范》（HJ2025-2012）、《建设项目危险废物环境影响评价指南》（环保部公告 2017 年第 43 号）\n\n【审查规则】\n\
            1. 从待审内容中提取“固体废物”相关执行标准，与标准数据逐字比对（含括号内修订年份），若完全一致 → 判“无误”；若缺失任一标准 → 指出缺失项。\n\
            2. 提取“危险废物”相关执行标准，与标准数据逐字比对，若完全一致 → 判“无误”；若缺失或错误 → 指出缺失或错误项。\n3. 所有比对必须包含标准全称及括号内修订信息，如“（2020年修正）”，缺少即视为不匹配。\n\
            \n【输出格式】（必须严格遵守）\n1、固体废物控制排放中执行标准内容无误 / 或 缺少固体废物执行标准：《XXX》（XXXX） / 或 缺少危险废物执行标准：《XXX》（XXXX）\n\
            2、固体废物标准完整项：《XXX》《XXX》；危险废物标准完整项：《XXX》《XXX》《XXX》《XXX》；缺失项分析：如“缺少《建设项目危险废物环境影响评价指南》（2017年第43号），影响环评合规性”\n\
            \n【示例输出1 - 全部正确】\n1、固体废物控制排放中执行标准内容无误\n2、固体废物标准完整：《中华人民共和国固体废物污染环境防治法》（2020年修正）、《广东省固体废物污染环境防治条例》（2018年修订）；危险废物标准完整：四项标准齐全，无缺失，体系合规。\n\
            \n【示例输出2 - 缺少危险废物标准】\n1、缺少危险废物执行标准：《建设项目危险废物环境影响评价指南》（环保部公告 2017 年第 43\
            \ 号）\n2、固体废物标准完整；危险废物缺少环评指南文件，可能导致项目审批风险，建议补充引用。\n\n【强制约束】\n- 不得输出任务说明、思考过程、额外解释；\n\
            - 所有判断必须基于字面精确匹配，禁止语义推断；\n- 若未提及某类废物标准，视为“缺失”；\n- 变量仅在【输入】部分引用一次。\n/no_think"
        selected: false
        structured_output_enabled: false
        title: 固体废物控制标准内容
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749040235062'
      position:
        x: 3195
        y: 934
      positionAbsolute:
        x: 3195
        y: 934
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1748832981767'
          - waste_water_source_strength2
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: minimax-m2.7-highspeed
          provider: langgenius/minimax/minimax
        prompt_template:
        - id: 5dcf8650-7127-4b5d-822e-ed5b94dc02c4
          role: system
          text: '帮我核算{{#context#}}的内容是否正确，写出核算的过程

            /no_think'
        selected: false
        title: 废水源强核算
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1749041250672'
      position:
        x: 3195
        y: 1061.8063500406108
      positionAbsolute:
        x: 3195
        y: 1061.8063500406108
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: 杨龙翔
        desc: ''
        height: 88
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"提取内容包括第二部分、第三部分，第四部分的开头","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 88
      id: '1757642674569'
      position:
        x: 2652.632667753103
        y: 105.04802771949781
      positionAbsolute:
        x: 2652.632667753103
        y: 105.04802771949781
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    - data:
        code: "import json\n\ndef main(text: str) -> dict:\n    content = json.loads(text)\n\
          \    cols_list = [\n        {k:v for k, v in item.items() if k != 'content'}\n\
          \        for item in content\n    ]\n    cols_list = str(cols_list)\n  \
          \  return {\n        \"content\": content,\n        \"cols_list\": cols_list\n\
          \    }"
        code_language: python3
        desc: ''
        outputs:
          cols_list:
            children: null
            type: string
          content:
            children: null
            type: array[object]
        selected: false
        title: 代码执行 4
        type: code
        variables:
        - value_selector:
          - env
          - html_json
          value_type: string
          variable: text
      height: 52
      id: '1761190649970'
      position:
        x: 332.4125989480318
        y: 305
      positionAbsolute:
        x: 332.4125989480318
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(content: list) -> dict:\n    content3 = content[3]\n    return\
          \ {\n        \"case8_blocks\": [content3] # 返回包含单个元素 content[3] 的列表\n  \
          \  }"
        code_language: python3
        desc: ''
        outputs:
          case8_blocks:
            children: null
            type: array[object]
        selected: false
        title: 代码执行 5
        type: code
        variables:
        - value_selector:
          - '1761190649970'
          - content
          value_type: array[object]
          variable: content
      height: 52
      id: '1761191224409'
      position:
        x: 638
        y: 305
      positionAbsolute:
        x: 638
        y: 305
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -1085.0717140723275
      y: 86.91932223854701
      zoom: 0.7578582832551989
  rag_pipeline_variables: []
