06_Dify工作流/环评智能审核_1-2-4-5-6-7-9修复上下文合并版_不迭代 (1).yml
app:
  description: 4、6、7、9已改为不迭代一次性提取与审核链路
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 环评智能审核_1-2-4-5-6-7-9修复上下文合并版_不迭代
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 10
        file_size_limit: 150
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 30
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1768289393231-source-1768287090198-target
      source: '1768289393231'
      sourceHandle: source
      target: '1768287090198'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1768287090198-source-1778207607941-target
      source: '1768287090198'
      sourceHandle: source
      target: '1778207607941'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778207607941-source-1769408650324-target
      source: '1778207607941'
      sourceHandle: source
      target: '1769408650324'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1769408650324-source-1769502020892-target
      source: '1769408650324'
      sourceHandle: source
      target: '1769502020892'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1769502020892-source-1768287121451-target
      source: '1769502020892'
      sourceHandle: source
      target: '1768287121451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1768285679378-source-1779108656032-target
      source: '1768285679378'
      sourceHandle: source
      target: '1779108656032'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108656032-source-1779108665093-target
      source: '1779108656032'
      sourceHandle: source
      target: '1779108665093'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108665093-source-1779108673823-target
      source: '1779108665093'
      sourceHandle: source
      target: '1779108673823'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108673823-source-1779108681654-target
      source: '1779108673823'
      sourceHandle: source
      target: '1779108681654'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108681654-source-1779108691110-target
      source: '1779108681654'
      sourceHandle: source
      target: '1779108691110'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108691110-source-1779108697862-target
      source: '1779108691110'
      sourceHandle: source
      target: '1779108697862'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779108697862-source-1779108712713-target
      source: '1779108697862'
      sourceHandle: source
      target: '1779108712713'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1779108712713-source-1768289393231-target
      source: '1779108712713'
      sourceHandle: source
      target: '1768289393231'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        isInLoop: false
        selected: false
        title: 开始
        type: start
        variables:
        - label: html
          max_length: 500000
          options: []
          required: true
          type: paragraph
          variable: html
      height: 108
      id: '1768285679378'
      position:
        x: 4929.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 4929.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(\n    case1: str,\n    case2: str,\n    case4: str,\n    case5:\
          \ str,\n    case6: str,\n    case7: str,\n    case9: str\n) -> dict:\n \
          \   \"\"\"合并7个审核模块结果。4、6、7、9均为不迭代审查链路。\"\"\"\n    combined_result = f\"\"\
          \"\n====== 国民经济/产品原料 ======\n{case1}\n\n====== 环保投资核算 ======\n{case2}\n\n\
          ====== 三线一单管控内容一致性 ======\n{case4}\n\n====== 建设内容完整性 ======\n{case5}\n\n\
          ====== 环境质量现状数据引用 ======\n{case6}\n\n====== 环境质量执行标准准确性 ======\n{case7}\n\
          \n====== 运营期产污环节污染物产污系数使用合理性 ======\n{case9}\n\"\"\"\n    return {\"result\"\
          : combined_result.strip()}\n"
        code_language: python3
        desc: ''
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 合并七个审核结果（不迭代）
        type: code
        variables:
        - value_selector:
          - '1779108656032'
          - text
          value_type: string
          variable: case1
        - value_selector:
          - '1779108665093'
          - text
          value_type: string
          variable: case2
        - value_selector:
          - '1779108673823'
          - text
          value_type: string
          variable: case4
        - value_selector:
          - '1779108681654'
          - text
          value_type: string
          variable: case5
        - value_selector:
          - '1779108691110'
          - text
          value_type: string
          variable: case6
        - value_selector:
          - '1779108697862'
          - text
          value_type: string
          variable: case7
        - value_selector:
          - '1779108712713'
          - text
          value_type: string
          variable: case9
      height: 51
      id: '1768289393231'
      position:
        x: 7500
        y: 300
      positionAbsolute:
        x: 7500
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1768289393231'
          - result
        desc: ''
        isInLoop: false
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: summary-7-system
          role: system
          text: "调查文本：{{#context#}}\n你是归纳总结专家，请你对以上提供的文本进行分析，按照以下四部分要求提取并整理信息：\n1.\
            \ 核心模块：提取核心模块的名称；\n2. 审核结果：仅从以下结果中选择其一填写——匹配、不匹配、部分匹配、无法判断；也可呈现具体审核结论中的核心判断（如“核算正确”“内容齐全”“信息不完整”等）；\n\
            3. 依据文件：审核结果依据的国标、技术指南、地方准入清单、产排污系数手册等规范性文件；\n4. 审核结果为匹配/不匹配/部分匹配/无法判断的原因：详细提炼支撑上述审核结果的关键依据。\n\
            \n请按照核心模块顺序输出，一共7条：\n1. 国民经济/产品原料\n2. 环保投资核算\n3. 三线一单管控内容一致性\n4. 建设内容完整性\n\
            5. 环境质量现状数据引用\n6. 环境质量执行标准准确性\n7. 运营期产污环节污染物产污系数使用合理性\n\n输出模板：\n[\n  {\"\
            审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"},\n  {\"审核模块\":\"xx\",\"审核结果\":\"xx\",\"依据文件\":\"xx\",\"审核结果为匹配/不匹配/部分匹配/无法判断的原因\"\
            :\"xx\"}\n]\n/no_think"
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 87
      id: '1768287090198'
      position:
        x: 7800
        y: 300
      positionAbsolute:
        x: 7800
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(text: str) -> dict:\n    \"\"\"\n\
          \    清洗文本中的双引号、转义符、多余换行，确保后续JSON可正常解析\n    \"\"\"\n    if not text:\n  \
          \      return {\"cleaned_text\": \"\"}\n\n    # 1. 移除所有双引号（最关键）\n    cleaned\
          \ = text.replace('\"', '')\n    \n    # 2. 移除转义符 \\\n    cleaned = cleaned.replace('\\\
          \\', '')\n    \n    # 3. 清理换行、空格、思考标签\n    cleaned = cleaned.replace('\\\
          n', ' ').replace('\\r', ' ')\n    cleaned = cleaned.replace('', '').replace('',\
          \ '')\n    \n    # 4. 清理多余空格\n    cleaned = re.sub(r'\\s+', ' ', cleaned).strip()\n\
          \n    return {\n        \"cleaned_text\": cleaned\n    }"
        code_language: python3
        isInLoop: false
        outputs:
          cleaned_text:
            children: null
            type: string
        selected: false
        title: 代码执行 4
        type: code
        variables:
        - value_selector:
          - '1768287090198'
          - text
          value_type: string
          variable: text
      height: 51
      id: '1778207607941'
      position:
        x: 8100
        y: 300
      positionAbsolute:
        x: 8100
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1778207607941'
          - cleaned_text
        isInLoop: false
        model:
          completion_params: {}
          mode: chat
          name: gpt-5.5
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: json-7-system
          role: system
          text: 你是一位严格遵循JSON格式规范的数据整理员，擅长把多份残缺的调查数据整理为一份完整的JSON格式数据。
        - id: json-7-user
          role: user
          text: '/no_think

            信息文本：

            {{#context#}}


            任务：

            从信息文本中提取7个审核模块的结果，并填入下方JSON模板。只允许替换每个模块中的以下3个字段值：

            1. AuditResults.details

            2. SupportingDocument.details

            3. Reasons.details


            字段映射：

            - 国民经济/产品原料 → NationalEconomy/ProductRawMaterials

            - 环保投资核算 → EnvironmentalProtectionInvestmentAccounting

            - 三线一单管控内容一致性 → ThreeLinesOneListConsistency

            - 建设内容完整性 → ConstructionContentCompleteness

            - 环境质量现状数据引用 → EnvironmentalQualityStatusDataReference

            - 环境质量执行标准准确性 → EnvironmentalQualityStandardsAccuracy

            - 运营期产污环节污染物产污系数使用合理性 → OperatingPollutionCoefficientRationality

            - 审核结果 → AuditResults.details

            - 依据文件 → SupportingDocument.details

            - 原因、审核原因、审核结果为匹配/不匹配/部分匹配/无法判断的原因 → Reasons.details


            填写规则：

            1. 只输出合法JSON，不输出Markdown、代码块、解释、分析过程、<think>。

            2. 必须保留完整JSON结构，不得删除、增加、改名、调序任何字段。

            3. required、properties、type、title等字段必须原样保留。

            4. AuditResults.details只能填写以下值之一：匹配、不匹配、部分匹配、未提供、无法判断。

            5. SupportingDocument.details填写依据文件名称；如有书名号，去掉书名号；如缺失，填未提供。

            6. Reasons.details填写真实原因，保留核心判断依据即可，不超过120字。

            7. details文本内容内部不得包含英文双引号、反引号、书名号、换行符。

            8. 如果某模块在信息文本中缺失：

            - AuditResults.details填无法判断

            - SupportingDocument.details填未提供

            - Reasons.details填输入内容不足，无法判断

            9. 输出前自行检查所有 { } 和 [ ] 是否完整闭合；

            10. 根对象必须完整闭合，最后一个字符必须是 }。


            完整JSON模板如下，只替换details的值：


            {

            "required": [

            "NationalEconomy/ProductRawMaterials",

            "EnvironmentalProtectionInvestmentAccounting",

            "ThreeLinesOneListConsistency",

            "ConstructionContentCompleteness",

            "EnvironmentalQualityStatusDataReference",

            "EnvironmentalQualityStandardsAccuracy",

            "OperatingPollutionCoefficientRationality"

            ],

            "properties": {

            "NationalEconomy/ProductRawMaterials": {

            "type": "object",

            "title": "NationalEconomy/ProductRawMaterials",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "EnvironmentalProtectionInvestmentAccounting": {

            "type": "object",

            "title": "EnvironmentalProtectionInvestmentAccounting",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "ThreeLinesOneListConsistency": {

            "type": "object",

            "title": "ThreeLinesOneListConsistency",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "ConstructionContentCompleteness": {

            "type": "object",

            "title": "ConstructionContentCompleteness",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "EnvironmentalQualityStatusDataReference": {

            "type": "object",

            "title": "EnvironmentalQualityStatusDataReference",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "EnvironmentalQualityStandardsAccuracy": {

            "type": "object",

            "title": "EnvironmentalQualityStandardsAccuracy",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            },

            "OperatingPollutionCoefficientRationality": {

            "type": "object",

            "title": "OperatingPollutionCoefficientRationality",

            "properties": {

            "AuditResults": {"type": "string", "title": "审核结果", "details": ""},

            "SupportingDocument": {"type": "string", "title": "依据文件", "details": ""},

            "Reasons": {"type": "string", "title": "原因", "details": ""}

            }

            }

            }

            }

            '
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1769408650324'
      position:
        x: 8400
        y: 300
      positionAbsolute:
        x: 8400
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef _strip_noise(text: str) -> str:\n   \
          \ \"\"\"\n    清理大模型输出中的干扰内容：\n    1. 去掉 <think>...</think>\n    2. 去掉 markdown\
          \ 代码块\n    3. 去掉首尾空白\n    \"\"\"\n    text = (text or \"\").strip()\n\n\
          \    # 去除完整 think 块\n    text = re.sub(r\"<think>.*?</think>\", \"\", text,\
          \ flags=re.S)\n\n    # 兼容残留 think 标签\n    text = text.replace(\"<think>\"\
          , \"\").replace(\"</think>\", \"\")\n\n    # 去除 markdown json 代码块标记\n  \
          \  text = re.sub(r\"^```(?:json)?\\s*\", \"\", text, flags=re.I)\n    text\
          \ = re.sub(r\"\\s*```$\", \"\", text)\n\n    return text.strip()\n\n\ndef\
          \ _extract_json_object(text: str) -> str:\n    \"\"\"\n    从模型输出中提取第一个 JSON\
          \ 对象。\n    防止模型在 JSON 前后输出解释性文字。\n    \"\"\"\n    start = text.find(\"{\"\
          )\n    if start == -1:\n        return text.strip()\n\n    end = text.rfind(\"\
          }\")\n    if end == -1 or end < start:\n        return text[start:].strip()\n\
          \n    return text[start:end + 1].strip()\n\n\ndef _balance_json_braces(text:\
          \ str) -> str:\n    \"\"\"\n    自动补齐缺失的右括号。\n    支持补齐：\n    1. {}\n    2.\
          \ []\n    会避开字符串内部的括号。\n    \"\"\"\n    stack = []\n    in_str = False\n\
          \    esc = False\n\n    for ch in text:\n        if esc:\n            esc\
          \ = False\n            continue\n\n        if ch == \"\\\\\" and in_str:\n\
          \            esc = True\n            continue\n\n        if ch == '\"':\n\
          \            in_str = not in_str\n            continue\n\n        if in_str:\n\
          \            continue\n\n        if ch in \"{[\":\n            stack.append(ch)\n\
          \n        elif ch in \"}]\":\n            if stack:\n                top\
          \ = stack[-1]\n                if (top == \"{\" and ch == \"}\") or (top\
          \ == \"[\" and ch == \"]\"):\n                    stack.pop()\n\n    closing\
          \ = \"\"\n    while stack:\n        top = stack.pop()\n        closing +=\
          \ \"}\" if top == \"{\" else \"]\"\n\n    return text + closing\n\n\ndef\
          \ main(json_str: str) -> dict:\n    \"\"\"\n    Dify 代码节点入口。\n    输入：json_str，来自\
          \ LLM 2 的输出。\n    输出：result，返回清洗和修复后的合法 JSON 字符串。\n    \"\"\"\n    text\
          \ = _strip_noise(json_str)\n    text = _extract_json_object(text)\n    text\
          \ = _balance_json_braces(text)\n\n    try:\n        obj = json.loads(text)\n\
          \        text = json.dumps(obj, ensure_ascii=False, separators=(\",\", \"\
          :\"))\n    except Exception:\n        # 如果仍然解析失败，至少返回去除换行后的文本，便于日志排查\n \
          \       text = text.replace(\"\\n\", \"\").strip()\n\n    return {\n   \
          \     \"result\": text\n    }"
        code_language: python3
        isInLoop: false
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1769408650324'
          - text
          value_type: string
          variable: json_str
      height: 51
      id: '1769502020892'
      position:
        x: 8700
        y: 300
      positionAbsolute:
        x: 8700
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        isInLoop: false
        outputs:
        - value_selector:
          - '1769502020892'
          - result
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1768287121451'
      position:
        x: 9000
        y: 300
      positionAbsolute:
        x: 9000
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 2e910a03-3e4a-469a-a05f-7f3db4b94d8e
        provider_name: m1-国民经济分类判断max
        provider_type: workflow
        selected: true
        title: m1-国民经济分类判断max
        tool_configurations: {}
        tool_description: 国民经济分类判断审核
        tool_label: m1-国民经济分类判断max
        tool_name: huanping_1max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108656032'
      position:
        x: 5231.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 5231.1102742918065
        y: 271.20138523630243
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 5bcd2485-d878-48c9-bf4b-8c3da9c59f82
        provider_name: m2-环评投资核算max
        provider_type: workflow
        selected: false
        title: m2-环评投资核算max
        tool_configurations: {}
        tool_description: 2-环评投资核算
        tool_label: m2-环评投资核算max
        tool_name: huanping_2max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108665093'
      position:
        x: 5533.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 5533.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: a9ba7b45-6183-4de3-9acf-2e31bf984aad
        provider_name: m4-三线一单管控内容一致性max
        provider_type: workflow
        selected: false
        title: m4-三线一单管控内容一致性max
        tool_configurations: {}
        tool_description: 不迭代版：一次性筛选、提取、审查、清洗输出
        tool_label: m4-三线一单管控内容一致性max
        tool_name: huanping_3max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108673823'
      position:
        x: 5835.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 5835.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: a7a06dad-0055-4a0e-80ee-cce3014d90fd
        provider_name: m5-建设内容编制完整性判断max
        provider_type: workflow
        selected: false
        title: m5-建设内容编制完整性判断max
        tool_configurations: {}
        tool_description: '环评审核qwen3：32b

          '
        tool_label: m5-建设内容编制完整性判断max
        tool_name: huanping_5max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108681654'
      position:
        x: 6135.594557725296
        y: 271.20138523630243
      positionAbsolute:
        x: 6135.594557725296
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: a0591672-8dec-4f5d-ac9f-e5d6a6d364b3
        provider_name: m6-环境质量现状数据引用是否有误max
        provider_type: workflow
        selected: false
        title: m6-环境质量现状数据引用是否有误max
        tool_configurations: {}
        tool_description: 不迭代版：一次性筛选、提取、审查、清洗输出
        tool_label: m6-环境质量现状数据引用是否有误max
        tool_name: huanping_6max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108691110'
      position:
        x: 6439.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 6439.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 91200d9c-5f9f-40b9-ba4c-d1db883fdca2
        provider_name: m7-环境质量执行标准准确性判断max
        provider_type: workflow
        selected: false
        title: m7-环境质量执行标准准确性判断max
        tool_configurations: {}
        tool_description: 不迭代版：一次性筛选、提取、审查、清洗输出
        tool_label: m7-环境质量执行标准准确性判断max
        tool_name: huanping_7max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108697862'
      position:
        x: 6741.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 6741.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: html
            ja_JP: html
            pt_BR: html
            zh_Hans: html
          llm_description: ''
          max: null
          min: null
          name: html
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          html: ''
        plugin_id: null
        plugin_unique_identifier: null
        provider_icon:
          background: '#FFEAD5'
          content: 🤖
        provider_id: 565608bf-eb1b-41ca-9350-25b2a17c7f83
        provider_name: m9-运营期间产污环节污染物产污系数使用max
        provider_type: workflow
        selected: false
        title: m9-运营期间产污环节污染物产污系数使用max
        tool_configurations: {}
        tool_description: 环评审核qwen3：32b
        tool_label: m9-运营期间产污环节污染物产污系数使用max
        tool_name: huanping_9max
        tool_node_version: '2'
        tool_parameters:
          html:
            type: mixed
            value: '{{#1768285679378.html#}}'
        type: tool
      height: 51
      id: '1779108712713'
      position:
        x: 7043.1102742918065
        y: 271.20138523630243
      positionAbsolute:
        x: 7043.1102742918065
        y: 271.20138523630243
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -4772.052485859044
      y: 145.86353940191793
      zoom: 1.0200379823536034
  rag_pipeline_variables: []
